{% load l10n %}
<table class="table table-striped">
    <caption>Materiales y Medicamentos Utilizados</caption>
    <thead class="gradient">
    <tr>
        <th>C&oacute;digo</th>
        <th>Descripci&oacute;n</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for cobro in emergencia.cobros.all %}
    <tr>
        {% load l10n %}
        <td>{{ cobro.cargo.id|unlocalize }}</td>
        <td>{{ cobro.cargo.descripcion }}</td>
        <td>{{ cobro.cantidad }}</td>
        <td><a href="{% url "emergencia-cobro-eliminar" cobro.id %}" class="btn btn-danger">Eliminar</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
