  <section id="diagnosticos">
    <hgroup>
      <h2>Diagn&oacute;sticos</h2>
    </hgroup>
    {% for diagnostico in emergencia.diagnosticos.all %}
    <article class="diagnostico">
      <p>{{ diagnostico.diagnostico }}</p>
    </article>
  {% endfor %}
  </section>
  <section id="hallazgos">
  <hgroup>
    <h3>Hallazgos</h3>
  </hgroup>
  {% for hallazgo in emergencia.hallazgos.all %}
  <article class="hallazgo">
    <p>{{ hallazgo.hallazgo }}</p>
  </article>
  {% endfor %}
  </section>
  <section id="tratamientos">
  <h2>Tratamientos</h2>
  {% for tratamiento in emergencia.tratamientos.all %}
  <article class="tratamiento">
    <p>Indicaciones: {{ tratamiento.indicaciones }}</p>
  </article>
  {% endfor %}
  </section>
  <section id="Remisiones">
  {% for remision_interna in emergencia.remisiones_externas.all %}
  <article>
    <h3>Remisi&oacute;n a Especialista</h3>
    <p>M&eacute;dico: {{ remision_interna.doctor }}</p>
  </article>
  {% endfor %}
  {% for remision_externa in emergencia.remisiones_externas.all %}
  <article>
    <h3>Remisi&oacute;n a otro Centro</h3>
    <p>Destino: {{ remision_externa.destino }}</p>
    <p>Diagn&oacute;stico: {{ remision_externa.diagnostico }}</p>
    <p>Notas: {{ remision_externa.notas }}</p>
  </article>
  {% endfor %}
  </section>
  <section id="cargos">
    <table class="table table-striped">
      <caption>Materiales y Medicamentos Utilizados</caption>
      <thead class="gradient">
        <tr>
          <th>C&oacute;digo</th>
          <th>Descripci&oacute;n</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for cobro in emergencia.cobros.all %}
        <tr>
          {% autoescape off %}
          <td>{{ cobro.cargo.id }}</td>
          {% endautoescape %}
          <td>{{ cobro.cargo.descripcion }}</td>
          <td>{{ cobro.cantidad }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
