{% load l10n %}
<table class="table table-striped table-bordered">
    <caption>Examenes F&iacute;sicos</caption>
    <thead>
    <tr>
      <th>ORL</th>
      <th>Cardiopulmonar</th>
      <th>Gastrointestinal</th>
      <th>Extremidades</th>
      <th>Otras</th>
    </tr>
    </thead>
    <tbody>
    {% for examen in emergencia.examenes_fisicos.all %}
    <tr>
       <td>ORL: {{ examen.orl }}</td>
       <td>Cardiopulmonar: {{ examen.cardiopulmonar }}</td>
       <td>Gastrointestinal: {{ examen.gastrointestinal }}</td>
       <td>Extremidades: {{ examen.extremidades }}</td>
       <td>Otras: {{ examen.otras }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
