{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}

    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <section class="col-md-6">
            <div class="main-content col-md-12">
                {% crispy form %}
            </div>
        </section>
        <aside class="col-md-3">
           <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                <ul class="nav nav-stacked nav-tabs">
                </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
