{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="row main-content">
        <div class="page-header">
            <h1>Citas Pendientes de {{ consultorio }}</h1>
        </div>
        {% for fecha, citas in fechas %}
            <div class="row">
            <div class="col-md-12">
                <section class="page-header">
                    <h3>{{ fecha }}</h3>
                </section>
            </div>
            </div>
            <div class="row">
                <section class="col-md-12">
                    {% for cita in citas %}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{% static 'images/face.jpg' %}"
                                         width="100" height="100"/>
                                </div>
                                <div class="col-md-9">
                                    <h3>{{ cita.persona }}
                                        <small>{{ cita.persona.obtener_edad }}
                                            a&ntilde;os
                                        </small>
                                    </h3>
                                    <p>
                                        {{ cita.persona.get_sexo_display }}
                                        Programado para
                                        el {{ cita.fecha }}
                                    </p>

                                    <p>
                                        <a class="btn btn-success"
                                           href="{% url 'consultorio-lectura-agregar' cita.persona.id %}">Agregar
                                            Lectura de Signos</a>
                                        <a class="btn btn-success"
                                           href="{% url 'clinique-cita-espera' cita.id %}">Enviar
                                            a Sala de Espera</a>
                                        <a class="btn btn-primary"
                                           href="{% url 'clinique-cita-ausente' cita.id %}">No
                                            se Presentó a la
                                            Cita</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock %}
