{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ consulta.persona }}
                    <small>Consulta</small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-9 main-content">
                    <article id="examen_fisico" class="tab-pane table-responsive">
                        {% load l10n %}
                        <table class="table table-striped">
                            <caption>Examenes F&iacute;sicos</caption>
                            <thead>
                            <tr>
                                <th>fecha</th>
                                <th>ORL</th>
                                <th>Cardiopulmonar</th>
                                <th>Gastrointestinal</th>
                                <th>Extremidades</th>
                                <th>Otras</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evaluacion in consulta.evaluaciones.all %}
                                <tr>
                                    <td>{{ evaluacion.created }}</td>
                                    <td>{{ evaluacion.orl }}</td>
                                    <td>{{ evaluacion.cardiopulmonar }}</td>
                                    <td>{{ evaluacion.gastrointestinal }}</td>
                                    <td>{{ evaluacion.extremidades }}</td>
                                    <td>{{ evaluacion.otras }}</td>
                                    <td><a class="btn btn-success" href="{% url 'clinique-evaluacion-edit' evaluacion.id %}"><i class="fa fa-edit"></i> Editar</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </article>
                    <article id="diagnostico" class="tab-pane table-responsive">
                        {% load l10n %}
                        <table class="table table-striped">
                            <caption>Diagn&oacute;stico</caption>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Consulta inicial</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for diagnostico in consulta.diagnosticos_clinicos.all %}
                                <tr>
                                    <td>{{ diagnostico.created }}</td>
                                    <td>{{ diagnostico.diagnostico }}</td>
                                    <td><a class="btn btn-success" href="{% url 'clinique-diagnostico-edit' diagnostico.id %}"><i class="fa fa-edit"></i> Editar</a> </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <table class="table table-striped">
                            <caption>Ordenes M&eacute;dicas</caption>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Orden</th>
                                <th>Evoluci&oacute;n</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orden in consulta.ordenes_medicas.all %}
                                <tr>
                                    <td>{{ orden.created }}</td>
                                    <td>{{ orden.orden }}</td>
                                    <td>{{ orden.evolucion }}</td>
                                    <td><a class="btn btn-success" href="{% url 'clinique-orden-edit' orden.id %}"><i class="fa fa-edit"></i> Editar</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <caption>Incapacidades</caption>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                                <th>D&iacute;as</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for incapacidad in consulta.incapacidades.all %}
                                <tr>
                                    <td>{{ incapacidad.created }}</td>
                                    <td>{{ incapacidad.descripcion }}</td>
                                    <td>{{ incapacidad.dias }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <caption>Prescripciones</caption>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nota</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prescripcion in consulta.prescripciones.all %}
                                <tr>
                                    <th>{{ prescripcion.created }}</th>
                                    <th>{{ prescripcion.nota }}</th>
                                    <td><a class="btn btn-success" href="{% url 'clinique-prescripcion-edit' prescripcion.id %}"><i class="fa fa-edit"></i> Editar</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </article>
                </div>
                <div class="col-md-3">
                    <nav class="sidebar-nav toolbox">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="{% url 'consultorio-evaluacion-agregar' consulta.persona.id consulta.id %}">Agregar
                                    Examen Físico</a>
                            </li>
                            <li>
                                <a href="{% url 'consultorio-prescripcion-agregar' consulta.persona.id consulta.id %}">Agregar
                                    Prescripci&oacute;n</a>
                            </li>
                            <li>
                                <a href="{% url 'consultorio-incapacidad-agregar' consulta.persona.id consulta.id %}">Agregar
                                    Incapacidad</a>
                            </li>
                            <li>
                                <a href="{% url 'consultorio-diagnostico-agregar' consulta.persona.id consulta.id %}">Agregar
                                    Diagnóstico</a>
                            </li>
                            <li>
                                <a href="{% url 'consultorio-om-agregar' consulta.persona.id consulta.id %}"><i
                                        class="fa fa-stethoscope"></i> Agregar
                                    Orden M&eacute;dica</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
