{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %} Contratos{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>Diagn&oacute;sticos
                <small>de {{ inicio }} al {{ fin }}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Fecha</th>
                        <th>Diagn&oacute;stico</th>
                    </tr>
                </thead>
                <tbody>
                    {% for diagnostico in diagnosticos.all %}
                    <tr>
                        <td>{{ diagnostico.paciente.persona }}</td>
                        <td>{{ diagnostico.created }}</td>
                        <td>{{ diagnostico.diagnostico }} {{ cita.persona.celular }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total</th>
                    <th>{{ total }}</th>
                </tr>
            </tfoot>
            </table>
        </section>
    </div>
{% endblock %}
