{% extends 'base.html' %}
{% load staticfiles %}{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <section class="col-md-12">
        <div class="page-header">
            <h1>Consultorios Médicos <small>{{ user.get_full_name }}</small></h1>
        </div>
    </section>
</div>
<div class="row">
    <div class="col-md-6">
    {% for consultorio in user.consultorios.all %}
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h2>
                        {{ consultorio }}
                        <small>{{ consultorio.pacientes.count }} pacientes</small>
                        <a class="pull-right btn btn-primary" href="{% url 'consultorio' consultorio.id %}">Ver</a>
                    </h2>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for consultorio in user.consultorios_administrados.all %}
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h2>
                        {{ consultorio }} <small>{{ consultorio.pacientes.count }} pacientes</small>
                        <a class="pull-right btn btn-primary" href="{% url 'consultorio' consultorio.id %}">Ver</a>
                    </h2>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <aside class="col-md-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="{% url 'consultorio-agregar' %}">Agregar Consultorio</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-md-12">
                {% crispy citaperiodoform %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% crispy diagnosticoperiodoform %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% crispy cargosperiodoform %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% crispy evaluacionperiodoform %}
            </div>
        </div>
    </aside>
</div>
{% endblock %}
