{% extends 'base.html' %}
{% load l10n %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ paciente }}
            <small>{{ paciente.consultorio }}</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="main-content col-md-12">‏
            <a class="btn btn-primary" href="{% url 'consultorio-nota-agregar' paciente.id %}">Agregar Nota de Enfermeria</a>
            <table class="table table-striped">
                <caption>Notas de Enfermeria</caption>
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nota</th>
                </tr>
                </thead>
                <tbody>
                {% for orden in paciente.notas_enfermeria.all %}
                    <tr>
                        <td>{{ orden.created }}</td>
                        <td>{{ orden.nota }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <aside class="col-md-3">
        <div class="toolbox col-md-12">
            {% include 'snippets/paciente_aside.html' %}
        </div>
    </aside>
</div>
{% endblock %}
