<table class="data">
  <thead class="gradient">
    <tr>
      <th>C&oacute;digo</th>
      <th>Habitaci&oacute;n</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Hora de Ingreso</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for admision in admisiones%}
    <tr>
      <td>{{ admision.paciente.codigo }}</td>
      <td>{{ admision.habitacion.get_tipo_display }} {{ admision.habitacion.numero }}</td>
      <td>{{ admision.paciente.nombre_completo }}</td>
      <td>{{ admision.paciente.obtener_edad }}</td>
      <td>{{ admision.paciente.get_sexo_display }}</td>
      <td>{{ admision.momento|date:"d/m/Y H:i" }}</td>
      <td><a href="{% url "admision-view-slug" admision.uuid %}">Ver</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
