<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>N&uacute;mero</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for habitacion in habitaciones %}
    <tr>
      <td>{{ habitacion.get_tipo_display }}</td>
      <td>{{ habitacion.numero }}</td>
      <td>{{ habitacion.get_estado_display }}</td>
      <td><a class="btn btn-primary" href="{% url 'habitacion-view' habitacion.id %}">Ver</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
