{% extends 'base.html' %}
{% load crispy_forms_tags %}{% load i18n %}{% load l10n %}
{% block header %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="row">
        <section class="col-md-9 main-content">
            {% crispy form %}
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li>
                            <a href="{{ consulta.persona.get_absolute_url }}">\
                                {% trans 'Volver al Paciente' %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
    <div class="row">
        <div class="col-md-12 main-content table-responsive">
            <table class="table table-striped">
                <caption>{% trans 'Cargos y Honorarios' %}</caption>
                <thead>
                <tr>
                    <th>{% trans 'Fecha' %}</th>
                    <th>{% trans 'Tipo' %}</th>
                    <th>{% trans 'Cargo' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for cargo in consulta.cargos.all %}
                    <tr>
                        <td>{{ cargo.created }}</td>
                        <td>{{ cargo.tipo }}</td>
                        <td>{{ cargo.item }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
