{% extends 'base.html' %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab5' %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}

    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <div class="col-md-12">‏
            <section class="page-title-box">
                <h4 class="page-title">Crear una Cita
                </h4>
            </section>
        </div>
        <section class="col-md-6">
            <div class="main-content m-t-10 col-md-12 panel panel-default">
                {% crispy form %}
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-stacked nav-tabs">
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
