{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}{% load l10n %}{% load humanize %}{% load i18n %}
{% block title %} {% trans 'Consultorio' %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{% trans 'Diagn&oacute;sticos' %}
                <small>de {{ inicio }} al {{ fin }}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <section class="col-md-6">
            <div class="main-content col-md-12">
                <table class="table table-stripped">
                    <tbody>
                    {% for consultorio in consultorios %}
                        <tr>
                            <td>{{ consultorio.consulta__consultorio__nombre }}</td>
                            <td>{{ consultorio.consultorio_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="col-md-6 main-content">
            <canvas width="600" height="400" id="consultorio"></canvas>
        </section>
    </div>
    <div class="row">
        <section class="col-md-12">
            <div class="main-content col-md-12">
                <div class="main-content col-md-12">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>{% trans 'Paciente' %}</th>
                            <th>{% trans 'Fecha' %}</th>
                            <th>{% trans 'Consultorio' %}</th>
                            <th>{% trans 'Diagn&oacute;stico' %}</th>
                            <th>{% trans 'Aseguradora' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for diagnostico in diagnosticos.all %}
                            <tr>
                                <td>{{ diagnostico.consulta.persona }}</td>
                                <td>{{ diagnostico.consulta.created }}</td>
                                <td>{{ diagnostico.consulta.consultorio }}</td>
                                <td>
                                    {{ diagnostico.afeccion|default_if_none:"" }}
                                    {{ diagnostico.diagnostico|default_if_none:"" }}
                                </td>
                                <td>{{ diagnostico.consulta.poliza.aseguradora }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="4">{% trans 'Total' %}</th>
                            <th>{{ total }}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {% localize off %}
        <script type="text/javascript"
                src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var data = {
                    labels: [
                        {% for consultorio, cantidad in consultorio_graph2 %} '{{ consultorio }}', {% endfor %} ],
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            data: [
                                {% for consultorio, cantidad in consultorio_graph %} {{ cantidad }}, {% endfor %} ]
                        }
                    ]
                };
                var ctx = $("#consultorio").get(0).getContext("2d");
                var grafico = new Chart(ctx).Bar(data, {
                    scaleShowLabels: true
                });
            });

        </script>
    {% endlocalize %}
{% endblock %}
