{% extends 'base.html' %}
{% load staticfiles %}{% load crispy_forms_tags %}{% load i18n %}{% load l10n %}
{% block content %}
    <div class="row">
        <div class="main-header col-md-12">‏
            <section class="page-header">
                <h1>{% trans 'Consultorios Médicos' %}
                    <small>{{ user.get_full_name }}</small>
                </h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="main-content col-md-12">‏
                    <section class="page-header">
                        <h2>{% trans 'En Consulta' %}</h2>
                    </section>
                    {% for espera in consultas %}
                        {% include 'clinique/snippets/espera.html' with espera=espera %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-12">
                            <section class="page-header">
                                <h2>
                                    {% trans 'Sala de Espera' %}
                                    <small>
                                        {% trans 'Promedio de Espera Ultimo mes' %}
                                        {{ total }} {% trans 'minutos' %}
                                    </small>
                                </h2>
                            </section>
                            {% for espera in esperas %}
                                {% include 'clinique/snippets/espera.html' with espera=espera %}
                            {% endfor %}
                        </div>
                    </div>
                    {% for consultorio in user.consultorios_activos.all %}
                        <div class="row">
                            <div class="col-md-9">
                                <div class="page-header">
                                    <h2>
                                        {{ consultorio }}
                                        <small>{% trans 'M&eacute;dico' %}</small>
                                        <a class="pull-right btn btn-primary"
                                           href="{{ consultorio.get_absolute_url }}">
                                            {% trans 'Ver' %}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for consultorio in user.consultorios_administrados.all %}
                        <div class="row">
                            <div class="col-md-9">
                                <div class="page-header">
                                    <h2>
                                        {{ consultorio }}
                                        <small>{% trans 'Administrador' %}</small>
                                        <a class="pull-right btn btn-primary"
                                           href="{{ consultorio.get_absolute_url }}">
                                            {% trans 'Ver' %}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for consultorio in user.secretarias.all %}
                        <div class="row">
                            <div class="col-md-9">
                                <div class="page-header">
                                    <h2>
                                        {{ consultorio }}
                                        <small>{% trans 'Secretaria' %}</small>
                                        <a class="pull-right btn btn-primary"
                                           href="{{ consultorio.get_absolute_url }}">
                                            {% trans 'Ver' %}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {% for form in monthly_forms %}
                    <div class="col-md-2">
                        {% crispy form %}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 main-content">
                    <h2>{% trans 'Estadísticas de Consulta' %}</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            {% for mes in meses %}
                                <th>
                                    {{ mes.inicio|date:"N" }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for tipo, lista in tipos.items %}
                            <tr>
                                <td>{{ tipo }}</td>
                                {% for item in lista %}
                                    <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>{% trans 'Total de Consultas' %}</td>
                            {% for mes in meses %}
                                <td>{{ mes.atenciones }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>{% trans 'Quejas' %}</td>
                            {% for mes in meses %}
                                <td>{{ mes.quejas }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="main-content col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            {% crispy citaperiodoform %}
                        </div>
                        <div class="col-md-4">
                            {% crispy diagnosticoperiodoform %}
                        </div>
                        <div class="col-md-4">
                            {% crispy cargosperiodoform %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% crispy evaluacionperiodoform %}
                        </div>
                        <div class="col-md-4">
                            {% crispy seguimientoperiodoform %}
                        </div>
                        <div class="col-md-4">
                            {% crispy consultasperiodoform %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            {% crispy consulta_estadistica %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-md-3">
            <div class="col-md-12 toolbox">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="{% url 'consultorio-agregar' %}">
                                {% trans 'Agregar Consultorio' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'clinique-orden-list' %}">
                                {% trans 'Lista de Ordenes M&eacute;dicas' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'clinique-incapacidad-list' %}">
                                {% trans 'Lista de Incapacidades' %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
