{% extends 'base.html' %}
{% load crispy_forms_tags %}{% load i18n %}{% load l10n %}
{% block header %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="row">
        <section class="col-md-9 main-content">
            {% crispy form %}
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li>
                            <a href="{{ consulta.persona.get_absolute_url }}">
                                {% trans 'Volver al Paciente' %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
