{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 main-header">
            <section class="page-header">
                <h1>
                    {% trans 'Operación Clínica del Mes de' %}
                    {{ fecha|date:"F" }}
                    {% trans 'del' %}
                    {{ fecha|date:"Y" }}
                </h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 main-content">
            <div class="row">
                <div class="col-md-6 col-xs-6" id="meses">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Forma de Consulta' %}
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            {% for tipo in tipos %}
                                <tr>
                                    <td>{{ tipo.tipo__tipo }}</td>
                                    <td class="text-right">{{ tipo.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>
                                    {% trans 'Total de Consultas' %}
                                </th>
                                <th class="text-right">{{ consultas }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Consultas por Médico' %}
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            {% for consultorio in consultorios %}
                                <tr>
                                    <td>{{ consultorio.consultorio__nombre }}</td>
                                    <td class="text-right">{{ consultorio.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total de Consultas' %}</th>
                                <th class="text-right">{{ consultas }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Quejas por Área' %}
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            {% for tipo in tipo_quejas %}
                                <tr>
                                    <td>{{ tipo.departamento__nombre }}</td>
                                    <td class="text-right">{{ tipo.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total' %}</th>
                                <th>
                                    <a href="{% url 'cheque-periodo' %}?{{ periodo_string }}"
                                       target="_blank">
                                        {{ quejas }}
                                    </a>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'Diagnósticos Clínicos' %}</h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            {% for diagnostico in diagnosticos %}
                                <tr>
                                    <td>{{ diagnostico.diagnostico }}</td>
                                    <td class="text-right">{{ diagnostico.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Consultas por Ciudad' %}
                            </h3>
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                            {% for ciudad in ciudades %}
                                <tr>
                                    <td>{{ ciudad.consultorio__localidad__nombre }}</td>
                                    <td class="text-right">{{ ciudad.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total de Consultas' %}</th>
                                <th class="text-right">{{ consultas }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Quejas por Área' %}
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            {% for tipo in tipo_quejas %}
                                <tr>
                                    <td>{{ tipo.departamento__nombre }}</td>
                                    <td class="text-right">{{ tipo.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total' %}</th>
                                <th>
                                    <a href="{% url 'cheque-periodo' %}?{{ periodo_string }}"
                                       target="_blank">
                                        {{ quejas }}
                                    </a>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Consultas por Aseguradora' %}
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            {% for aseguradora in aseguradoras %}
                                <tr>
                                    <td>{{ aseguradora.contrato__master__aseguradora__nombre }}</td>
                                    <td class="text-right">{{ aseguradora.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>
                                    {% trans 'Total' %}</th>
                                <th>
                                    {{ consultas }}
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Cuentas por Cobrar' %}
                            </h3>
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr>
                                <td>{% trans 'Al Cr&eacute;dito' %}</td>
                                <td class="text-right">{{ credito }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Reembolso' %}</td>
                                <td class="text-right">{{ reembolso }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total Cuentas por Cobrar' %}</th>
                                <th class="text-right">
                                    <a href="{% url 'invoice-pago-pendiente' %}"
                                       target="_blank">
                                        {{ cuentas_por_cobrar }}
                                    </a>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
