<article class="dicom">
  {% load thumbnail %}
  <div class="imagen">
    {% thumbnail dicom.imagen "200x200" crop="center" as im %}
    <a class="thumbnail" href="{{ dicom.imagen.url }}">
      <img alt="thumbnail" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="align-left frame" />
    </a>
  </div>
  <h3>{{ dicom.descripcion }}</h3>
  {% if dicom.imagen %}
  <a href="{{ dicom.imagen.url }}" class="btn btn-primary">Visor DICOM</a>
  {% endif %}
  <a href="{{ dicom.archivo.url }}" class="btn btn-primary">Descargar Archivo DICOM</a>
</article>
