<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Paciente</th>
      <th>Examen</th>
      <th>Identificaci&oacute;n</th>
      <th>Nacimiento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for examen in examenes%}
    <tr>
      <td>{{ examen.fecha }}</td>
      <td>{{ examen.persona.nombre_completo }}</td>
      <td>{{ examen.tipo_de_examen.nombre }}</td>
      <td>{{ examen.persona.identificacion }}</td>
      <td>{{ examen.persona.nacimiento }}</td>
      <td><a class="btn btn-success" href="{% url "examen-view-id" examen.uuid %}">Ver</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
