{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}{% load l10n %}{% load i18n %}
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">‏
                <form method="post">{% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Esta Seguro de Borrar el Detalle de Cierre?' %}</legend>
                        <a class="btn btn-success" href="javascript:back();">
                            {% trans 'No' %}
                        </a>
                        <input class="btn btn-danger" type="submit" value="{% trans 'S&iacute;' %}">
                    </fieldset>
                </form>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="well sidebar-nav">
                    <ul class="nav nav-list">
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
