{% extends 'base.html' %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab22' %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row col-md-12">
        <div class="page-title-box">
            <h4 class="page-title">Crear un Comprobante de Retención</h4>
        </div>
        <section class="col-md-12">
            <div class="main-content col-md-12">‏

            </div>
        </section>
    </div>
    <div class="col-md-7">
        <section class="row panel panel-default col-md-12">
            <div class="main-content col-md-12">‏
                {% crispy form %}</div>
        </section>
        <!-- <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-list">
                    </ul>
                </nav>
            </div>
        </aside> -->
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
