{% extends 'base.html' %}
{% load i18n %}{% load l10n %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab21' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="main-header col-md-12">‏
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Cuentas Por Cobrar' %}</h4>
            </div>
        </div>
    </div>
    <div class="row col-md-3 col-xs-3">
            <div class="col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a class="btn btn-primary" href="{% url 'invoice-cpc-add' %}">
                                {% trans 'Agregar Cuenta por Cobrar' %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    <div class="row">
        <div class="row col-md-12 col-xs-3 main-content table-responsive">
            <div class="card-box">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans 'Lote' %}</th>
                        <th>{% trans 'Fecha' %}</th>
                        <th>{% trans 'Descripci&oacute;n' %}</th>
                        <th>{% trans 'Recibos' %}</th>
                        <th>{% trans 'Estado' %}</th>
                        <th>{% trans 'Monto' %}</th>
                        <th>{% trans 'D&iacute;as desde &uacute;ltimo pago' %}</th>
                        <th>{% trans 'Acciones' %}</th>
                    </tr>
                    {% for cuenta in object_list %}
                        <tr>
                            <td>{{ cuenta.id }}</td>
                            <td>{{ cuenta.created }}</td>
                            <td>{{ cuenta.descripcion }}</td>
                            <td>{{ cuenta.payments.count }}</td>
                            <td>{{ cuenta.status }}</td>
                            <td>{{ cuenta.monto }}</td>
                            <td>{{ cuenta.created|timesince }}</td>
                            <td>
                                <a class="btn btn-primary btn-block"
                                   href="{{ cuenta.get_absolute_url }}">
                                    {% trans 'Ver Detalle' %}
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">{% trans 'No hay Cuentas Por cobrar' %}</td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}
