{% extends 'base.html' %}
{% load i18n %}{% load l10n %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 main-header">
            <section class="page-header">
                <h1>{% trans 'Pagos' %}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 main-content table-responsive">
            <table class="table table-striped">
                {% for aseguradora in aseguradoras %}
                    <tr>
                        <td>{{ aseguradora.aseguradora__nombre }}</td>
                        <td>{{ aseguradora.total }}</td>
                    </tr>
                {% endfor %}
            </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Recibo' %}</th>
                    <th>{% trans 'Fecha' %}</th>
                    <th>{% trans 'Nombre' %}</th>
                    <th>{% trans 'Aseguradora' %}</th>
                    <th>{% trans 'Ciudad' %}</th>
                    <th>{% trans 'Usuario' %}</th>
                    <th>{% trans 'Monto' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for pago in pagos %}
                    <tr>
                        <td>
                            <a href="{{ pago.recibo.get_absolute_url }}">
                                {{ pago.recibo.numero }}
                            </a>
                        </td>
                        <td>{{ pago.recibo.created|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ pago.recibo.cliente }}</td>
                        <td>{{ pago.aseguradora }}</td>
                        <td>{{ pago.recibo.ciudad }}</td>
                        <td>{{ pago.recibo.cajero }}</td>
                        <td class="text-right">{{ pago.monto }}</td>
                        <td class="text-right">{{ pago.valor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">{% trans 'Total' %}:</th>
                    <th colspan="2">{{ total }}</th>
                </tr>
                </tfoot>
            </table>
            {% if is_paginated %}
                {% load bootstrap_pagination %}
                {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last='true' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
