{% extends 'base.html' %}
{% load i18n %}{% load l10n %}
{% block title %} {% trans 'Listado de Recibos' %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="spa12">
            <section class="page-header">
                <h1>{% trans 'Recibos' %}
                    <small>del {{ inicio }} al {{ fin }}</small>
                </h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="main-content col-md-12 table-responsive">‏
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'N&uacute;mero' %}</th>
                    <th>{% trans 'Fecha' %}</th>
                    <th>{% trans 'Paciente' %}</th>
                    <th>{% trans 'Tipo' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for recibo in recibos.all %}
                    <tr>
                        <td>
                            <a href="{{ recibo.get_absolute_url }}">{{ recibo.numero }}</a>
                        </td>
                        <td>{{ recibo.created }}</td>
                        <td>{{ recibo }}</td>
                        <td>{{ recibo.credito|yesno:"Crédito,Contado" }}</td>
                        <td>{{ recibo.valor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">{% trans 'Total:' %}</th>
                    <th>{{ total }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
