<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Factura {{ recibo.numero }}</title>
    {% load staticfiles %}{% load tz %}{% load l10n %}{% load i18n %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <style type="text/css">
        thead {
            border-bottom: 2px dashed;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                {{ recibo.ciudad.company.nombre }}<br>
                {{ recibo.ciudad.company.address }}<br>
                {% trans 'RTN:' %} {{ recibo.ciudad.company.rtn }}<br>
                {% trans 'Factura:' %} {% if recibo.nulo %}
                {% trans 'NULO---NULO---' %} {% endif %}{{ recibo.numero }}<br>
                {% trans 'C.A.I:' %} {{ recibo.ciudad.cai_recibo }}
                {% trans 'Fecha:' %} {{ recibo.created }}<br>
                {% trans 'Cliente:' %} {{ recibo.cliente }}
                {% if not cliente.rtn %} CONSUMIDOR FINAL {% endif %}<br>
                {% trans 'RTN Cliente:' %} {{ recibo.cliente.rtn }}<br>
                {% trans 'Cajero:' %} {{ recibo.cajero }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th>{% trans 'Qty' %}</th>
                    <th>{% trans 'Concepto' %}</th>
                    <th>{% trans 'Precio Unitario' %}</th>
                    <th>{% trans 'Subtotal' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for venta in recibo.ventas.all %}
                    <tr>
                        <td>{{ venta.cantidad }}</td>
                        <td>{{ venta.item }}</td>
                        <td>{{ venta.precio_unitario }}</td>
                        <td>{{ venta.monto }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-center">::::Ultima L&iacute;nea::::</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            {% trans 'Subtotal:' %}{{ recibo.subtotal }}<br>
            {% trans 'Descuento:' %} {{ recibo.descuento }}<br>
            {% trans 'Impuestos:' %} {{ recibo.impuesto }}<br>
            {% trans 'Total:' %} {{ recibo.total }}
        </div>
    </div>
    {% for pago in recibo.pagos.all %}
        <div class="row">
            <div class="col-md-12 text-right">
                {{ pago.tipo }}: {{ pago.monto }} {{ pago.aseguradora }}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <br/>
            <br/>
            <br/>

            <p class="text-center">_________________________________________</p>

            <p class="text-center">{% trans 'Firma Cliente' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% trans 'Fecha L&iacute;mite de Emisi&oacute;n:' %}
            {{ recibo.ciudad.limite_de_emision }}<br>
            {% trans 'Rango Autorizado:' %} {{ recibo.ciudad.inicio_rango }} a
            la {{ recibo.ciudad.fin_rango }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            {% trans '"La factura es beneficio de todos, ex&iacute;jala"' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for contrato in recibo.cliente.contratos.all %}
                {% trans 'Poliza:' %} {{ contrato.poliza }}
                {% trans 'Certificado:' %} {{ contrato.certificado }}
            {% endfor %}
            {% for beneficiario in recibo.cliente.beneficiarios.all %}
                {{ beneficiario.contrato.poliza }} Certificado:
                {{ beneficiario.contrato.certificado }}
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        window.print();
    }
</script>
</body>
</html>
