{% extends 'base.html' %}
{% block title %} Recibo {{ recibo.numero }} {% endblock %}
{% load crispy_forms_tags %}
{% load humanize %}{% load i18n %}{% load l10n %}
{% block header %}
    {{ form.media.css }}
{% endblock %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab15' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-title-box">
                <h4 class="page-title">{{ recibo.numero }} - {{ recibo }}
                    <small>{{ recibo.created|date:"d/m/Y P" }}</small>
                </h4>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="main-content col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-inner">
                    <a href="#" class="navbar-brand">{% trans 'Acciones' %}</a>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'invoice-index' %}">
                                {% trans 'Regresar a Caja' %}
                            </a>
                        </li>
                        {% if recibo.cerrado == False %}
                            <li>
                                <a href="{% url 'invoice-nullify' recibo.id %}">
                                    {% trans 'Anular Recibo' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'venta-add' recibo.id %}">
                                    {% trans 'Agregar Venta' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'pago-add' recibo.id %}">
                                    {% trans 'Agregar Pago' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-close' recibo.id %}">
                                    {% trans 'Cerrar Recibo' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-change-type' recibo.id %}">
                                    {% trans 'Cambiar Tipo de Cambio' %}
                                </a>
                            </li>
                        {% endif %}
                        {% if recibo.credito %}
                            <li>
                                <a href="{% url 'invoice-print-credito' recibo.id %}">
                                    {% trans 'Imprimir Recibo' %}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'invoice-print' recibo.id %}">
                                    {% trans 'Imprimir Recibo' %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="panel panel-border">
                <table class="table table-striped table-bordered">
                    <caption>{% trans 'Conceptos a Facturar' %}</caption>
                    <thead>
                    <tr>
                        <th>{% trans 'Cantidad' %}</th>
                        <th>{% trans 'Concepto' %}</th>
                        <th>{% trans 'Precio unitario' %}</th>
                        <th>{% trans 'Subtotal' %}</th>
                        <th>{% trans 'Descuento' %} {{ recibo.tipo_de_venta.descripcion }}</th>
                        <th>{% trans 'Total' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for venta in recibo.ventas.all %}
                        <tr>
                            <td>{{ venta.cantidad }}</td>
                            <td>
                                {% if recibo.cerrado == False %}
                                    <a class="btn btn-danger btn-sm"
                                       href="{% url 'venta-delete' venta.id %}">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                {% endif %}
                                {{ venta.descripcion }} {{ venta.item }}
                            </td>
                            <td>{{ venta.precio }}</td>
                            <td>{{ venta.total_vendido }}</td>
                            <td>{{ venta.descuento }}</td>
                            <td>{{ venta.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>{% trans 'Subtotal:' %}</th>
                        <th>{{ recibo.subtotal }}</th>
                    </tr>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>{% trans 'Impuestos:' %}</th>
                        <th>{{ recibo.impuesto }}</th>
                    </tr>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>{% trans 'Descuento:' %}</th>
                        <th>{{ recibo.descuento }}</th>
                    </tr>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>{% trans 'Total:' %}</th>
                        <th>{{ recibo.total }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="main-content col-md-12">
            <div class="col-md-6">
              <div class="panel panel-border">
                <div class="panel-body">
                  <table class="table table-striped table-bordered">
                      <h4>{% trans 'Pagos' %}</h4>
                      <thead>
                      <tr>
                          <th>{% trans 'M&eacute;todo' %}</th>
                          <th>{% trans 'Monto' %}</th>
                          <th>{% trans 'Comprobante' %}</th>
                          <th>{% trans 'Monto No Consolidado' %}:</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for pago in recibo.pagos.all %}
                          <tr>
                              <td>
                                  {% if recibo.cerrado == False %}
                                      <a class="btn btn-danger btn-sm"
                                         href="{% url 'pago-delete' pago.id %}">
                                          <i class="glyphicon glyphicon-trash"></i>
                                      </a>
                                  {% endif %}
                                  {{ pago.tipo }}
                                  {% for detalle in pago.detallepago_set.all %}
                                      <a class="btn btn-info"
                                         href="{{ detalle.get_absolute_url }}">
                                          {{ detalle.monto }} {% trans 'Pagado' %}
                                      </a>
                                  {% endfor %}
                              </td>
                              <td>{{ pago.monto }}</td>
                              <td>{{ pago.comprobante }}</td>
                              <td>
                                  {{ pago.obtener_consolidacion_faltante }}
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                      <tr>
                          <th>{% trans 'Total Pagado' %}</th>
                          <th>{{ recibo.pagado }}</th>
                      </tr>
                      <tr>
                          <th>{% trans 'Monto Debido' %}</th>
                          <th>{{ recibo.debido }}</th>
                      </tr>
                      </tfoot>
                  </table>
                </div>
              </div>
            </div>
            {% if not recibo.cerrado %}
                <div class="col-md-6">
                  <div class="panel panel-border">
                    <div class="panel-body">
                      {% crispy reembolso_form %}
                    </div>
                  </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
