{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <section class="span12">
    <div class="hero-unit">
      <h1>Estad&iacute;sticas de Admisiones</h1>
      <small>Del {{ inicio }} al {{ fin }}</small>
    </div>
  </section>
</div>
<div class="row">
  <article class="span12">
    <table class="table table-striped table-bordered">
      <caption>Hospitalizaciones Ingresadas</caption>
      <thead>
        <tr>
          <th>Fecha Ingreso</th>
          <th>Fecha Alta</th>
          <th>Nombre Paciente</th>
          <th>Habitación</th>
          <th>Tiempo Hospitalizado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       {% for admision in admisiones %}
        <tr>
          <td>{{ admision.hospitalizacion }}</td>
          <td>{{ admision.fecha_alta }}</td>
          <td>{{ admision.paciente.nombre_completo }}</td>
          <td>{{ admision.habitacion }}</td>
          <td>{{ admision.tiempo_hospitalizado }}</td>
          <td><a class="btn btn-success" href="{% url 'admision-view-slug' admision.uuid %}">Ver</a></td>
        </tr>
       {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Total de Hospitalizaciones</th>
          <th>{{ admisiones.count }}</th>
        </tr>
      </tfoot>
    </table>
  </article>
</div>
<div class="row">
  <article class="span12">
    <table class="table table-striped table-bordered">
      <caption>Materiales y Medicamentos Utilizados</caption>
      <thead>
        <tr>
          <th>Insumo</th>
          <th>Cantidad</th>
        </tr>
      <thead>
      <tbody>
       {% for cargo, cantidad in cargos %}
        <tr>
          <td>{{ cargo.descripcion }}</td>
          <td>{{ cantidad }}</td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </article>
</div>
<div class="row">
 <article class="span12">
    <table class="table table-striped table-bordered">
      <caption>Tiempo de Ocupaci&oacute;n de Habitaciones</caption>
      <thead>
        <tr>
          <th>Habitaci&oacute;n</th>
          <th>D&iacute;as</th>
        </tr>
      <thead>
      <tbody>
       {% for habitacion, dias in habitaciones %}
        <tr>
          <td>{{ habitacion.get_tipo_display }} {{ habitacion.numero }}</td>
          <td>{{ dias }}</td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </article>
</div>
{% endblock %}
