{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <section class="span12 hero-unit">
    <div>
      <h1>Estad&iacute;sticas de Emergencias</h1>
      <small>Del {{ inicio }} al {{ fin }}</small>
    </div>
  </section>
</div>
<div class="row">
  <article class="span12">
    <table class="table table-striped table-bordered">
      <caption>Emergencias Atendidas</caption>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre Paciente</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
       {% for emergencia in emergencias %}
        <tr>
          <td>{{ emergencia.created }}</td>
          <td>{{ emergencia.persona.nombre_completo }}</td>
          <td>{{ emergencia.total }}</td>
        </tr>
           <tr>
            <table>
                {% for cargo in emergencia.cargos.all %}
                <tr>
                    <td>{{ cargo }}</td>
                    <td>{{ cargo.valor|floatformat:2|intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
           </tr>
       {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2">Total de Emergencias</th>
          <th>{{ emergencias.count }}</th>
        </tr>
      </tfoot>
    </table>
  </article>
</div>
{% endblock %}
