{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load staticfiles %}{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Estad&iacute;stica Descriptiva</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="page-header">
                    <h1>Ocupación de Habitaciones del Último Mes</h1>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <canvas width="400" height="400" id="habitacion"></canvas>
                </div>
                <div class="span6">
                    {% crispy habitacion_popular %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="page-header">
                    <h1>Admisiones por Diagnóstico del Último Mes</h1>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <canvas width="400" height="400" id="diagnostico"></canvas>
                </div>
                <div class="span6">
                    {% crispy diagnostico %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="page-header">
                    <h1>Admisiones por Doctor del Último Mes</h1>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <canvas width="400" height="400" id="doctor"></canvas>
                </div>
                <div class="span6">
                    {% crispy doctor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="page-header">
                    <h1>Cargos del Último Mes</h1>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <canvas width="400" height="400" id="cargo"></canvas>
                </div>
                <div class="span6">
                    {% crispy cargo %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="span12">
    <div class="row">
        <div class="span4">
            {% crispy admision_periodo %}
        </div>
        <div class="span4">
            {% crispy emergencia_periodo %}
        </div>
        <div class="span4">
        </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
{% localize off %}
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var data = {
                labels : [ {% for habitacion, detalle in habitaciones %} '{{ habitacion }}', {% endfor %} '' ],
                datasets : [
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        data : [ {% for habitacion, detalle in habitaciones %} {{ detalle.admisiones }}, {% endfor %} 0 ]
                    }
                ]
            };
            var ctx = $("#habitacion").get(0).getContext("2d");
            var grafico = new Chart(ctx).Bar(data);
            data = {
                labels : [ {% for diagnostico, cantidad in diagnosticos %} '{{ diagnostico }}', {% endfor %} '' ],
                datasets : [
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        data : [ {% for diagnostico, cantidad in diagnosticos %} {{ cantidad }}, {% endfor %} 0 ]
                    }
                ]
            };
            ctx = $("#diagnostico").get(0).getContext("2d");
            grafico = new Chart(ctx).Bar(data);
        });
    </script>
{% endlocalize %}
{% endblock %}
