{% extends 'userena/base_userena.html' %}
{% load crispy_forms_tags %}
{% block header %}
    {{ form.media.css }}
{% endblock %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="col-md-12 main-content">
            <form action="" method="post">
                <fieldset>
                    <legend>{% trans 'Reset Password' %}</legend>
                    {% csrf_token %}
                    {{ form|crispy }}
                </fieldset>
                <input type="submit" value="{% trans 'Send password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ form.media.js }}
{% endblock %}
