{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block content %}
    <div class="row">
        <section class="col-md-12 main-header">
                <section class="page-header">
                    <h1> {{ persona.nombre_completo }}
                        <small>Informaci&oacute;n</small>
                    </h1>
                </section>
        </section>
    </div>
    <div class="row">
        <section id="informacion" class="col-md-9 main-content">
            <div class="row">
                {% for consulta in consultas %}
                    <div class="col-md-12">
                        <section class="page-header">
                            <h2>Consulta en Consultorio {{ consulta.consultorio }} {{ consulta.created }}</h2>
                        </section>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">‏
                    <section class="tabbable">
                        <ul class="nav nav-tabs">
                            <li><a class="active" href="#paciente" data-toggle="tab">Datos
                                Personales</a></li>
                            {% if persona.consultas %}
                                <li>
                                    <a href="#consulta_inicio"
                                       data-toggle="tab">Consultas</a>
                                </li>
                                <li>
                                    <a href="#examen_fisico" data-toggle="tab">Examen
                                    F&iacute;sico</a>
                                </li>
                                <li>
                                    <a href="#diagnostico" data-toggle="tab">Diagn&oacute;stico</a>
                                </li>
                                <li>
                                    <a href="#prescripcion" data-toggle="tab">Ordenes y Prescripciones</a>
                                </li>
                            {% endif %}
                            <li><a href="#clinico" data-toggle="tab">Datos Cl&iacute;nicos</a></li>
                            {% if persona.emergencias %}
                                <li><a href="#emergencias"
                                       data-toggle="tab">Emergencias</a></li>
                            {% endif %}
                            {% if persona.admisiones %}
                                <li><a href="#admisiones" data-toggle="tab">Hospitalizaciones</a>
                                </li>
                            {% endif %}
                            {% if persona.examenes %}
                                <li><a href="#examenes" data-toggle="tab">Im&aacute;genes</a>
                                </li>
                            {% endif %}
                            {% if persona.contratos %}
                                <li><a href="#contratos" data-toggle="tab">Contratos</a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <article id="paciente" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'snippets/persona_fotografia.html'  with persona=persona %}
                                        {% include 'snippets/persona.html' with persona=persona %}
                                        <a href="{% url 'persona-editar' persona.id %}"
                                           class="btn btn-primary">Editar Datos</a>
                                    </div>
                                </div>
                                {% if persona.contratos %}
                                    {% include 'contracts/snippets/contracts.html' %}
                                {% endif %}
                                {% if persona.beneficiarios %}
                                    {% for beneficiario in persona.beneficiarios.all %}
                                        {% include 'contracts/snippets/beneficiario.html' with contrato=beneficiario.contrato %}
                                    {% endfor %}
                                {% endif %}
                            </article>
                            <article id="clinico" class="tab-pane">
                                {% include 'snippets/fisico.html' with fisico=persona.fisico %}
                                <a href="{% url 'persona-fisico-editar' persona.id %}"
                                   class="btn btn-primary">Editar F&iacute;sico</a>
                                {% include 'snippets/antecedente.html' with antecedente=persona.antecedente %}
                                <a href="{% url 'persona-antecedente-editar' persona.id %}"
                                   class="btn btn-primary">Editar Antecedentes Patol&oacute;gicos
                                    Personales</a>
                                {% include 'snippets/antecedente_familiar.html' with antecedente=persona.antecedente_familiar %}
                                <a href="{% url 'persona-antecedente-familiar-editar' persona.id %}"
                                   class="btn btn-primary">EditarAntecedentes Patol&oacute;gicos Familiares</a>
                                {% include 'snippets/antecedente_quirurgico.html' with persona=persona %}
                                <a href="{% url 'persona-antecedente-quirurgico-agregar' persona.id %}"
                                   class="btn btn-primary">Agregar Antecedentes Quir&uacute;rgico</a>
                                {% ifequal persona.sexo 'F' %}
                                    {% include 'snippets/antecedente_obstetrico.html' with antecedente=persona.antecedente_obstetrico %}
                                    <a href="{% url 'persona-antecedente-obstetrico-editar' persona.id %}"
                                       class="btn btn-primary">Editar Antecedentes
                                        Obstetricos</a>
                                {% endifequal %}
                            </article>
                            {% if persona.emergencias %}
                                <article id="emergencias" class="tab-pane">
                                    {% include 'emergency/snippets/emergencia_list.html' with emergencias=persona.emergencias.all %}
                                </article>
                            {% endif %}
                            {% if persona.admisiones %}
                                <article id="admisiones" class="tab-pane">
                                    {% include 'snippets/enfermeria_list.html' with admisiones=persona.admisiones.all %}
                                </article>
                            {% endif %}
                            {% if persona.examenes %}
                                <article id="examenes" class="tab-pane">
                                    {% include 'snippets/examen_list.html' with examenes=persona.examenes.all %}
                                </article>
                            {% endif %}
                            {% if persona.consultas %}
                                {% include 'clinique/snippets/consulta.html' with persona=persona %}
                            {% endif %}
                            {% if persona.contratos %}
                                <article id="contratos" class="tab-pane">
                                    {% include 'contracts/snippets/pcd.html' with persona=persona %}
                                </article>
                            {% endif %}
                        </div>
                    </section>
                </div>
            </div>
        </section>
        {% include 'snippets/persona_aside.html' with persona=persona %}
    </div>
{% endblock content %}
