{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'N&uacute;mero' %}</th>
                    <th>{% trans 'Banco Emisor' %}</th>
                    <th>{% trans 'Monto' %}</th>
                    <th>{% trans 'Fecha de Entrega' %}</th>
                    <th>{% trans 'Recibos Pagados' %}</th>
                    <th>{% trans 'Acciones' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for cheque in cheques %}
                    <tr>
                        <td>{{ cheque.numero_de_cheque }}</td>
                        <td>{{ cheque.banco_de_emision }}</td>
                        <td>{{ cheque.monto }}</td>
                        <td>{{ cheque.fecha_de_entrega }}</td>
                        <td>
                            {% for detalle in cheque.detallepago_set.all %}
                                <p>
                                    <a href="{{ detalle.pago.recibo.get_absolute_url }}">
                                        {{ detalle.pago.recibo.numero }}
                                    </a> - {{ detalle.pago.aseguradora }}
                                    - {{ detalle.pago.monto }}
                                </p>
                            {% endfor %}
                        </td>
                        <td><a class="btn btn-primary"
                               href="{{ cheque.get_absolute_url }}">Ver</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
