{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'N&uacute;mero' %}</th>
                    <th>{% trans 'Banco Emisor' %}</th>
                    <th>{% trans 'Cuenta de Dep&oacute;sito' %}</th>
                    <th>{% trans 'Monto' %}</th>
                    <th>{% trans 'Fecha de Dep&oacute;sito' %}</th>
                    <th>{% trans 'Acciones' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for cheque in cheques %}
                    <tr>
                        <td>{{ cheque.numero_de_cheque }}</td>
                        <td>{{ cheque.banco_de_emision }}</td>
                        <td>{{ cheque.cuenta }}</td>
                        <td>{{ cheque.monto }}</td>
                        <td>{{ cheque.fecha_de_deposito }}</td>
                        <td><a class="btn btn-primary" href="{{ cheque.get_absolute_url }}">Ver</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
