/* 
===============================================================================
 Body and structure
===============================================================================
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../images/slide6.jpg") no-repeat center center fixed;
    background-size: cover;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/*
===============================================================================
 Sidebar and table shadow
===============================================================================
*/
table caption {
    font-weight: bold;
}

/* ============================================================================
 * Tables
 * ============================================================================
 */
@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .no-more-tables table, .no-more-tables thead,
    .no-more-tables tbody, .no-more-tables th,
    .no-more-tables td, .no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .no-more-tables tr {
        border: 1px solid #ccc;
    }

    .no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
     Label the data
     */
    .no-more-tables td:before {
        content: attr(data-title);
    }
}
.table tr{
    background-color: #ffffff;
}
.table td {
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.action-nav-normal .action-nav-button {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 4px #acacac;
    filter: dropshadow(color=#acacac, offx=0, offy=0);
}

.action-nav-normal .action-nav-button a {
    -moz-box-sizing: border-box;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafafa 0%, #ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafafa 0%, #ececec 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fafafa 0%, #ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ececec', GradientType=0); /* IE6-9 */
    border: 1px solid #D5D5D5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px #fafafa inset, 0 1px 1px 0 #DDDDDD;
    color: #626262;
    display: block;
    font-weight: 700;
    padding: 10px 0;
    white-space: nowrap;
    text-decoration: none;
}

.icon-envelope:before {
    content: "?";
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}

.action-nav-normal .action-nav-button a > i {
    color: #808080;
    font-size: 32px;
}

.action-nav-normal .action-nav-button {
    text-align: center;
    vertical-align: middle;
}

.action-nav-normal .action-nav-button a > span {
    display: block;
    font-weight: 600;
    padding-top: 4px;
}

caption {
    font-size: large;
    padding-bottom: 5px;
}

.table td.text-right {
    text-align: right;
}

.card {
    margin: 2em 0;
}

.index-link a {
    color: white;
    display: block;
    font-size: large;
    background: #004BCC none;
}

.index-link .col-md-3 {
    padding: 1.3em 0;
}

nav.navbar-inverse .navbar-inner {
    background: #004BCC none;
    color: white;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* Custom UI style */
.round-corners {
    border-radius: 5px;
}
.main-content {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 0 #949494;
    box-shadow: 2px 2px 10px 0 #949494;
    padding-top: 20px;
    padding-bottom: 20px;
}
.toolbox {
    background-color: #809CD2;
    background-color: rgba(128, 156, 210, 0.95);
    border-radius: 5px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 2px 2px 10px 0 #949494;
    box-shadow: 2px 2px 10px 0 #949494;
    text-align: center;
}
.toolbox li {
    border-top: 1px solid #ffffff;
}
.toolbox a {
    color: #ffffff;
}
.toolbox a:hover, .toolbox li a:hover {
    background-color: #021668;
    background-color: rgba(2, 22, 104, 0.5);
    border-left: 0;
    border-right: 0;
}
.main-header {
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 10px 0 #949494;
    box-shadow: 2px 2px 10px 0 #949494;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.75);
}
#logo {
    position: fixed;
    left: 100px;
    top: 40px;
    z-index: -1;
}
.row {
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #809cd2;
    border-color: #385c9e;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #400080;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #400080;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #400080;
    background-color: #385c9e;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #400080;
    background-color: #385c9e;
}
.navbar-default .navbar-toggle {
    border-color: #385c9e;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #385c9e;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #400080;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #400080;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #400080;
        background-color: #385c9e;
    }
}
