/* 
===============================================================================
 Body and structure
===============================================================================
*/
body {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

/*
===============================================================================
 Login Form
===============================================================================
*/
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/*
===============================================================================
 Sidebar and table shadow
===============================================================================
*/
table caption {
    font-weight: bold;
}

/* ============================================================================
 * Tables
 * ============================================================================
 */
@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .no-more-tables table, .no-more-tables thead,
    .no-more-tables tbody, .no-more-tables th,
    .no-more-tables td, .no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .no-more-tables tr {
        border: 1px solid #ccc;
    }

    .no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
     Label the data
     */
    .no-more-tables td:before {
        content: attr(data-title);
    }
}

.table td {
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.action-nav-normal .action-nav-button {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 4px #acacac;
    filter: dropshadow(color=#acacac, offx=0, offy=0);
}

.action-nav-normal .action-nav-button a {
    -moz-box-sizing: border-box;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafafa 0%, #ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafafa 0%, #ececec 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fafafa 0%, #ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ececec', GradientType=0); /* IE6-9 */
    border: 1px solid #D5D5D5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px #fafafa inset, 0 1px 1px 0 #DDDDDD;
    color: #626262;
    display: block;
    font-weight: 700;
    padding: 10px 0;
    white-space: nowrap;
    text-decoration: none;
}

.icon-envelope:before {
    content: "?";
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}

.action-nav-normal .action-nav-button a > i {
    color: #808080;
    font-size: 32px;
}

.action-nav-normal .action-nav-button {
    text-align: center;
    vertical-align: middle;
}

.action-nav-normal .action-nav-button a > span {
    display: block;
    font-weight: 600;
    padding-top: 4px;
}

caption {
    font-size: large;
    padding-bottom: 5px;
}

.table td.text-right {
    text-align: right;
}

.card {
    margin: 2em 0;
}

.index-link a {
    color: white;
    display: block;
    font-size: large;
    background: #004BCC none;
}

.index-link .col-md-3 {
    padding: 1.3em 0;
}

nav.navbar-inverse .navbar-inner {
    background: #004BCC none;
    color: white;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

