form {
  font-family: 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 10px 40px 20px 40px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto
}
form h1, form h2, form h3 { margin-top: 0; }
form fieldset { border: none; }
form ul { margin: 0; }
form ul li { list-style: none; }
.red, .error_list { color: red; }
form select { min-width: 12em; }
form label { min-width: 200px; display: inline-block; }
.inline { display: inline; }
form h2 { margin: 5px 0; }
form input, form textarea {
  padding: 8px;
  margin: 4px 0 5px 0;
  background: white;
  font-size: 14px;
  color: #555;
  border: 1px #ddd solid;
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
  /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
  vertical-align: middle;
}
/* Make default buttons use the same style */
form input[type=submit] {
  text-transform: capitalize;
  margin-top: 10px;
  color: white;
  background: -moz-linear-gradient(top, #33e848 0%, #2aa930);
  background: -webkit-gradient(linear, left top, left bottom,from(#33e848), to(#2aa930));
  background: -ms-linear-gradient(top, #33e848 0%, #2aa930);
  background: -o-linear-gradient(top, #33e848 0%, #2aa930);
  background: -webkit-linear-gradient(top, #33e848 0%, #2aa930);
  -pie-background: linear-gradient(top, #33e848 0%, #2aa930);
  background: linear-gradient(top, #33e848 0%, #2aa930);
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #2b7530;
  -moz-box-shadow:
    0 1px 1px rgba(000,000,000,0.2),
    inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0 1px 1px rgba(000,000,000,0.2),
    inset 0 1px 0 rgba(255,255,255,0.5);
  text-shadow:
    0 1px 0 rgba(000,000,000,0.3),
    0 0 0 rgba(255,255,255,0);
  behavior: url(PIE.htc);
  width: 220px;
}
.button {
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  color: white;/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzZTg0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYWE5MzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #33e848 0%, #2aa930 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33e848), color-stop(100%,#2aa930)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #33e848 0%,#2aa930 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #33e848 0%,#2aa930 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #33e848 0%,#2aa930 100%); /* IE10+ */
  background: linear-gradient(top,  #33e848 0%,#2aa930 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33e848', endColorstr='#2aa930',GradientType=0 ); /* IE6-8 */
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #2b7530;
  -moz-box-shadow:
    0 1px 3px rgba(000,000,000,0.5),
    inset 0 0 1px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0 1px 3px rgba(000,000,000,0.5),
    inset 0 0 1px rgba(255,255,255,0.5);
  box-shadow:
    0 1px 3px rgba(000,000,000,0.5),
    inset 0 0 1px rgba(255,255,255,0.5);
  text-shadow:
    0 1px 0 rgba(000,000,000,0.3),
    0 0 0 rgba(255,255,255,0);
}
form input[type=submit]:hover, .button:hover {
  -moz-box-shadow:
    0 1px 5px rgba(000,000,000,0.5),
    inset 0 0 1px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0 1px 5px rgba(000,000,000,0.5),
    inset 0 0 1px rgba(255,255,255,0.5);
  box-shadow:
    0 1px 5px rgba(000,000,000,0.5),
    inset 0 0 1px rgba(255,255,255,0.5);
  cursor: pointer;
}
form input[type=checkbox] { width: 1em; margin-left: 50px; }
form textarea {
  padding: 8px;
  margin: 0;
  background: white;
  font-size: 14px;
  color: #555;
  border: 1px #ddd solid;
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
  /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.errorlist { color: red; }
.errorlist li { display: inline-block; }
textarea.big { width: 100%; }
td .button { padding: 2px; }
form table input[type=text] { width: 3em; }
form.compact input.datepicker { width: 6em; }
