html, body, .Override.container, #index-aside, #main-content {
    height: 100%;
}
#navigation {
    float: right;
    z-index: 1000;
    height: 100%;
    width: 220px;
    background-color: rgba(128, 156, 210, 0.75);
}
#navigation a {
    display: block;
    height: 10%;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(128, 156, 210, 0.75);
}
#navigation a:hover {
    margin-left: -80px;
    text-decoration: none;
    background-color: rgba(64, 64, 255, 0.75);
    border: none;
}
aside.sidebar ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
aside.sidebar ul li {
    height: 10%;
    border: 1px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside.sidebar ul li a {
    color: #ffffff;
    display: block;
    height: 100%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #ffffff;
}
#logo {
    position: absolute;
    left: 100px;
}
.fill {
     min-height: 100%;
     height: 100%;
 }
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.flex-container .row {
    width: 80%;
}
.image-holder {
    float: left;
    height: 100%;
    padding: 5px;
}
