html, body, .Override.container, .Override .col-md-4, .Override .col-md-8 {
    height: 100%;
}
.Override {
    width: 100%;
}
.Override.container:before {
    content: '';
    display: block;
    float: left;
    height: 100%;
}
.Override .fill {
    position: relative;
}
.Override .fill:after {
    content: '';
    display: block;
    clear: left;
}
.Override .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
#index-aside {
    background: transparent url("../images/logo.jpg");
    background-size: cover;
    float: left;
    position: static;
}
#main-content {
    background: transparent url("../images/slider1.jpg");
    background-size: cover;
    position: static;
    overflow: auto;
}
