/*
===============================================================================
 Login Form
===============================================================================
*/
form {
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.75);
}
.form-signin {
    max-width: 300px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.translucent {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 1px 1px 10px 0 #262626;
    box-shadow: 1px 1px 10px 0 #262626;
}
