.no-print {
	display: none;
}
.navbar-fixed-top, footer {
	display: none;
}
.page {
	page-break-before: always;
}
.main-content {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
}
.page-header {
	margin: 0;
	padding: 0;
}
