{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}
{% block menu %}
    <li>
        <a href="javascript:back()">{% trans 'Regresar' %}</a>
    </li>
{% endblock %}
{% block content %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <section class="col-md-6 col-xs-6 panel panel-border">
            {% crispy form %}
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
