{% include 'snippets/fisico.html' with fisico=persona.fisico %}
{% load i18n %}{% load l10n %}
{% include 'snippets/antecedente.html' with antecedente=persona.antecedente %}
{% if perms.persona.persona %}
    <a href="{% url 'persona-antecedente-editar' persona.id %}" class="btn btn-primary">
        {% trans 'Editar Antecedentes Patol&oacute;gicos Personales' %}
    </a>
{% endif %}
{% include 'snippets/antecedente_familiar.html' with antecedente=persona.antecedente_familiar %}
{% if perms.persona.persona %}
    <a href="{% url 'persona-antecedente-familiar-editar' persona.id %}" class="btn btn-primary">
        {% trans 'Editar Antecedentes Patol&oacute;gicos Familiares' %}
    </a>
{% endif %}
{% include 'snippets/antecedente_quirurgico.html' with persona=persona %}
<a href="{% url 'persona-antecedente-quirurgico-agregar' persona.id %}"
   class="btn btn-primary">{% trans 'Agregar Antecedentes Quir&uacute;rgico' %}</a>
{% ifequal persona.sexo 'F' %}
    {% include 'snippets/antecedente_obstetrico.html' with antecedente=persona.antecedente_obstetrico %}
    {% if perms.persona.persona %}
        <a href="{% url 'persona-antecedente-obstetrico-editar' persona.id %}"
           class="btn btn-primary">
            {% trans 'Editar Antecedentes Obstetricos' %}
        </a>
    {% endif %}
{% endifequal %}
