{% extends 'base.html' %}
{% load i18n %}{% load l10n %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="page-header">
                <h1>{{ persona.nombre_completo }}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div id="informacion" class="col-md-9 col-xs-12">
            {% include 'snippets/persona_fotografia.html' with persona=persona %}
            <div class="info">
                {% include 'snippets/estilo_vida.html' with estilo_vida=persona.estilo_vida %}
                <a href="{% url 'persona-estilovida-editar' persona.id %}"
                   class="btn btn-primary">{% trans 'Editar Estilo de Vida' %}
                </a>
            </div>
        </div>
        {% include 'snippets/persona_aside.html' with persona=persona %}
    </div>
{% endblock %}
