{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load l10n %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="main-content col-md-12">‏
                <div class="page-header">
                    <h1>{% trans 'Pacientes y Personas' %}</h1>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div id="personas" class="col-md-9">
            <div class="main-content col-md-12 no-more-tables">‏
                {% include 'snippets/persona_list.html' with personas=personas %}
            </div>
        </div>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="{% url 'persona-create' %}">
                                {% trans 'Agregar Paciente' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'persona-duplicate-clean' %}">
                                {% trans 'Limpiar Duplicados' %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
