{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}{% load i18n %}{% load l10n %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab8' %}
{% endblock %}
{% block content %}
    <div class="row">
        <section class="col-md-12 main-header">
            <section class="page-title-box">
                {% if persona.consultas_activas and perms.persona.persona %}
                    {% for consulta in persona.consultas_activas %}
                        <h3><small> {{ consulta.poliza.aseguradora }} {% if consulta.titularDependiente %} | {{ consulta.titularDependiente }} {% endif %}  </small>
                        <span class="timer" id="time_tag"><time>00:00:00</time></span>
                        <input type="hidden" id="hours" name="hours" value="{{ consulta.current_time.hours }}">
                        <input type="hidden" id="minutes" name="minutes" value="{{ consulta.current_time.minutes }}">
                        <input type="hidden" id="seconds" name="seconds" value="{{ consulta.current_time.seconds }}"></h3> 
                    {% endfor %}
                {% endif %}
                <h4 class="page-title"> {{ persona.nombre_completo }}
                    <small>{% trans 'Informaci&oacute;n' %}</small>
                </h4>
                {% if persona.consultas_activas and perms.persona.persona %}
                    <h3><small>{% if persona.cargo %} Cargo: {{ persona.cargo }}{% endif %}
                        {% if persona.obtener_edad and persona.cargo  %} | {% endif %}
                        {% if persona.obtener_edad %} Edad: {{ persona.obtener_edad }} años {% endif %}</small></h3>
                {% endif %}
            </section>
        </section>
    </div>
    <div class="row">
        <section id="informacion" class="col-md-9 main-content">
            {% if persona.consultas_activas and perms.persona.persona %}
                {% for consulta in persona.consultas_activas %}
                    <div class="row">
                        {% include 'clinique/snippets/consulta_activa.html' with persona=persona %}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-12 panel panel-default">‏
                    <section class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active tab">
                                <a href="#paciente"
                                   data-toggle="tab">
                                    {% trans 'Datos Personales' %}
                                </a>
                            </li>
                            {% if modules.consulta %}
                                <li class="tab">
                                    <a href="#consulta_inicio"
                                       data-toggle="tab">{% trans 'Consultas' %}</a>
                                </li>
                            {% endif %}
                            <li class="tab">
                                <a href="#clinico" data-toggle="tab">
                                    {% trans 'Datos Cl&iacute;nicos' %}</a>
                            </li>
                            <li class="tab">
                                <a href="#vida" data-toggle="tab">
                                    {% trans 'Estilo de Vida' %}
                                </a>
                            </li>
                            {% if modules.emergencia %}
                                <li class="tab">
                                    <a href="#emergencias" data-toggle="tab">
                                        {% trans 'Emergencias' %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if modules.hospitalizacion %}
                                <li class="tab">
                                    <a href="#admisiones" data-toggle="tab">
                                        {% trans 'Hospitalizaciones' %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if modules.imagenes %}
                                <li class="tab">
                                    <a href="#examenes" data-toggle="tab">
                                        {% trans 'Im&aacute;genes' %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if modules.contratos %}
                                <li class="tab">
                                    <a href="#contratos" data-toggle="tab">
                                        {% trans 'Contratos' %}</a>
                                </li>
                            {% endif %}
                            {% if modules.caja %}
                                <li class="tab">
                                    <a href="#recibos" data-toggle="tab">
                                        {% trans 'Recibos' %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if modules.laboratorio %}
                                <li class="tab">
                                    <a href="#laboratorio" data-toggle="tab">
                                        {% trans 'Laboratorio' %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <article id="paciente" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12 m-b-15">
                                        {% include 'snippets/persona_fotografia.html'  with persona=persona %}
                                        {% include 'snippets/persona.html' with persona=persona %}
                                        <a href="{% url 'persona-editar' persona.id %}"
                                           class="btn btn-primary">
                                            {% trans 'Editar Datos' %}
                                        </a>
                                    </div>
                                </div>
                                {% if persona.contratos %}
                                    {% include 'contracts/snippets/contracts.html' %}
                                {% endif %}
                                {% if persona.beneficiarios %}
                                    {% for beneficiario in persona.beneficiarios.all %}
                                        {% include 'contracts/snippets/beneficiario.html' with contrato=beneficiario.contrato %}
                                        <p>
                                            {% trans 'Exclusiones:' %} {{ beneficiario.exclusion }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="m-t-30">
                                  {% include 'bsc/snippets/respuestas.html' with respuestas=persona.respuesta_set %}
                                </div>
                            </article>
                            <article id="clinico" class="tab-pane">
                                {% include 'persona/antecedentes.html' %}
                                <div class="row">
                                    <canvas id="chart"
                                            class="col-md-12 col-xs-12 graph"
                                            height="100"></canvas>
                                    <div id="legend"
                                         class="graph col-md-12 col-xs-12"></div>
                                </div>
                            </article>
                            <article id="vida" class="tab-pane">
                                {% include 'snippets/estilo_vida.html' with estilo_vida=persona.estilo_vida %}
                                {% if perms.persona.persona %}
                                    <a href="{% url 'persona-estilovida-editar' persona.id %}"
                                       class="btn btn-primary">
                                        {% trans 'Editar Estilo de Vida' %}
                                    </a>
                                {% endif %}
                            </article>
                            {% if persona.emergencias %}
                                <article id="emergencias" class="tab-pane">
                                    {% include 'emergency/snippets/emergencia_list.html' with emergencias=persona.emergencias.all %}
                                </article>
                            {% endif %}
                            {% if persona.admisiones %}
                                <article id="admisiones" class="tab-pane">
                                    {% include 'snippets/enfermeria_list.html' with admisiones=persona.admisiones.all %}
                                </article>
                            {% endif %}
                            {% if persona.examenes %}
                                <article id="examenes" class="tab-pane">
                                    {% include 'snippets/examen_list.html' with examenes=persona.examenes.all %}
                                </article>
                            {% endif %}
                            {% if persona.consultas %}
                                {% include 'clinique/snippets/consulta.html' with persona=persona %}
                            {% endif %}
                            {% if persona.contratos %}
                                <article id="contratos" class="tab-pane">
                                    {% include 'contracts/snippets/pcd.html' with persona=persona %}
                                </article>
                            {% endif %}
                            {% if persona.recibos %}
                                <article id="recibos" class="tab-pane">
                                    {% include 'invoice/persona.html' with recibos=persona.recibos %}
                                </article>
                            {% endif %}
                            <article id="laboratorio" class="tab-pane">
                                {% include 'lab/snippets/examen.html' with examenes=persona.resultados.all %}
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        {% include 'snippets/persona_aside.html' with persona=persona %}
    </div>
{% endblock content %}
{% block scripts %}
<script>
window.onload = function(){ 
    h1 = document.getElementById('time_tag');
    seconds = document.getElementById('seconds').value,
    minutes = document.getElementById('minutes').value, 
    hours = document.getElementById('hours').value;
    var t;
    function add() {
        seconds++;
        if (seconds >= 60) {
            seconds = 0;
            minutes++;
            if (minutes >= 60) {
                minutes = 0;
                hours++;
            }
        }
        
        h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ?minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

        if(hours>0 || minutes >= 15){
            $('#time_tag').addClass("alert_timer");
        }
        timer();
    }
    function timer() {
        t = setTimeout(add, 1000);
    }
    timer();
}
</script>
{% endblock %}