{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">
                <section class="page-header">
                    <h1>Laboratorio</h1>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">
                {% crispy searchform %}
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-stacked nav-tabs">

                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
