{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header">
                <h1>{{ presupuesto }}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 main-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-header">
                        <h2>Total
                            Presupuestado: {{ presupuesto.total_presupuestado }}</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="page-header">
                        <h2>Total
                            Ejecutado: {{ presupuesto.total_gastos_mes_actual }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ presupuesto.porcentaje_ejecutado_mes_actual|floatformat:2 }}"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ presupuesto.porcentaje_ejecutado_mes_actual|floatformat:2 }}%; min-width: 3em;">
                            {{ presupuesto.porcentaje_ejecutado_mes_actual|floatformat:2 }}%
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col-md-12 main-content">
            <div class="page-header">
                <h2>Detalle de Gastos</h2>
            </div>
            {% for cuenta in presupuesto.cuenta_set.all %}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ cuenta }}</div>
                    <div class="panel-body ">
                        <table class="table">
                            <caption>Cuentas Por Pagar</caption>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                                <th>Proveedor</th>
                                <th>Cheque</th>
                                <th>Comprobante</th>
                                <th>Monto</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gasto in cuenta.cuentas_por_pagar.all %}
                                <tr>
                                    <td>{{ gasto.created }}</td>
                                    <td>{{ gasto.descripcion }}</td>
                                    <td>{{ gasto.proveedor }}</td>
                                    <td>{{ gasto.cheque }}</td>
                                    <td>
                                        {% if gasto.comprobante %}
                                            <a class="btn btn-success"
                                               href="{{ gasto.comprobante.url }}">
                                                <i class="fa fa-download"></i>
                                                Descargar
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">{{ gasto.monto }}</td>
                                    <td>
                                        <a class="btn btn-danger" href="{% url 'gasto-delete' gasto.id %}"><i class="fa fa-trash-o"></i> Borrar</a>
                                        <a class="btn btn-success" href="{% url 'gasto-ejecutar' gasto.id %}"><i class="fa fa-trash-o"></i> Ejecutar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">No hay
                                        gastos registrados
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5">Total de Gastos</th>
                                <th class="text-right">{{ cuenta.total_gastos_mes_actual }}</th>
                                <th>&nbsp;</th>
                            </tr>
                            </tfoot>
                        </table>
                        <table class="table">
                            <caption>Gastos Completados</caption>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                                <th>Proveedor</th>
                                <th>Cheque</th>
                                <th>Comprobante</th>
                                <th>Monto</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gasto in cuenta.gastos_mes_actual.all %}
                                <tr>
                                    <td>{{ gasto.created }}</td>
                                    <td>{{ gasto.descripcion }}</td>
                                    <td>{{ gasto.proveedor }}</td>
                                    <td>{{ gasto.cheque }}</td>
                                    <td>
                                        {% if gasto.comprobante %}
                                            <a class="btn btn-success"
                                               href="{{ gasto.comprobante.url }}">
                                                <i class="fa fa-download"></i>
                                                Descargar
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">{{ gasto.monto }}</td>
                                    <td><a class="btn btn-danger" href="{% url 'gasto-delete' gasto.id %}"><i class="fa fa-trash-o"></i> Borrar</a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">No hay
                                        gastos registrados
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5">Total de Gastos</th>
                                <th class="text-right">{{ cuenta.total_gastos_mes_actual }}</th>
                                <th>&nbsp;</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary"
                           href="{% url 'budget-gasto-agregar' cuenta.id %}">
                            <i class="fa fa-plus-circle"></i>
                            Agregar Gasto
                        </a>
                        <a class="btn btn-primary"
                           href="{% url 'budget-gasto-pendiente-agregar' cuenta.id %}">
                            <i class="fa fa-plus-circle"></i>
                            Agregar Cuenta por Pagar
                        </a>
                    </div>
                </div>
            {% empty %}
                <p>No hay Cuentas Disponibles</p>
            {% endfor %}
        </section>
    </div>
{% endblock %}
