{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header">
                <h1>Presupuesto</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 main-content">
            <ul>
                {% for presupuesto in presupuestos.all %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><strong><a href="{{ presupuesto.get_absolute_url }}">{{ presupuesto }}</a></strong></h3>
                                </div>
                                <div class="col-md-4">
                                    <h3>Presupuestado: {{ presupuesto.total_presupuestado }}</h3>
                                </div>
                                <div class="col-md-4">
                                    <h3>
                                        Ejecutado: {{ presupuesto.total_gastos_mes_actual }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="{{ presupuesto.porcentaje_ejecutado_mes_actual|floatformat:2 }}"
                                             aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ cuenta.porcentaje_ejectuado_mes_actual|floatformat:2 }}%; min-width: 3em;">
                                            {{ presupuesto.porcentaje_ejecutado_mes_actual|floatformat:2 }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% empty %}
                    <li>No hay Presupuestos Disponibles</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
