{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header">
                <h1>Presupuesto</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 main-content">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation">
                    <a data-toggle="tab" href="#presupuesto">
                        Presupuesto Financiero
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#control-presupuestal">
                        Control Presupuestal
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#punto-equilibrio">
                        Ingresos y Egresos
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="row tab-pane fade in active" id="presupuesto">
                    <section class="col-md-12">
                        <div class="row">
                            <article class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">
                                        <h2>Presupuesto Global</h2>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Presupuestado: {{ presupuesto }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Ejecutado: {{ gastos }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>Total de
                                            Ingresos: {{ total_ingresos }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress">
                                            {% with porcentaje as ejecutado %}
                                                <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                    {{ ejecutado|floatformat:2 }}%
                                                </div>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </article>
                        </div>
                        {% for presupuesto in presupuestos.all %}
                            <article>
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">
                                        <h3><strong><a
                                                href="{{ presupuesto.get_absolute_url }}">{{ presupuesto }}</a></strong>
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Presupuestado: {{ presupuesto.total_presupuestado }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Ejecutado: {{ presupuesto.total_gastos_mes_actual }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>Total de
                                            Ingresos: {{ presupuesto.ingresos_mes_actual }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress">
                                            {% with presupuesto.porcentaje_ejecutado_mes_actual as ejecutado %}
                                                <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                    {{ ejecutado|floatformat:2 }}%
                                                </div>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </article>
                        {% empty %}
                            <h3>No hay Presupuestos Disponibles</h3>
                        {% endfor %}
                    </section>
                </div>
                <div class="row tab-pane fade in" id="control-presupuestal">
                    <section class="col-md-12">
                        <div class="row">
                            <article class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">
                                        <h2>Presupuesto Global</h2>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Presupuestado: {{ presupuesto }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Ejecutado: {{ gastos }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>Total de
                                            Ingresos: {{ total_ingresos }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress">
                                            {% with porcentaje as ejecutado %}
                                                <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                    {{ ejecutado|floatformat:2 }}%
                                                </div>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </article>
                        </div>
                        {% for presupuesto in presupuestos.all %}
                            <article>
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">
                                        <h3><strong><a
                                                href="{% url 'budget-control' presupuesto.id %}">{{ presupuesto }}</a></strong>
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            Ejecutado: {{ presupuesto.total_gastos_mes_actual }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>Total de
                                            Ingresos: {{ presupuesto.ingresos_mes_actual }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress">
                                            {% with presupuesto.porcentaje_consumido as ejecutado %}
                                                <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                    {{ ejecutado|floatformat:2 }}%
                                                </div>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </article>
                        {% empty %}
                            <h3>No hay Presupuestos Disponibles</h3>
                        {% endfor %}
                    </section>
                </div>
                <div class="row tab-pane fade in" id="punto-equilibrio">
                    <div class="col-md-12">
                        <h2>Punto de Equilibrio</h2>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Presupuesto</th>
                                <th>Ingresos</th>
                                <th>Ganacia o P&eacute;rdida del Periodo</th>
                                <th>Egresos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Presupuesto Global</td>
                                <td class="text-right">{{ total_ingresos }}</td>
                                <td class="text-right">{{ balance }}</td>
                                <td class="text-right">{{ gastos }}</td>
                            </tr>
                            {% for presupuesto in presupuestos.all %}
                                {% with presupuesto.get_equilibiio as balance %}
                                    <tr class="{% if balance < 0 %}danger{% endif %}{% if balance > 0 %}success{% endif %}">
                                        <td>{{ presupuesto }}</td>
                                        <td class="text-right">{{ presupuesto.ingresos_mes_actual }}</td>
                                        <td class="text-right">{{ balance }}</td>
                                        <td class="text-right">{{ presupuesto.total_gastos_mes_actual }}</td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
