{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 main-header">
            <section class="page-header">
                <h1>
                    {% trans 'Balance del Mes de' %}
                    {{ fecha|date:"F" }}
                    {% trans 'del' %}
                    {{ fecha|date:"Y" }}
                </h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 main-content">
            <div class="row">
                <div class="col-md-6 col-xs-6" id="meses">
                    <div class="panel {% if balance > 0 %} panel-success {% else %} panel-danger {% endif %}">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Resumen de Ingresos y Egresos' %}
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>{% trans 'Excedente Mes Anterior' %}</td>
                                <td class="text-right">{{ previous_balance }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Total Depositado' %}</td>
                                <td class="text-right">
                                    <a href="{% url 'deposito-periodo' %}?{{ periodo_string }}"
                                       target="_blank">
                                        {{ total_depositado }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans 'Total Ejecutado' %}</td>
                                <td class="text-right">
                                    <a href="{% url 'gasto-periodo-list' %}?{{ periodo_string }}"
                                       target="_blank">
                                        {{ total_gastos }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if balance > 0 %}
                                        {% trans 'Utilidad del Periodo' %}
                                    {% else %}
                                        {% trans 'Perdida del Periodo' %}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ balance }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Cuentas por Cobrar' %}</td>
                                <td class="text-right">{{ cuentas_por_cobrar }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Saldo en Cuentas' %}</td>
                                <td class="text-right">{{ saldo_cuentas }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            {% for cuenta in cuentas %}
                                <tr>
                                    <td>{{ cuenta.nombre }}</td>
                                    <td class="text-right">{{ cuenta.monto }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Descripción del Presupuesto por Ciudad' %}
                            </h3>
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                            {% for presupuesto in presupuestado_ciudad.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'budget-month-show' presupuesto.cuenta__presupuesto_id fecha.year fecha.month %}"
                                           target="_blank">
                                            {{ presupuesto.cuenta__presupuesto__ciudad__nombre }}
                                        </a>
                                    </td>
                                    <td class="text-right">{{ presupuesto.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total Presupuestado' %}</th>
                                <th class="text-right">{{ presupuestado }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{% trans 'Cheques' %}</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        {% for cheque in descripcion_cheques.all %}
                                            <dt>{{ cheque.tipo__nombre }}</dt>
                                            <dd>{{ cheque.total }}</dd>
                                        {% endfor %}
                                        <dt>{% trans 'Total' %}</dt>
                                        <dd>
                                            <a href="{% url 'cheque-periodo' %}?{{ periodo_string }}"
                                               target="_blank">
                                                {{ total_cheques }}
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{% trans 'Facturaci&oacute;n' %}</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        {% for facturado in pagos.all %}
                                            <dt>{{ facturado.tipo__nombre }}</dt>
                                            <dd>{{ facturado.total }}</dd>
                                        {% endfor %}
                                        <dt>{% trans 'Total' %}</dt>
                                        <dd>
                                            {{ total_ventas }}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'Depositos' %}</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                {% for deposito in descripcion_depositos.all %}
                                    <dt>{{ deposito.tipo__nombre }}</dt>
                                    <dd>{{ deposito.total }}</dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
