{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 main-header">
            <section class="page-header">
                <h1>
                    {% trans 'Balance del Mes de' %}
                    {{ fecha|date:"F" }}
                    {% trans 'del' %}
                    {{ fecha|date:"Y" }}
                </h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 main-content">
            <div class="row">
                <div class="col-md-6 col-xs-6" id="meses">
                    <div class="panel {% if balance > 0 %} panel-success {% else %} panel-danger {% endif %}">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Resumen de Ingresos y Egresos' %}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>{% trans 'Total Depositado' %}</dt>
                                <dd>
                                    <a href="{% url 'deposito-periodo' %}?{{ periodo_string }}"
                                       target="_blank">
                                        {{ total_depositado }}
                                    </a>
                                </dd>
                                <dt>{% trans 'Total Ejecutado' %}</dt>
                                <dd>
                                    <a href="{% url 'gasto-periodo-list' %}?{{ periodo_string }}"
                                       target="_blank">
                                        {{ total_gastos }}
                                    </a>
                                </dd>
                                <dt>
                                    {% if balance > 0 %}
                                        {% trans 'Utilidad del Periodo' %}
                                    {% else %}
                                        {% trans 'Perdida del Periodo' %}
                                    {% endif %}
                                </dt>
                                <dd>{{ balance }}</dd>
                                <dt>{% trans 'Saldo en Cuentas' %}</dt>
                                <dd>{{ saldo_cuentas }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                {% for cuenta in cuentas %}
                                    <dt>{{ cuenta.nombre }}</dt>
                                    <dd>{{ cuenta.monto }}</dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% trans 'Descripción del Presupuesto por Ciudad' %}
                            </h3>
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                            {% for presupuesto in presupuestado_ciudad.all %}
                                <tr>
                                    <td>{{ presupuesto.cuenta__presupuesto__ciudad__nombre }}</td>
                                    <td class="text-right">{{ presupuesto.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'Total Presupuestado' %}</th>
                                <th class="text-right">{{ presupuestado }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{% trans 'Depositos' %}</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        {% for deposito in descripcion_depositos.all %}
                                            <dt>{{ deposito.tipo__nombre }}</dt>
                                            <dd>{{ deposito.total }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{% trans 'Cheques' %}</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        {% for cheque in descripcion_cheques.all %}
                                            <dt>{{ cheque.tipo__nombre }}</dt>
                                            <dd>{{ cheque.total }}</dd>
                                        {% endfor %}
                                        <dt>{% trans 'Total' %}</dt>
                                        <dd>
                                            <a href="{% url 'cheque-periodo' %}?{{ periodo_string }}"
                                               target="_blank">
                                                {{ total_cheques }}
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="btn-block" role="button"
                                   data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true"
                                   aria-controls="collapseOne">
                                    {% trans 'Descripción de Gastos por Ciudad' %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse"
                             role="tabpanel" aria-labelledby="headingOne">
                            <table class="table table-hover table-striped">
                                <tbody>
                                {% for gasto in gastos.all %}
                                    <tr>
                                        <td>{{ gasto.cuenta }}</td>
                                        <td>{{ gasto.fecha_de_pago }}</td>
                                        <td>{{ gasto.proveedor }}</td>
                                        <td class="text-right">{{ gasto.monto }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
