{% extends 'base.html' %}
{% load staticfiles %}{% load crispy_forms_tags %}{% load l10n %}{% load i18n %}
{% block content %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header col-md-10 col-xs-10">
                <h1>
                    {% trans 'Gastos de' %} {{ motivo }}
                    <small>{{ inicio }} {% trans 'al' %} {{ fin }}</small>
                </h1>
            </section>
            <div class="col-md-2 col-xs-2">
                <a class="btn btn-block btn-primary"
                   href="{% url 'budget-index' %}">{% trans 'Volver a Presupuesto' %}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive main-content">
            <table class="table gastos_list col-md-12">
                <caption>{% trans 'Gastos Completados' %}</caption>
                <thead>
                <tr>
                    <th class="col-md-1">{% trans 'Fecha en Factura' %}</th>
                    <th class="col-md-1">{% trans 'Fecha de Pago' %}</th>
                    <th class="col-md-1">{% trans 'Descripci&oacute;n' %}</th>
                    <th class="col-md-1">{% trans 'Usuario' %}</th>
                    <th class="col-md-1">{% trans 'Proveedor' %}</th>
                    <th class="col-md-1">{% trans 'N&uacute;mero de Comprobante' %}</th>
                    <th class="col-md-1">{% trans 'N&uacute;mero de Factura' %}</th>
                    <th class="col-md-1">{% trans 'Fuente de Pago' %}</th>
                    <th class="col-md-1">{% trans 'Descargas' %}</th>
                    <th class="col-md-1">{% trans 'Monto' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for gasto in gastos.all %}
                    <tr>
                        <td class="col-md-1">{{ gasto.fecha_en_factura|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td class="col-md-1">{{ gasto.fecha_de_pago|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td class="col-md-1">{{ gasto.descripcion }}</td>
                        <td class="col-md-1">{{ gasto.usuario }}</td>
                        <td class="col-md-1">{{ gasto.proveedor }}</td>
                        <td class="col-md-1">{{ gasto.numero_de_comprobante_de_pago }}</td>
                        <td class="col-md-1">{{ gasto.numero_de_factura }}</td>
                        <td class="col-md-1">{{ gasto.fuente_de_pago }}</td>
                        <td class="col-md-1">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle"
                                        type="button"
                                        id="dropdownMenu1"
                                        data-toggle="dropdown"
                                        aria-expanded="true">
                                    {% trans 'Documentos' %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu"
                                    aria-labelledby="dropdownMenu1">
                                    {% if gasto.comprobante_de_pago %}
                                        <li role="presentation">
                                            <a role="menuitem" target="_blank"
                                               href="{{ gasto.comprobante_de_pago.url }}">
                                                <i class="fa fa-download"></i>
                                                {% trans 'Comprobante de Pago' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if gasto.factura %}
                                        <li role="presentation">
                                            <a role="menuitem" target="_blank"
                                               href="{{ gasto.factura.url }}">
                                                <i class="fa fa-download"></i>
                                                {% trans 'Factura' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td class="col-md-1" class="text-right">{{ gasto.monto }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">
                            {% trans 'No hay gastos registrados' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">{% trans 'Total de Gastos' %}</th>
                    <th class="text-right" colspan="3">{{ total }}</th>
                    <th>&nbsp;</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
