{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load crispy_forms_tags %}{% load l10n %}{% load i18n %}
    <div class="row">
        <div class="col-md-12 main-content">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation">
                    <a data-toggle="tab" href="#presupuesto">
                        {% trans 'Presupuesto Financiero' %}
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#punto-equilibrio">
                        {% trans 'Ingresos y Egresos' %}
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#inversion">
                        {% trans 'Inversi&oacute;n' %}
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#ingresos">
                        {% trans 'Anual' %}
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#reportes">
                        {% trans 'Reportes' %}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="row tab-pane fade in active" id="presupuesto">
                    <section class="col-md-12">
                        <div class="row">
                            <article class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">
                                        <h2>{% trans 'Presupuesto Global' %}</h2>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            {% trans 'Presupuestado:' %} {{ presupuesto }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>
                                            {% trans 'Ejecutado:' %} {{ gastos }}</h3>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h3>{% trans 'Monto Disponible:' %} {{ disponible }}</h3>
                                        <h5>{% trans 'Cr&eacute;dito' %} {{ credito_anterior }}</h5>
                                        <h5>{% trans 'Contado' %} {{ contado_anterior }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress">
                                            {% with porcentaje as ejecutado %}
                                                <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                    {{ ejecutado|floatformat:2 }}%
                                                </div>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="row">
                            {% for presupuesto in presupuestos.all %}
                                <article class="col-md-6 col-xs-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <span class="lead">{{ presupuesto }}
                                            </span>
                                        </div>
                                        <div class="panel-body ">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <dl class="dl-horizontal">
                                                        <dt>{% trans 'Presupuestado' %}</dt>
                                                        <dd>{{ presupuesto.total_presupuestado }}</dd>
                                                        <dt>{% trans 'Ejecutado' %}</dt>
                                                        <dd>{{ presupuesto.total_gastos_mes_actual }}</dd>
                                                        <dt>{% trans 'Total de Ingresos' %}</dt>
                                                        <dd>{{ presupuesto.ingresos_mes_actual }}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="progress">
                                                        {% with presupuesto.porcentaje_ejecutado_mes_actual as ejecutado %}
                                                            <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                                 role="progressbar"
                                                                 aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                                 aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                                {{ ejecutado|floatformat:2 }}%
                                                            </div>
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="btn btn-primary"
                                               href="{% url 'budget-control' presupuesto.id %}">
                                                {% trans 'Ver Control Presupuestal' %}
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                {% empty %}
                                <h3>{% trans 'No hay Presupuestos Disponibles' %}</h3>
                            {% endfor %}
                        </div>
                    </section>
                </div>
                <div class="row tab-pane fade in" id="punto-equilibrio">
                    <div class="col-md-12">
                        <h2>{% trans 'Punto de Equilibrio' %}</h2>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{% trans 'Presupuesto' %}</th>
                                <th>{% trans 'Proyectado' %}</th>
                                <th>{% trans 'Monto Disponible' %}</th>
                                <th>{% trans 'Ingresos' %}</th>
                                <th>{% trans 'Ganacia o P&eacute;rdida del Periodo' %}</th>
                                <th>{% trans 'Egresos' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{% trans 'Presupuesto Global' %}</td>
                                <td class="text-right">{{ presupuesto }}</td>
                                <td class="text-right">{{ disponible }}</td>
                                <td class="text-right">{{ total_ingresos }}</td>
                                <td class="text-right">{{ balance }}</td>
                                <td class="text-right">{{ gastos }}</td>
                            </tr>
                            {% for presupuesto in presupuestos.all %}
                                {% with presupuesto.get_equilibiio as balance %}
                                    <tr class="{% if balance < 0 %}danger{% endif %}{% if balance > 0 %}success{% endif %}">
                                        <td>{{ presupuesto }}</td>
                                        <td class="text-right">{{ presupuesto.total_presupuestado }}</td>
                                        <td class="text-right">{{ presupuesto.ingresos_mes_anterior }}</td>
                                        <td class="text-right">{{ presupuesto.ingresos_mes_actual }}</td>
                                        <td class="text-right">{{ balance }}</td>
                                        <td class="text-right">{{ presupuesto.total_gastos_mes_actual }}</td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row tab-pane fade in" id="inversion">
                    {% for presupuesto in inversiones.all %}
                        <article class="col-md-6 col-xs-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="lead">{{ presupuesto }}
                                    </span>
                                </div>
                                <div class="panel-body ">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <dl class="dl-horizontal">
                                                <dt>{% trans 'Presupuestado' %}</dt>
                                                <dd>{{ presupuesto.total_presupuestado }}</dd>
                                                <dt>{% trans 'Ejecutado' %}</dt>
                                                <dd>{{ presupuesto.total_gastos_mes_actual }}</dd>
                                                <dt>{% trans 'Total de Ingresos' %}</dt>
                                                <dd>{{ presupuesto.ingresos_mes_actual }}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="progress">
                                                {% with presupuesto.porcentaje_ejecutado_mes_actual as ejecutado %}
                                                    <div class="progress-bar {% if ejecutado >= 100 %} progress-bar-danger {% endif %}"
                                                         role="progressbar"
                                                         aria-valuenow="{% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {% if ejecutado >= 100 %}100{% else %}{{ ejecutado|floatformat:2 }}{% endif %}%; min-width: 3em;">
                                                        {{ ejecutado|floatformat:2 }}%
                                                    </div>
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-primary"
                                       href="{{ presupuesto.get_absolute_url }}">
                                        {% trans 'Ver Detalle de Presupuesto' %}
                                    </a>
                                    <a class="btn btn-primary"
                                       href="{% url 'budget-control' presupuesto.id %}">
                                        {% trans 'Ver Control Presupuestal' %}
                                    </a>
                                </div>
                            </div>
                        </article>
                        {% empty %}
                        <div class="col-md-12 col-xs-12">
                            <h3>{% trans 'No hay Presupuestos Disponibles' %}</h3>
                        </div>
                    {% endfor %}
                </div>
                <div class="row tab-pane fade in" id="ingresos">
                    <div class="col-md-12 table-responsive">
                        <h2>{% trans 'Presupuesto Anual' %} {{ year }}</h2>
                        <div class="row">
                            {% for form in budget_forms %}
                                <div class="col-md-2">
                                    {% crispy form %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row tab-pane fade in" id="reportes">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                {% crispy gasto-periodo %}
                            </div>
                            <div class="col-md-3">
                                {% crispy gasto-presupuesto-periodo %}
                            </div>
                            <div class="col-md-6 col-xs-6">
                                {% crispy budget-month %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% crispy budget-month-year %}
                            </div>
                            <div class="col-md-6">
                                {% crispy balance-month-year %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
