{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}{% load crispy_forms_tags %}
{% block title %} {% trans 'Aseguradora' %} {{ aseguradora }}{% endblock %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab25' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 main-header">
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Aseguradora' %} {{ aseguradora }}
                    <small>{{ aseguradora.rtn }}</small>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 col-xs-12 main-content">
            <h3>{% trans 'Representante:' %} {{ aseguradora.representante.nombre_completo }}</h3>
            <a class="btn btn-primary"
               href="{% url 'aseguradora-editar' aseguradora.id %}">
                {% trans 'Editar Aseguradora' %}
            </a>
            <h2>{% trans 'Estadísticas de Consulta' %}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for mes in meses %}
                        <th>
                            {{ mes.inicio|date:"N" }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% trans 'Total de Consultas' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.consultas }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Incapacidades' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.incapacidades }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Días Incapacidad' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.total_incapacidades }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Consulta Diurna' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.diurnas }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Consulta Nocturna' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.nocturnas }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Satisfacción' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">
                            {{ mes.satisfaccion|floatformat:2 }}%
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Quejas' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.quejas }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            <div class="row">
                {% for form in forms %}
                    <div class="col-md-2">
                        {% crispy form %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
