{% extends 'base.html' %}
{% block title %}Contratos{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Contratos
                    <small>P&aacute;gina Principal</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
    <section class="col-md-9">
        <div class="main-content col-md-12">
            <div class="row">
                <section class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#estadisticas" data-toggle="tab">Contratos
                                Privados</a>
                        </li>
                        <li>
                            <a href="#privados" data-toggle="tab">Contratos
                                Empresariales</a>
                        </li>
                        <li>
                            <a href="#busqueda" data-toggle="tab">B&uacute;squeda</a>
                        </li>
                        <li>
                            <a href="#planes" data-toggle="tab">Planes</a>
                        </li>
                        <li>
                            <a href="#aseguradoras" data-toggle="tab">Aseguradoras</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <article id="estadisticas" class="tab-pane active">
                            <div class="col-md-12">
                                <div class="row">
                                    <section class="col-md-12 page-header">
                                        <h1>Contratos Privados</h1>
                                    </section>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <section class="page-header">
                                            <h2>Estad&iacute;sticas</h2>
                                        </section>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>
                                                        Citas del
                                                        Mes: {{ citas }}
                                                    </li>
                                                    <li>
                                                        Contratos del
                                                        Mes: {{ contratos }}
                                                    </li>
                                                    <li>
                                                        Ingresos proyectados
                                                        para el mes
                                                        actual: {{ ingresos.plan__precio__sum }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>
                                                        Mora del Mes: {{ mora }}
                                                        contratos,
                                                        valor: {{ monto_mora }}
                                                    </li>
                                                    <li>
                                                        Cancelaciones: {{ cancelaciones }}
                                                    </li>
                                                    <li>
                                                        Hospitalizaciones: {{ hospitalizaciones }}
                                                    </li>
                                                    <li>
                                                        Cirugias: {{ cirugias }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <section class="page-header">
                                            <h2>Meta al {{ meta.fecha }}</h2>
                                        </section>
                                        <ul>
                                            <li>
                                                Contratos: {{ meta.contratos }}
                                            </li>
                                            {% for vendedor in vendedores %}
                                                <li>
                                                    {{ vendedor }}: {{ vendedor.get_contratos_mes }}
                                                    contratos
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article id="privados" class="tab-pane">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="page-header">
                                            <h1>Contratos Empresariales</h1>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Empresas</h2>
                                        <ul>
                                            {% for empresa in empresas %}
                                                <li>
                                                    <a href="{% url 'empresa' empresa.id %}">{{ empresa }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Estad&iacute;sticas</h2>
                                        <ul>
                                            <li>
                                                Citas del Mes: {{ citasp }}
                                            </li>
                                            <li>
                                                Consultas Iniciales del
                                                Mes: {{ consulta }}
                                            </li>
                                            <li>
                                                Consultas de Seguimiento del
                                                Mes: {{ seguimientos }}
                                            </li>
                                            <li>
                                                Contratos del
                                                Mes: {{ contratos_empresariales }}
                                            </li>
                                            <li>
                                                Hospitalizaciones: {{ hospitalizaciones }}
                                            </li>
                                            <li>Cirugias: {{ cirugias }}</li>
                                            <li>
                                                Mora del Mes: {{ mora_empresa }}
                                                contratos,
                                                valor: {{ monto_mora_empresa }}
                                            </li>
                                            <li>
                                                Ingresos proyectados para el mes
                                                actual: {{ ingresos_empresa.plan__precio__sum }}
                                            </li>
                                            <li>
                                                Cancelaciones: {{ cancelaciones_empresa }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article id="busqueda" class="tab-pane">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="page-header">
                                            <h2>Consultar</h2>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <section class="col-md-4">
                                        {% crispy contrato-search %}
                                    </section>
                                    <section class="col-md-4">
                                        {% crispy contrato-periodo %}
                                    </section>
                                    <section class="col-md-4">
                                        {% crispy vendedor-search %}
                                    </section>
                                </div>
                                <br/>
                                <div class="row">
                                    <section class="col-md-4">
                                        {% crispy plan-search %}
                                    </section>
                                    <section class="col-md-4">
                                        {% crispy contrato-persona-search %}
                                    </section>
                                    <section class="col-md-4">
                                        {% crispy empresa-search %}
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-md-4">
                                        {% crispy evento-periodo %}
                                    </section>
                                    <section class="col-md-4">
                                        {% crispy vendedor-periodo %}
                                    </section>
                                </div>
                            </div>
                        </article>
                        <article id="planes" class="tab-pane">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="page-header">
                                            <h1>Planes</h1>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            {% for plan in planes.all %}
                                                <li>
                                                    <a href="{% url 'contracts-plan' plan.id %}">Plan {{ plan }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article id="aseguradoras" class="tab-pane">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="page-header">
                                            <h1>Aseguradoras</h1>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            {% for aseguradora in aseguradoras.all %}
                                                <li>
                                                    <a href="{% url 'aseguradora' aseguradora.id %}">{{ aseguradora }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <aside class="col-md-3">
        <div class="toolbox col-md-12">
            <nav class="sidebar-nav">
                <ul class="nav nav-tabs nav-stacked">
                    <li>
                        <a href="{% url 'contrato-add' %}">Crear Contrato</a>
                    </li>
                    <li>
                        <a href="{% url 'contrato-empresarial-add' %}">Crear
                            Contrato Empresarial</a>
                    </li>
                    <li>
                        <a href="{% url 'contracts-master-add' %}">Crear
                            Contrato Maestro</a>
                    </li>
                    <li>
                        <a href="{% url 'contract-master-list' %}">Listar
                            Contratos Maestros</a>
                    </li>
                    <li>
                        <a href="{% url 'contracts-archivo-add' %}">Agregar Archivo
                            de Importaci&oacute;n</a>
                    </li>
                    <li>
                        <a href="{% url 'contracts-archivo-list' %}">Listar Archivo
                            de Importaci&oacute;n</a>
                    </li>
                    <li>
                        <a href="{% url 'vendedor-add' %}">Agregar Vendedor</a>
                    </li>
                    <li>
                        <a href="{% url 'contrato-tipoevento-add' %}">Agregar
                            Tipo de Evento</a>
                    </li>
                    <li>
                        <a href="{% url 'contrato-beneficiario-list' %}">Contratos
                            y Beneficiarios</a>
                    </li>
                    <li>
                        <a href="{% url 'contrato-empresarial-list' %}">Contratos
                            Empresariales</a>
                    </li>

                    <li>
                        <a href="{% url 'empresa-add' %}">Agregar Empresa</a>
                    </li>
                    <li>
                        <a href="{% url 'contracts-aseguradora-add' %}">Agregar Aseguradora</a>
                    </li>
                    <li>
                        <a href="{% url 'contracts-meta-add' %}">Agregar
                            Meta</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    </div>
{% endblock %}
