{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="page-header">
                <h1>Contratos Maestros</h1>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 toolbox ">
                <a href="{% url 'contrato-index' %}"
                   class="btn btn-primary">Volver a Contratos</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="personas" class="col-md-12">
            <div class="main-content col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Poliza</th>
                        <th>Contratante</th>
                        <th>Aseguradora</th>
                        <th>Plan</th>
                        <th>Vendedor</th>
                        <th>Vencimiento</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contrato in contratos %}
                        <tr>
                            <td><a class="btn btn-success"
                                   href="{{ contrato.get_absolute_url }}">{{ contrato.poliza }}</a>
                            </td>
                            <td>{{ contrato.contratante }}</td>
                            <td>{{ contrato.aseguradora }}</td>
                            <td>{{ contrato.plan }}</td>
                            <td>{{ contrato.vendedor }}</td>
                            <td>{{ contrato.vencimiento|date:"d/m/Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
