{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %} Vendedor {{ vendedor }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{{ plan }}
                <small>Plan</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">
                <section class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#beneficios" data-toggle="tab">Beneficios</a>
                        </li>
                        <li>
                            <a href="#limites" data-toggle="tab">L&iacute;mites</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <article id="beneficios" class="tab-pane active">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="page-header">
                                            <h2>Beneficios</h2>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Beneficio</th>
                                                    <th>Precio</th>
                                                    <th>Descuento</th>
                                                    <th>Observaci&oacute;n</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for beneficio in plan.beneficios.all %}
                                                    <tr>
                                                        <td>{{ beneficio.nombre }}</td>
                                                        <td>{{ beneficio.valor }}</td>
                                                        <td>{{ beneficio.descuento }}%</td>
                                                        <td>{{ beneficio.observacion }}</td>
                                                        <td><a class="btn btn-primary" href="{% url 'contracts-beneficio-edit' beneficio.id %}">Editar</a> </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article id="limites" class="tab-pane">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        {% for limite in plan.limites.all %}
                                            <li>{{ limite }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="{% url 'contracts-limite-add' plan.id %}">Agregar L&iacute;mite</a>
                        </li>
                        <li>
                            <a href="{% url 'contracts-beneficio-add' plan.id %}">Agregar Beneficio</a>
                        </li>
                        <li>
                            <a href="{% url 'contracts-plan-clone' plan.id %}">Clonar Plan</a>
                        </li>
                        <li>
                            <a href="{% url 'contracts-plan-edit' plan.id %}">Editar Plan</a>
                        </li>
                        <li><a href="{% url 'contrato-index' %}" class="btn btn-primary">Volver a Contratos</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
