{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %} Vendedor {{ vendedor }}{% endblock %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab32' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">{{ vendedor }}
                <small>Vendedor</small></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">
                <ul>
                    {% for contrato in vendedor.contratos.all %}
                        <li>
                            <a href="{% url 'contrato' contrato.id %}">{{ contrato }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
