{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab11' %}
{% endblock %}
{% block content %}
    <div>
        <div class="col-md-12 panel panel-default">
            <div class="main-content col-md-12">‏
                {% crispy persona_search_form %}
            </div>
        </div>
        
    </div>
    <div>
        <div class="col-md-12 panel panel-default">
            <div class="main-content col-md-12">‏
                {% crispy persona_form %}
            </div>
        </div>
    </div>
{% endblock %}
