{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <div class="page-header">
                    <h1>Centro de Im&aacute;genes</h1>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-inner">
                        <a class="navbar-brand" href="#">Acciones</a>
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'examen-nuevo' %}">Programar un Estudio Nuevo</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <table class="table table-striped no-more-tables">
                    <caption>Estudios Programados</caption>
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Paciente</th>
                        <th>Examen</th>
                        <th>Remiti&oacute;</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudio in estudios_programados %}
                        <tr>
                            <td>{{ estudio.fecha }}</td>
                            <td>{{ estudio.persona.nombre_completo }}</td>
                            <td>{{ estudio.tipo_de_examen.nombre }}</td>
                            <td>{{ estudio.remitio }}</td>
                            <td><a class="btn btn-danger" href="{% url 'examen-efectuar' estudio.id %}">Efectuar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                {% include 'snippets/examen_list.html' with examenes=examenes %}
            </div>
        </div>
    </div>
{% endblock %}
