{% extends 'base.html' %}
{% load staticfiles %}{% load tz %}{% load l10n %}{% load i18n %}
{% block menu %}
    <li class="active">
        <a href="{% url 'examen-index' %}">{% trans 'Estudios programados' %}</a>
    </li>
    <li>
        <a href="{% url 'examen-nuevo' %}">
            {% trans 'Programar Estudio Nuevo' %}
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Centro de Im&aacute;genes' %}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row panel panel-default">‏
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Estudios Programados' %}</h3>
                </div>
                <div class="col-md-12 m-t-15">
                    <table class="table table-striped no-more-tables">
                        <thead>
                        <tr>
                            <th>{% trans 'Fecha' %}</th>
                            <th>{% trans 'Paciente' %}</th>
                            <th>{% trans 'Examen' %}</th>
                            <th>{% trans 'Remiti&oacute;' %}</th>
                            <th>{% trans 'Acciones' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for estudio in estudios_programados %}
                            <tr>
                                <td>{{ estudio.fecha }}</td>
                                <td>{{ estudio.persona.nombre_completo }}</td>
                                <td>{{ estudio.tipo_de_examen.nombre }}</td>
                                <td>{{ estudio.remitio }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button"
                                                class="btn btn-info dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                             {% trans 'Acciones' %}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{% url 'examen-efectuar' estudio.id %}">{% trans 'Efectuar' %}</a>
                                            </li>
                                            <li role="separator"
                                                class="divider"></li>
                                            <li>
                                                <a href="{% url 'examen-cancelar' estudio.id %}">{% trans 'Cancelar' %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row panel panel-default">‏
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Estudios Efectuados' %}</h3>
                </div>
                <div class="col-md-12 m-t-15">
                    {% include 'snippets/examen_list.html' with examenes=examenes %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
