{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block content %}
<div id="informacion" class="col-md-9">
    <div class="main-content col-md-12">‏
          <h1>Consultas de {{ paciente.persona.nombre_completo }}</h1>
          <table class="table table-striped table-bordered">
              <thead class="gradient">
                <tr>
                  <th>Fecha</th>
                  <th>Razon de la Visita</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for consulta in paciente.consultas.all %}
                <tr>
                  <td>{{ consulta.fecha_y_hora|date:"d/m/Y H:i" }}</td>
                  <td>{{ consulta.razon }}</td>
                  <td>
                    <a href="{% url 'consultorio-consulta-view' consulta.id %}">Ver</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
