{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
<div class="row">
<aside class="span3">
<nav class="sidebar-nav">
  <ul class="nav nav-stacked nav-tabs">
    <li>
      <a href="{% url 'requisicion' requisicion.id %}">Regresar a Requisic&oacute;n</a>
    </li>
  </ul>
</nav>
</aside>
<section class="span6">
  {% crispy form %}
</section>
</div>
<div class="row">
    <section class="span12">
        <table class="table table-striped table-bordered no-more-tables">
            <caption>
                Productos en Pedidos
            </caption>
            <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Descripci&oacute;n</th>
                <th>Cantidad</th>
                <th>Pendiente</th>
                <th>Entregado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for item in requisicion.items.all %}
                <tr>
                    <td>{{ item.item.id }}</td>
                    <td>{{ item.item.descripcion }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.pediente }}</td>
                    <td>{{ item.entregada|yesno }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
