{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="span12">
    <section class="page-header">
      <h1>{{ Proveedor.nombre }} <small>Proveedor</small></h1>
    </section>
  </div>
</div>
<div class="row">
  <aside class="span3">
    <nav class="sidebar-nav">
      <ul class="nav nav-stacked nav-tabs">
        <li>
          <a href="{% url 'proveedor-editar' proveedor.id %}">Editar {{ proveedor.nombre }}</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="span9">
    <div class="row">
      <section class="span9">
        <table class="table table-striped table-bordered no-more-tables">
          <caption>
            Productos Provistos
          </caption>
          <thead>
            <tr>
              <th>C&oacute;digo</th>
              <th>Descripci&oacute;n</th>
              <th>Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for item in page_obj %}
            <tr>
              <td>{{ item.plantilla.id }}</td>
              <td>{{ item.plantilla.descripcion }}</td>
              <td>{{ item.cantidad }}</td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
  </section>
</div>
{% endblock %}
