<table class="table table-striped table-responsive">
  <caption>Antecedentes Familiares</caption>
  <tr>
    <td class="data-label">Carcinogénicos</td>
    <td class="patient-data">{{ antecedente.carcinogenico|yesno:"Sí,No" }}</td>
    <td class="data-label">Cardiovasculares</td>
    <td class="patient-data">{{ antecedente.cardiovascular|yesno:"Sí,No" }}</td>
    <td class="data-label">Endocrinológicos</td>
    <td class="patient-data">{{ antecedente.endocrinologico|yesno:"Sí,No" }}</td>
    <td class="data-label">Respiratorios</td>
    <td class="patient-data">{{ antecedente.respiratorio|yesno:"Sí,No" }}</td>
  </tr>
</table>
