<div class="table-responsive">
<table class="table table-striped">
    <caption>Antecedentes Gineco-Obstétricos</caption>
  <tr>
    <td class="data-label">Menarca</td>
    <td class="patient-data">{{ antecedente.menarca }}</td>
    <td class="data-label">Último Periodo</td>
    <td class="patient-data">{{ antecedente.ultimo_periodo }}</td>
  </tr>
  <tr>
    <td class="data-label">Displasia</td>
    <td class="patient-data">{{ antecedente.displasia|yesno:"Sí,No" }}</td>
    <td class="data-label">Otros</td>
    <td class="patient-data">{{ antecedente.otros }}</td>
  </tr>
</table>
<table class="table table-striped">
  <tr>
    <td class="data-label">Gestas</td>
    <td class="patient-data">{{ antecedente.gestas }}</td>
    <td class="data-label">Partos</td>
    <td class="patient-data">{{ antecedente.partos }}</td>
  </tr>
  <tr>
    <td class="data-label">Anticoncepcion</td>
    <td class="patient-data">{{ antecedente.anticoncepcion }}</td>
    <td class="data-label">Cesareas</td>
    <td class="patient-data">{{ antecedente.cesareas }}</td>
  </tr>
</table>
</div>
