<aside class="col-md-3">
    <div class="col-md-12 toolbox">
        <nav class="sidebar-nav">
            <ul class="nav nav-stacked">
                {% if config.CONSULTA_ENABLED %}
                <li>
                    <a href="{% url 'consultorio-espera-u-agregar' persona.id %}">Agregar Paciente a Sala de Espera</a>
                </li>
                <li>
                    {% for consultorio in user.consultorios.all %}
                        <a href="{% url 'consultorio-consulta-agregar' persona.id consultorio.id %}">Agregar Consulta de {{ consultorio }}</a>
                    {% endfor %}
                </li>
                <li>
                    <a href="{% url 'consultorio-citapersona-agregar' persona.id %}">Crear
                        una Cita</a>
                </li>
                <li>
                    <a href="{% url 'clinique-notas' persona.id %}"><i class="fa fa-pencil"></i> Notas de Enfermeria</a>
                </li>
                <li>
                    <a href="{% url 'clinique-signos' persona.id %}"><i class="fa fa-heart"></i> Signos Vitales</a>
                </li>
                <li>
                    <a href="{% url 'consultorio-remision-agregar' persona.id %}">
                        Remitir Paciente
                    </a>
                </li>
                {% endif %}
                {% if config.IMAGENES_ENABLED %}
                <li>
                    <a href="{% url 'examen-programar' persona.id %}">Programar
                        Estudio</a>
                </li>
                {% endif %}
                {% if config.EMERGENCIA_ENABLED %}
                <li>
                    <a href="{% url 'emergency-create' persona.id %}">Ingresar a
                        Emergencias</a>
                </li>
                {% endif %}
                {% if config.HOSPITALIZACION_ENABLED %}
                <li>
                    <a href="{% url 'admision-persona-agregar' persona.id %}">Hospitalizar</a>
                </li>
                {% endif %}

                {% if config.INVOICE_ENABLED %}
                    <li>
                        <a href="{% url 'invoice-create' persona.id %}">Crear un Recibo</a>
                    </li>
                    <li>
                        <a href="{% url 'cotizacion-add' persona.id %}">Crear una Cotizacion</a>
                    </li>
                {% endif %}
                {% if config.CONTRATOS_ENABLED %}
                <li>
                    <a href="{% url 'contrato-persona-add' persona.id %}">Crear
                        un
                        Contrato</a>
                </li>
                <li>
                    <a href="{% url 'persona-beneficiario-add' persona.id %}">Convertir
                        en Beneficiario</a>
                </li>
                <li>
                    <a href="{% url 'persona-empleo-add' persona.id %}">Agregar
                        Empresa</a>
                </li>
                <li>
                    <a href="{% url 'contrato-persona-master-add' persona.id %}">Crear
                        Contrato desde Maestro</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>
