<table class="table table-striped table-bordered">
  <caption class="persona">Datos Personales</caption>
  <tr>
    <th>{{ persona.get_tipo_identificacion_display }}</th>
    <td>{{ persona.identificacion }}</td>
    <th>Sexo</th>
    <td>{{ persona.get_sexo_display }}</td>
    <th>Edad</th>
    <td>{{ persona.obtener_edad }} a&ntilde;os</td>
  </tr>
  <tr>
    <th>Nacimiento</th>
    <td>{{ persona.nacimiento|date:"d/m/Y" }}</td>
    <th>Estado Civil</th>
    <td>{{ persona.get_estado_civil_display }}</td>
    <th>Profesión</th>
    <td>{{ persona.profesion }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ persona.telefono }}</td>
    <th>Direcci&oacute;n</th>
    <td>{{ persona.direccion }}</td>
    <th>Celular</th>
    <td>{{ persona.celular }}</td>
  </tr>
</table>
