{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load l10n %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="main-content col-md-12">
        <section class="page-header">
            <h1>{{ object }}</h1>
        </section>
    </div>
</div>
<div class="row">
    <section class="col-md-6 main-content">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{% trans 'Encuestas realizadas' %}: {{ object.respuesta_set.count }}</p>
                <p class="lead">{% trans 'Encuestas pendientes' %}: {{ consultas.count }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for pregunta in encuesta.pregunta_set.all %}
                    <blockquote>
                        <p>{{ pregunta }}</p>
                    </blockquote>
                    {% empty %}
                    <blockquote>{% trans 'No hay preguntas agregadas' %}</blockquote>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="col-md-6">
        <div class="col-md-12 main-content table-responsive">
            <table class="table">
                {% for consulta in consultas.all %}
                <tr>
                    <td>
                        <address>
                            <strong>{{ consulta.persona }}</strong><br>
                            {{ consulta.persona.domicilio }}<br>
                            <strong>{% trans 'Atendido' %}:</strong> {{ consulta.created }}<br>
                            <strong>{% trans 'Encuestada' %}:</strong> {{ consulta.persona.respuesta_set.count }}
                            {% trans 'veces' %}<br>
                            <strong>{% trans '&Uacute;ltima Encuesta' %}:</strong>
                            {% for encuesta in consulta.persona.respuesta_set.all|slice:":1" %}
                                {{ encuesta.created }}
                            {% endfor %}
                            <br>
                            {% trans 'Tel&eacute;fono:' %} {{ consulta.persona.telefono }} {{ consulta.persona.celular }}
                        </address>
                    </td>
                    <td>
                        <a class="btn btn-block btn-warning"
                           href="{% url 'encuesta-responder' encuesta.id consulta.id %}">{% trans 'Responder' %}</a>
                        <a class="btn btn-block btn-info"
                           href="{% url 'encuesta-respondida' encuesta.id consulta.id %}">{% trans 'Ya Se Encuest&oacute;' %}</a>
                        <a class="btn btn-block btn-danger"
                           href="{% url 'encuesta-no-respondida' encuesta.id consulta.id %}">{% trans 'No Desea Responder' %}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>{% trans 'No hay preguntas agregadas' %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>
{% endblock %}
