{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load l10n %}
{% block menu %}
    {% include "bsc/snippets/encuesta_menu.html" %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    {{ object }}
                    <small>
                        {% trans 'Encuestas pendientes' %}: {{ consultas.count }}
                    </small>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-12 panel panel-border">
                <div class="m-t-15">
                    <table class="table table-striped">
                        {% for consulta in consultas %}
                            <tr>
                                <td>
                                    <address>
                                        <strong>{{ consulta.persona }}</strong>,
                                        {{ consulta.persona.obtener_edad }} {% trans 'A&ntilde;os' %}<br>
                                        <strong>{% trans 'Ciudad' %}:</strong> {{ consulta.persona.ciudad }}<br>
                                        <strong>{% trans 'Atendido' %}:</strong> {{ consulta.created }}<br>
                                        <strong>{% trans 'Encuestada' %}:</strong> {{ consulta.persona.respuesta_set.count }}
                                        {% trans 'veces' %}<br>
                                        <strong>{% trans '&Uacute;ltima Encuesta' %}:</strong>
                                        {% for encuesta in consulta.persona.respuesta_set.all|slice:":1" %}
                                            {{ encuesta.created }}
                                        {% endfor %}
                                        <br>
                                        <strong>{% trans 'Aseguradora' %}:</strong> {{ consulta.poliza.aseguradora }},
                                        {% if consulta.contrato in consulta.poliza.contratos.all %}
                                            {% trans 'Titular del Contrato' %}
                                        {% endif %}
                                        {% for beneficiario in consulta.persona.beneficiarios.all %}
                                            {% if beneficiario.contrato == consulta.contrato %}
                                                {% trans 'Beneficiario del Contrato' %}
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                        {% trans 'Tel&eacute;fono:' %} {{ consulta.persona.telefono }} {{ consulta.persona.celular }}
                                    </address>
                                </td>
                                <td>
                                    <a class="btn btn-block btn-primary"
                                       href="{% url 'encuesta-responder' encuesta.id consulta.id %}">
                                        {% trans 'Responder' %}
                                    </a>
                                    <a class="btn btn-block btn-success negada"
                                       href="{% url 'encuesta-no-respondida' encuesta.id consulta.id %}">
                                        {% trans 'No Contesta' %}
                                    </a>
                                    <a class="btn btn-block btn-info"
                                       href="{% url 'encuesta-rellamar' encuesta.id consulta.id %}">
                                        {% trans 'Rellamar' %}
                                    </a>
                                    <a class="btn btn-block btn-danger negada"
                                       href="{% url 'encuesta-no-respondida' encuesta.id consulta.id %}">
                                        {% trans 'No Desea Responder' %}
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>{% trans 'No hay preguntas agregadas' %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.negada').click(function (e) {
                e.preventDefault();
                var button = $(this);
                var uri = button.attr('href');
                $.get(uri, function (data) {
                    console.log("Worked");
                    console.log(data);
                    button.parent().parent().hide('slow');
                })
            });
        });
    </script>
{% endblock %}
