{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header">
                <h1>{{ object }}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-6 main-content">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">Encuestas realizadas: {{ object.respuesta_set.count }}</p>
                    <p class="lead">Encuestas pendientes: {{ consultas.count }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for pregunta in encuesta.pregunta_set.all %}
                        <blockquote>
                            <p>{{ pregunta }}</p>
                        </blockquote>
                    {% empty %}
                        <blockquote>No hay preguntas agregadas</blockquote>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="col-md-6">
            <div class="col-md-12 main-content table-responsive">
                <table class="table">
                    {% for consulta in consultas.all %}
                        <tr>
                            <td>
                                <address>
                                    <strong>{{ consulta.persona }}</strong><br>
                                    {{ consulta.persona.domicilio }}<br>
                                    <strong>Atendido:</strong> {{ consulta.created }}<br>
                                    <strong>Encuestada:</strong> {{ consulta.persona.cantidad_encuestas }} veces<br>
                                    {% if consulta.persona.ultima_encuesta %}
                                    <strong>&Uacute;ltima Encesuta:</strong> {{ consulta.persona.ultima_encuesta.created }}<br>
                                    {% endif %}
                                    Tel&eacute;fono: {{ consulta.persona.telefono }} {{ consulta.persona.celular }}
                                </address>
                            </td>
                            <td>
                                <a class="btn btn-block btn-warning" href="{% url 'encuesta-responder' encuesta.id consulta.id %}">Responder</a>
                                <a class="btn btn-block btn-info" href="{% url 'encuesta-respondida' encuesta.id consulta.id %}">Ya Se Encuest&oacute;</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>No hay preguntas agregadas</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </div>
{% endblock %}
