{% extends 'base.html' %}
{% load i18n %}{% load l10n %}{% load crispy_forms_tags %}{% load staticfiles %}
{% load timedelta_filter %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 main-header">
            <section class="page-title-box">
                <h4 class="page-title">
                    {% trans 'Operación de quejas del mes de' %}
                    {{ fecha|date:"F" }}
                    {% trans 'del' %}
                    {{ fecha|date:"Y" }}
                </h4>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 main-content">
            <div class="row">
                <div class="col-md-12 col-xs-12" id="meses">
                    <div class=col-md-12>
                        <div class="col-md-6">
                            <div class="panel panel-color panel-green">
                                <div class="panel-heading-green">
                                    <h3 class="panel-title">
                                        {% trans 'Forma de quejas por tipo de consulta' %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <tbody>
                                        {% for tipo in tipos %}
                                            <tr>
                                                <td>{{ tipo.respuesta__consulta__tipo__tipo }}</td>
                                                <td class="text-right">{{ tipo.count }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>
                                                {% trans 'Total de Quejas' %}
                                            </th>
                                            <th class="text-right">
                                                    {{ quejas }}
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-color panel-green">
                                <div class="panel-heading-green">
                                    <h3 class="panel-title">
                                        {% trans 'Quejas por ciudad' %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                        {% for ciudad in ciudades %}
                                            <tr>
                                                <td>
                                                    {% if not ciudad.respuesta__consulta__consultorio__localidad__ciudad__nombre == None %}
                                                            {{ ciudad.respuesta__consulta__consultorio__localidad__ciudad__nombre }}
                                                    {% else %}
                                                        {{ ciudad.respuesta__consulta__consultorio__localidad__ciudad__nombre }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                    {% if not respuesta__consulta__consultorio__localidad__ciudad__nombre == None %}
                                                            {{ ciudad.count }}
                                                    {% else %}
                                                        {{ ciudad.count }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>{% trans 'Total de Quejas' %}</th>
                                            <th class="text-right">{{ quejas }}</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="panel panel-color panel-green">
                                <div class="panel-heading-green">
                                    <h3 class="panel-title">
                                        {% trans 'Quejas por Área' %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <tbody>
                                        {% for departamento in departamentos %}
                                            <tr>
                                                <td>{{ departamento.departamento__nombre }}</td>
                                                <td class="text-right">{{ departamento.count }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>
                                                {% trans 'Total de Quejas' %}
                                            </th>
                                            <th class="text-right">
                                                {{ quejas_filtradas_area.count__sum }}
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-color panel-green">
                                <div class="panel-heading-green">
                                    <h3 class="panel-title">
                                        {% trans 'Otras Quejas' %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                <table class="table table-striped">
                                        <tbody>
                                        {% for departamento_otro in departamentos_otros %}
                                            <tr>
                                                <td>{{ departamento_otro.departamento__nombre }}</td>
                                                <td class="text-right">{{ departamento_otro.count }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>
                                                {% trans 'Total de Quejas' %}
                                            </th>
                                            <th class="text-right">
                                                    {{ quejas_filtradas_otras.count__sum }}
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="panel panel-color panel-green">
                                <div class="panel-heading-green">
                                    <h3 class="panel-title">
                                        {% trans 'Quejas por Usuarios' %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Usuario' %}</th>
                                            <th>{% trans 'Quejas' %}</th>
                                            <th>{% trans 'Soluciónes' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for usuario in quejas_usuarios %}
                                            <tr>
                                                <td>{{ usuario.respuesta__consulta__persona__nombre }}</td>
                                                <td class="text-right">{{ usuario.count }}</td>
                                                <td class="text-right">{{ usuario.count_solucion }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="panel panel-color panel-green">
                                <div class="panel-heading-green">
                                    <h3 class="panel-title">
                                        {% trans 'Quejas por Aseguradoras ' %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Aseguradora' %}</th>
                                            <th>{% trans 'Quejas' %}</th>
                                            <th>{% trans 'Soluciónes' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for aseguradora in quejas_aseguradoras %}
                                            <tr>
                                                <td>{{ aseguradora.aseguradora__nombre }}</td>
                                                <td>{{ aseguradora.count }}</td>
                                                <td>{{ aseguradora.count_solucion }}</td>
                                            </tr>    
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}