{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header">
                <h1>{% trans 'Encuestas' %}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9 main-content">
            <table class="table">
                <tr>
                    <td>&nbsp;</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.nombre }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Atenciones' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.consultas }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Encuestas Realizadas' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.encuestada }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Contactabilidad' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.contactabilidad }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans 'Porcentaje de Satisfacci&oacute;n' %}</td>
                    {% for mes in meses %}
                        <td class="text-right">{{ mes.satisfaccion|floatformat }}%</td>
                    {% endfor %}
                </tr>
            </table>
            <div class="row">
                <canvas id="chart" class="col-md-12 col-xs-12"
                        height="100"></canvas>
            </div>
        </section>
        {% include 'bsc/snippets/encuesta_menu.html' %}
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ctx = document.getElementById("chart").getContext("2d");
            var chart = new Chart(ctx);
            data = {
                labels: [0, {% for mes in meses %} "{{ mes.nombre }}",  {% endfor %} 0],
                datasets: [
                    {
                        label: "{% trans 'Contactabilidad' %}",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [0, {% for mes in meses %} {{ mes.contactabilidad }}, {% endfor %} 0]
                    },
                    {
                        label: "{% trans 'Satisfaccion' %}",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [0, {% for mes in meses %} {{ mes.satisfaccion|floatformat }}, {% endfor %} 0]
                    }
                ]
            }
            var myLineChart = new Chart(ctx).Bar(data);
        });
    </script>
{% endblock %}

