{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}{% load crispy_forms_tags %}
{% block menu %}
    <li>
        <a href="{% url 'encuesta-list' %}">{% trans 'Ver Encuestas' %}</a>
    </li>
    <li>
        <a href="{% url 'queja-aseguradora-agregar' %}">
            {% trans 'Agregar Queja de Aseguradora' %}
        </a>
    </li>
    <li>
        <a href="{% url 'quejas' %}">
            {% trans 'Quejas' %}
        </a>
    </li>
    <li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
            {% trans 'Soluciones' %}
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'solucion-list' %}">
                    {% trans 'Pendientes de Aprobaci&oacute;n' %}
                </a>
            </li>
            <li>
                <a href="{% url 'solucion-aceptada-list' %}">
                    {% trans 'Pendientes de Notificaci&oacute;n' %}
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Encuestas' %}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for encuesta in object_list.all %}
                <a class="btn btn-primary"
                   href="{{ encuesta.get_absolute_url }}">
                    {{ encuesta }}
                </a>
            {% empty %}
                <span class="btn btn-primary">
                        {% trans 'No hay Encuestas Disponibles' %}
                    </span>
            {% endfor %}
            <div class="panel panel-border col-md-12 col-xs-12 table-responsive">
                 <section class="tabbable">
                    <ul class="nav nav-tabs">
                        {% for year in years %}
                            <li data-year="{{ year.name }}"
                                class="{% if year.name == '2014' %} active {% endif %} tab">
                                <a href="#{{ year.name }}"
                                   data-toggle="tab">
                                    {{ year.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for year in years %}
                            <article id="{{ year.name }}" class="tab-pane {% if year.name == '2014' %} active {% endif %}">
                                <div class="panel panel-default col-md-12 col-xs-12">
                                    <h3 class="panel-title">{% trans 'Encuestas' %} {{ year.name }}</h3>
                                     <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            {% for mes in year.meses %}
                                                <th class="text-right">{{ mes.inicio|date:"N" }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td>{% trans 'Atenciones' %}</td>
                                            {% for mes in year.meses %}
                                                <td class="text-right">{{ mes.consultas }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Encuestas Realizadas' %}</td>
                                            {% for mes in year.meses %}
                                                <td class="text-right">{{ mes.encuestada }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Contactabilidad' %}</td>
                                            {% for mes in year.meses %}
                                                <td class="text-right">{{ mes.contactabilidad|floatformat }}%</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Porcentaje de Satisfacci&oacute;n' %}</td>
                                            {% for mes in year.meses %}
                                                <td class="text-right">{{ mes.satisfaccion|floatformat }}%</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="panel panel-border col-md-12 col-xs-12">
                <div class="m-t-15 m-b-15">
                    <h3 class="panel-title">{% trans 'Actividad del dia' %}</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans 'Usuario' %}</th>
                            <th>{% trans 'No. Encuestas Realizadas' %}</th>
                            <th>{% trans 'No. Encuestas Faltantes' %}</th>
                            <th>{% trans 'No. de Rellamar' %}</th>
                            <th>{% trans 'No. de No responde' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users_day %}
                            <tr>
                                <td class="text-center">{{ user.name }}</td>
                                <td class="text-center">{{ user.respuestas }}</td>
                                <td class="text-center">{{ user.faltantes }}</td> 
                                <td class="text-center">{{ user.rellamar }}</td>
                                <td class="text-center">{{ user.noresponde }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-border col-md-12 col-xs-12">
                <div class="m-t-15 m-b-15">
                    <h3 class="panel-title">{% trans 'Actividad del Mes' %}</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans 'Usuario' %}</th>
                            <th>{% trans 'No. Encuestas Realizadas' %}</th>
                            <th>{% trans 'No. Encuestas Faltantes' %}</th>
                            <th>{% trans 'No. de Rellamar' %}</th>
                            <th>{% trans 'No. de No responde' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users_month %}
                            <tr>
                                <td class="text-center">{{ user.name }}</td>
                                <td class="text-center">{{ user.respuestas }}</td>
                                <td class="text-center">{{ user.faltantes }}</td> 
                                <td class="text-center">{{ user.rellamar }}</td>
                                <td class="text-center">{{ user.noresponde }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-border col-md-12 col-xs-12">
                <div class="panel-body">
                    <canvas id="chart" class="col-md-12 col-xs-12 graph"
                            height="100"></canvas>
                    <div id="legend" class="graph col-md-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var canvas = document.getElementById("chart");
            var ctx = canvas.getContext("2d");
            var chart = new Chart(ctx);
            data = {
                labels: [0, {% for mes in meses %} "{{ mes.inicio|date:"N" }}",  {% endfor %} 0],
                datasets: [
                    {
                        label: "{% trans 'Contactabilidad' %}",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [0, {% for mes in meses %} {{ mes.contactabilidad }}, {% endfor %} 0]
                    },
                    {
                        label: "{% trans 'Satisfaccion' %}",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [0, {% for mes in meses %} {{ mes.satisfaccion|floatformat }}, {% endfor %} 0]
                    }
                ]
            };
            var myLineChart = new Chart(ctx).Bar(data);
            document.getElementById('legend').innerHTML = myLineChart.generateLegend();
        });
    </script>
{% endblock %}
