{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab43' %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="main-content col-md-12 col-xs-12">
                <p>{{ object }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 main-content table-responsive panel panel-border">
            <table class="table">
                <thead>
                <tr>
                    <td><strong>{% trans 'Usuario' %}<strong></td>
                    <td><strong>{% trans 'Fecha' %}</strong></td>
                    <td><strong>{% trans 'Soluci&oacute;n' %}</strong></td>
                </tr>
                </thead>
                <tbody>
                {% for solucion in object.solucion_set.all %}
                    <tr>
                        <td>{{ solucion.usuario }}</td>
                        <td>{{ solucion.created }}</td>
                        <td>{{ solucion.solucion }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <aside class="col-md-3">
            <div class="toolbox col-md-12 panel panel-border">
                <nav class="sidebar-nav">
                    <ul class="nav nav-stacked nav-tabs">
                        <li>
                            <a href="{% url 'quejas' %}">
                                {% trans 'Volver a Quejas' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'solucion-agregar' object.id %}">
                                {% trans 'Proponer Soluci&oacute;n' %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
