{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load l10n %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="main-content col-md-12">
            <section class="page-header">
                <h1>{% trans 'Respuesta de' %} {{ respuesta.consulta.persona }}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9 main-content">
            <div class="row">
                <div class="col-md-12 bg-success lead">
                    <p>
                    {% trans 'Puntuaci&oacute;n Adquirida' %}:
                    {{ respuesta.puntuacion }}
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                {% if respuesta.terminada %}
                    <ul>
                        {% for voto in respuesta.voto_set.all %}
                            <li>
                                {{ voto.pregunta }}
                                <ul>
                                    <li>
                                        {% if voto.opcion %}
                                            {{ voto.opcion }}
                                        {% else %}
                                            {% trans 'No ha respondido' %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        {% empty %}
                            <li>{% trans 'No hay votos agregados' %}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% crispy formset helper %}
                    <h2>{% trans 'En caso de Existir una queja usar el formulario siguiente' %}</h2>
                    {% if respuesta.queja_set.count > 0 %}
                        <p>{% trans 'Quejas registradas' %}:</p>
                        <ul>
                            {% for queja in respuesta.queja_set.all %}
                                <li>{{ queja.queja }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% crispy queja %}
                {% endif %}
            </div>
        </section>
        <section class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-stacked nav-tabs">
                        <li>
                            <a href="{% url 'encuesta' respuesta.encuesta.id %}">
                            {% trans 'Volver a Encuesta' %} {{ respuesta.encuesta }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#queja').submit(function() {
                $(this).ajaxSubmit();
                $(this).hide('slow');
                return false;
            });
        });
    </script>
{% endblock %}
