{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">
                <section class="page-header">
                    <h1>{{ object }}</h1>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 main-content">
            <ul>
                {% for profile in object.usuarios.all %}
                    <li><a href="{% url 'scorecard-user' profile.user.id %}">{{ profile }}</a></li>
                {% empty %}
                    <li>No hay usuarios agregados</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
