{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab39' %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">{{ object }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 panel panel-border">
            <section class="col-md-12 main-content m-t-10">
                <ul>
                    {% for profile in object.usuarios.all %}
                        <li><a href="{% url 'scorecard-user' profile.user.id %}">{{ profile }}</a></li>
                    {% empty %}
                        <li>No hay usuarios agregados</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}
