{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load i18n %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab44' %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Soluciones Pendientes' %}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 col-xs-12 main-content">
            <div class="panel panel-border col-lg-12">
                <table class="table table-striped m-t-10">
                    <tbody>
                    {% for solucion in object_list %}
                        <tr>
                            <td>
                                <strong>{% trans 'Soluci&oacute;n' %}:</strong> {{ solucion.solucion }}<br>
                                <strong>{% trans 'Fecha de la Queja' %}:</strong> {{ solucion.queja.created }}<br>
                                <strong>{% trans 'Queja Original' %}: </strong> {{ solucion.queja.queja }}<br>
                                <br>
                                {% if not solucion.aceptada %}
                                <div class="row">
                                    <form class="col-md-6 col-xs-6"
                                          action="{% url 'solucion-aceptar' solucion.id %}"
                                          method="post">
                                        {% crispy form %}
                                    </form>
                                    <form class="col-md-6 col-xs-6"
                                          action="{% url 'solucion-rechazar' solucion.id %}"
                                          method="post">
                                        {% crispy rechazada %}
                                    </form>
                                    <div class="col-md-6 col-xs-6">
                                        <a class="btn btn-block btn-info"
                                           href="{% url 'queja-editar' solucion.queja.id %}">
                                            {% trans 'Cambiar Perfil' %}
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if solucion.aceptada %}
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <a class="btn btn-block btn-info"
                                           href="{% url 'solucion-email-aseguradora-preview' solucion.id %}">
                                            {% trans 'Notificar Aseguradora' %}
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <a class="btn btn-block btn-info"
                                           href="{% url 'solucion-email-preview' solucion.id %}">
                                            {% trans 'Notificar Cliente' %}
                                        </a>
                                    </div>
                                    <div class="margin-top-15 col-md-6 col-xs-6">
                                        <a class="btn btn-block btn-info"
                                           href="{% url 'solucion-email-gerencia-preview' solucion.id %}">
                                            {% trans 'Notificar Gerencia' %}
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <strong>{% trans 'Paciente' %}: </strong>
                                        </td>
                                        <td>{{ solucion.queja.respuesta.consulta.persona }},
                                            {{ solucion.queja.respuesta.consulta.persona.obtener_edad }} {% trans 'A&ntilde;os' %}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{% trans 'Categor&iacute;a' %}:</strong>
                                        </td>
                                        <td>
                                            {% if solucion.queja.respuesta.consulta.contrato in solucion.queja.respuesta.consulta.poliza.contratos.all %}
                                                {% trans 'Titular del Contrato' %}
                                            {% endif %}
                                            {% for beneficiario in solucion.queja.respuesta.consulta.persona.beneficiarios.all %}
                                                {% if beneficiario.contrato == consulta.contrato %}
                                                    {% trans 'Beneficiario del Contrato' %}
                                                    {{ consulta.contrato.persona }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Departamento' %}</td>
                                        <td>{{ solucion.queja.departamento }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Aseguradora' %}</td>
                                        <td>{{ solucion.queja.respuesta.consulta.poliza.aseguradora }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Médico' %}</td>
                                        <td>{{ solucion.queja.respuesta.consulta.consultorio.usuario.get_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Enfermera' %}</td>
                                        <td>{{ solucion.queja.respuesta.consulta.consultorio.secretaria.get_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Usuario que Propone' %}</td>
                                        <td>{{ solucion.usuario }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">{% trans 'Otras Soluciones' %}</th>
                                    </tr>
                                    {% for sol in solucion.queja.solucion_set.all %}
                                        {% if solucion.id != sol.id %}
                                        <tr>
                                            <td colspan="2">
                                                {{ sol.solucion }} <br>
                                                {{ sol.rechazada|yesno:"Rechazada,Propuesta" }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>{% trans 'No hay Soluciones Pendientes' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <!-- {% include 'bsc/snippets/encuesta_menu.html' with object_list=encuestas %} -->
    </div>
{% endblock %}
