/* ============================================================================
 * Tables
 * ============================================================================
 */
@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .no-more-tables table, .no-more-tables thead,
    .no-more-tables tbody, .no-more-tables th,
    .no-more-tables td, .no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .no-more-tables tr {
        border: 1px solid #ccc;
    }

    .no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
     Label the data
     */
    .no-more-tables td:before {
        content: attr(data-title);
    }
}

.table tr {
    background-color: #ffffff;
}

.table td {
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.line-legend li {
    list-style: none;
}

.line-legend li span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}

.card-box1 {
    background-color: #FFF;
    border: 2px solid #e6e7e9;
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 1.5% 1.5% 0;
}

#main-navigation a {
    color: #fff !important;
}
