{% extends 'base.html' %}
{% load crispy_forms_tags %}{% load i18n %}{% load l10n %}
{% block header %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Agregar Cotización' %}</h4>
            </div>
        </div>
        <div class="main-content col-md-12 col-xs-12">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
