{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load l10n %}
{% block menu %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-title-box">
                <h4 class="page-title">{% trans 'Histórico de' %}
                    {{ historial.inventario.lugar }}
                    <small>{{ historial.created }}</small>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans 'Productos en Inventario' %}
                </div>
                <table class="table table-striped table-hover no-more-tables">
                    <thead>
                    <tr>
                        <th>{% trans 'C&oacute;digo' %}</th>
                        <th>{% trans 'Descripci&oacute;n' %}</th>
                        <th>{% trans 'Cantidad' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in page_obj %}
                        <tr>
                            <td>{{ item.item.id }}</td>
                            <td>{{ item.item.descripcion }}</td>
                            <td>{{ item.cantidad }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
