{% extends 'base.html' %}
{% load crispy_forms_tags %}{% load i18n %}{% load l10n %}
{% block header %}
    {{ form.media.css }}
{% endblock %}
{% block menu %}
    <li>
        <a href="#add-product" data-toggle="modal">
            {% trans 'Agregar Producto' %}
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 card-box1">
            {% crispy form %}
        </div>
    </div>
    <div class="row">
        <div class="modal" role="dialog" id="add-product">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                    </div>
                    <div class="modal-body">
                        {% crispy itemTemplateForm %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#add-item-form").submit(function (e) {
                var form = jQuery(this);
                jQuery.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}
