{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load l10n %}
{% block menu %}
    {% if not requisicion.entregada %}
        <li>
            <a href="{% url 'item-requisicion-create' requisicion.id %}">
                {% trans 'Agregar Producto' %}
            </a>
        </li>
        <li>
            <a href="{% url 'transferencia-create' requisicion.id %}">
                {% trans 'Efectuar Transferencia' %}
            </a>
        </li>
        <li>
            <a href="{% url 'requisicion-completar' requisicion.id %}">
                {% trans 'Completar Requisici&oacute;n' %}
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ requisicion.inventario.get_absolute_url }}">
            {% trans 'Regresar a' %} {{ requisicion.inventario.lugar }}
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="page-title-box">
                <h4 class="page-title">{{ requisicion }}
                    <small>{{ requisicion.created|date:"d/m/Y H:i" }}</small>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="main-content col-md-12 col-xs-12">
            <div class="panel panel-border">
                <div class="panel-heading">
                    {% trans 'Productos en Pedidos' %}
                </div>
                <table class="table table-striped table-hover no-more-tables">
                    <thead>
                    <tr>
                        <th>{% trans 'C&oacute;digo' %}</th>
                        <th>{% trans 'Descripci&oacute;n' %}</th>
                        <th>{% trans 'Cantidad' %}</th>
                        <th>{% trans 'Pendiente' %}</th>
                        <th>{% trans 'Entregado' %}</th>
                        <th>{% trans 'Acciones' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in page_obj %}
                        <tr>
                            <td>{{ item.item.id }}</td>
                            <td>{{ item.item.descripcion }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.pediente }}</td>
                            <td>{{ item.entregada|yesno }}</td>
                            <td>
                                <a href="{% url 'itemrequisicion-delete' item.id %}"
                                   class="btn btn-danger btn-block">
                                    <i class="fa fa-trash-o"> </i>
                                    {% trans 'Eliminar' %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-border">
                <div class="panel-heading">{% trans 'Transferencias' %}</div>
                <table class="table table-striped table-hover no-more-tables">
                    <thead>
                    <tr>
                        <th>{% trans 'Usuario' %}</th>
                        <th>{% trans 'Nombre' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transferencia in requisicion.transferencias.all %}
                        <tr>
                            <td>
                                <a href="{{ transferencia.get_absolute_url }}">{{ transferencia.usuario }}</a>
                            </td>
                            <td>{{ transferencia }} {{ transferencia.created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
