{% load staticfiles %}{% load thumbnail %}{% load i18n %}{% load l10n %}
<div class="col-md-6">
    <div class="card-box widget-user">
        <div>
            <img src="{% static 'images/face.jpg' %}"
                 class="img-responsive img-circle m-t-10"/>
        </div>
        <div class="wid-u-info">
            <h6 class="m-t-0 m-b-5">
                <a href="{{ espera.persona.get_absolute_url }}">
                    {{ espera.persona }}
                </a>
            </h6>
            <p class="text-muted m-b-5 font-13">{{ espera.persona.obtener_edad }}
                {% trans 'a&ntilde;os' %}
            <p>
                {{ espera.persona.get_sexo_display }}<br>
                {% trans 'Programado para el' %}<br>{{ espera.fecha }}<br>
                {% trans 'Tiempo total de espera:' %} {{ espera.tiempo|floatformat:2 }}
                {% trans 'minutos' %}<br>
                {% trans 'Tiempo de espera actual:' %} {{ actual|floatformat:2 }}
                {% trans 'minutos' %}<br>
                {% if espera.consultorio %}
                    {{ espera.consultorio }}
                {% endif %}<br>
                {% for historia_espera in espera.historiafisicaespera_set.all %}
                    {% with historia_espera.historia_fisica as historia %}
                        {% trans 'Presion:' %} {{ historia.presion_sistolica }}
                        / {{ historia.presion_diastolica }}
                        {% trans 'Temperatura:' %} {{ historia.temperatura }}°
                    {% endwith %}
                {% endfor %}
            </p>
            <div class="btn-group" role="group">
                {% if espera.consulta %}
                    <a class="btn btn-info"
                       href="{% url 'espera-consulta-iniciar' espera.id %}">
                        {% trans 'Iniciar Consulta' %}
                    </a>
                    <a class="btn btn-danger"
                       href="{% url 'clinique-espera-terminada' espera.id %}">
                        {% trans 'Terminar Consulta' %}
                    </a>
                {% else %}
                    {% if espera.consultorio %}
                        <a class="btn btn-primary"
                        href="{% url 'clinique-espera-editar' espera.id %}">
                            {% trans 'Cambiar Consultorio' %}
                        </a>
                    {% else %}
                        {% if espera.datos %}
                        <a class="btn btn-primary"
                           href="{% url 'clinique-espera-editar' espera.id %}">
                            {% trans 'Asignar Consultorio' %}
                        </a>
                        {% endif %}
                    {% endif %}
                    {% if not espera.datos %}
                        <a class="btn btn-success"
                           href="{% url 'persona-historia-agregar-espera' persona=espera.persona.id espera=espera.id %}">
                            {% trans 'Agregar Historia Fisiológica' %}
                        </a>
                    {% endif %}
                    <a class="btn btn-success"
                       href="{% url 'clinique-espera-ausente' espera.id %}">
                        {% trans 'No se Present&oacute;' %}
                    </a>
                    {% if espera.datos %}
                        <a class="btn btn-danger"
                           href="{% url 'clinique-espera-consulta' espera.id %}">
                            {% trans 'A sala de espera de Consulta' %}
                        </a>
                    {% endif %}
                    {% if not espera.datos %}
                        <a class="btn btn-info"
                           href="{% url 'consultorio-citapersona-agregar' persona=espera.persona.id %}">
                            {% trans 'Cita' %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
