{% load staticfiles %}{% load thumbnail %}{% load i18n %}{% load l10n %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <img src="{% static 'images/face.jpg' %}"
                 width="100" height="100"/>
        </div>
        <div class="col-md-9">
            <h3>
                <a href="{{ espera.persona.get_absolute_url }}">
                    {{ espera.persona }}
                </a>
                <small>{{ espera.persona.obtener_edad }}
                    {% trans 'a&ntilde;os' %}
                </small>
            </h3>
            <p>
                {{ espera.persona.get_sexo_display }}
                {% trans 'Programado para el' %} {{ espera.fecha }}
                {% trans 'Tiempo total de espera:' %} {{ espera.tiempo|floatformat:2 }}
                {% trans 'minutos' %}
                {% trans 'Tiempo de espera actual:' %} {{ actual.tiempo|floatformat:2 }}
                {% trans 'minutos' %}
                {{ espera.consultorio }}
                {% if espera.datos %}
                    {% trans 'Presion:' %} {{ espera.espera_enfermeria.historiafisica.presion_sistolica }}/{{ espera.espera_enfermeria.historiafisica.presion_diastolica }}
                    {% trans 'Temperatura:' %} {{ espera.espera_enfermeria.historiafisica.temperatura }}°
                {% endif %}
            </p>
            <div class="btn-group" role="group">
                
                {% if espera.consulta %}
                    <a class="btn btn-info"
                       href="{% url 'espera-consulta-iniciar' espera.id %}">
                        {% trans 'Iniciar Consulta' %}
                    </a>
                    <a class="btn btn-danger"
                       href="{% url 'clinique-espera-terminada' espera.id %}">
                        {% trans 'Terminar Consulta' %}
                    </a>
                {% else %}
                    <a class="btn btn-primary"
                        href="{% url 'clinique-espera-editar' espera.id %}">
                        {% trans 'Cambiar Consultorio' %}
                    </a>
                    {% if not espera.datos %}
                        <a class="btn btn-success"
                            href="{% url 'persona-historia-agregar-espera' persona=espera.persona.id espera=espera.id %}">
                            {% trans 'Agregar Historia Fisiológica' %}
                        </a>
                    {% endif %}
                    <a class="btn btn-success"
                        href="{% url 'clinique-espera-ausente' espera.id %}">
                        {% trans 'No se Present&oacute;' %}
                    </a>
                    {% if espera.datos %}
                        <a class="btn btn-danger"
                            href="{% url 'clinique-espera-consulta' espera.id %}">
                            {% trans 'A Consulta' %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
