{% extends 'base.html' %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab2' %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
          <div class="col-md-12 main-content">
              <section class="page-header page-title-box">
                <h4 class="page-title">Eliminar PreAdmisi&oacute;n</h4>
              </section>
          </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">‏
                <form method="post">{% csrf_token %}
                    <fieldset>
                        <legend>Esta Seguro de Borrar la Admision?</legend>
                        <a class="btn btn-success" href="javascript:back();">No</a>
                        <input class="btn btn-danger" type="submit" value="S&iacute;">
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
