{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
  {% include "snippets/aside.html" with admision=admision %}
  <section id="cargos" class="grid_9">
    <hgroup>
      <h1>Cargos Efectuados a {{ admision.paciente.nombre_completo }}</h1>
    </hgroup>
    <table class="data">
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Inicio</th>
          <th>Cargo</th>
          <th>Fin</th>
        </tr>
      </thead>
      <tbody>
        {% for cargo in admision.cargos.all %}
        <tr>
          <td>{{ cargo.fecha_y_hora|date:"d/m/Y P" }}</td>
          <td>{{ cargo.inicio|date:"d/m/Y P" }}</td>
          <td>{{ cargo.cargo }}</td>
          <td>{{ cargo.fin|date:"d/m/Y P" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-cargo-agregar admision.paciente.id %}" class="button">Agregar Cargo</a>
  </section>
</div>
{% endblock %}