{% extends 'base.html' %}
{% block content %}
<div class="row">
  <section id="cargos" class="span12">
    <div class="page-header">
      <h1>{{ admision.paciente.nombre_completo }} <small>{{ admision.habitacion }}</small></h1>
    </div>
  </section>
</div>
<div class="row">
  <div class="span12">
    <ul>
      <li>
        Tiempo Total Hospitalizado: {{ admision.tiempo_hospitalizado }}
      </li>
      <li>
        &Uacute;ltimo Cobro: {{ admision.ultimo_cobro }}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  {% include 'snippets/aside.html' with admision=admision %}
  <div class="row">
    <section class="span9 full-size-print">
      <div class="page-header">
        <h2>Cargos a Cobrar</h2>
      </div>
      <table class="table table-striped table-bordered no-more-tables">
        <thead>
          <tr>
            <th>Fecha y Hora</th>
            <th>C&oacute;digo</th>
            <th>Cargo</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Valor Total</th>
            <th>Usuario</th>
            <th class="no-print">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Fecha y Hora">{{ admision.ultimo_cobro }}</td>
            <td data-title="Código">{{ admision.habitacion.item.id }}</td>
            <td data-title="Cargo">{{ admision.habitacion.item }}</td>
            <td data-title="Tiempo">{{ admision.tiempo_cobro }}</td>
            <td data-title="Precio Unitario">{{ admision.habitacion.item.precio_de_venta }}</td>
            <td data-title="Total">{{ admision.debido }}</td>
            <td></td>
            <td class="no-print" data-title="Acciones"></td>
          </tr>
          {% for terapia in admision.oxigeno_terapias.all %}
          <tr>
            <td data-title="Fecha y Hora">{{ terapia.created|date:"d/m/Y P" }} a {{ terapia.final|date:"d/m/Y P" }}</td>
            <td data-title="Código">{{ terapia.cargo.id }}</td>
            <td data-title="Cargo">{{ terapia.cargo }}</td>
            <td data-title="Tiempo">{{ terapia.tiempo }}</td>
            <td data-title="Litros">{{ terapia.litros }}</td>
            <td data-title="Total">{{ terapia.valor }}</td>
            <td></td>
            <td data-title="Acciones">
              <a class="btn btn-danger" href="{% url 'enfermeria-oxigeno-terminar' terapia.id %}"><i class="icon-trash"></i> Terminar</a>
            </td>
          </tr>
          {% endfor %}
          {% for cargo in admision.cargos.all %}
          <tr>
            <td data-title="Fecha y Hora">{{ cargo.created|date:"d/m/Y P" }}</td>
            <td data-title="Código">{{ cargo.cargo.id }}</td>
            <td data-title="Cargo">{{ cargo.cargo }}</td>
            <td data-title="Cantidad">{{ cargo.cantidad }}</td>
            <td data-title="Precio Unitario">{{ cargo.cargo.precio_de_venta }}</td>
            <td data-title="Total">{{ cargo.valor }}</td>
            <td>{{ cargo.usuario }}</td>
            <td class="no-print" data-title="Acciones"><a class="btn btn-danger" href="{% url 'enfermeria-cargo-eliminar' cargo.id %}"><i class="icon-trash"></i> Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">Total</th>
            <th colspan="2">{{ admision.estado_de_cuenta }}</th>
          </tr>
        </tfoot>
      </table>
    </section>
  </div>
</div>
{% endblock %}
