{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
  {% include 'snippets/aside.html' with admision=admision %}
  <section id="evolucion" class="span9">
    <div>
      <h1>Evoluci&oacute;n de {{ admision.paciente.nombre_completo }} en {{ admision.habitacion }}</h1>
    </div>
    {% include 'snippets/evolucion_table.html' %}
    <a href="{% url 'enfermeria-evolucion-agregar' admision.id %}" class="btn btn-primary">Agregar Evoluci&oacute;n</a>
  </section>
</div>
{% endblock %}
