{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <aside class="col-md-3">
            <nav class="sidebar-nav">
                <ul class="nav nav-stacked nav-tabs">
                    <li>
                        <a href="{% url 'nightingale-view-id' admision.id %}">Regresar al Paciente</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <section class="col-md-9">
            {% crispy form %}
        </section>
    </div>
{% endblock %}
