{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
  {% include "snippets/aside.html" with admision=admision %}
  <section id="glicemia" class="grid_9">
    <h2>Control de Glucometr&iacute;a de {{ admision.paciente.nombre_completo }}</h2>
    <p>Frecuencia de Lectura: {{ admision.lectura.glucometria }} minutos</p>
    <table class="data">
      <caption>Glicemias</caption>
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Tipo Lectura</th>
          <th>Control</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for glucosuria in admision.glicemias.all %}
        <tr>
          <td>{{ glicemia.fecha_y_hora }}</td>
          <td>{{ glicemia.control }}</td>
          <td>{{ glicemia.observacion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-glicemia-agregar admision.id %}" class="button">Agregar Glicemia</a>
    <table class="data">
      <caption>Administración de Insulina</caption>
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Control</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for glucosuria in admision.insulina.all %}
        <tr>
          <td>{{ insulina.fecha_y_hora }}</td>
          <td>{{ insulina.control }}</td>
          <td>{{ insulina.observacion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-insulina-agregar admision.id %}" class="button">Registrar Insulina</a>
    <table class="data">
      <caption>Registros de Glucosuria</caption>
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Control</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for glucosuria in admision.glucosuria.all %}
        <tr>
          <td>{{ insulina.fecha_y_hora }}</td>
          <td>{{ insulina.control }}</td>
          <td>{{ insulina.observacion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-glucosuria-agregar admision.paciente.id %}" class="button">Registrar Glucosuria</a>
  </section>
</div>
{% endblock %}