{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
{% include "snippets/aside.html" with admision=admision %}
<section id="ingestas-excretas">
  <h1>{{ admision.paciente.full_name }} en {{ admision.habitacion }}</h1>
  <article id="ingestas" class="grid_9">
    <table class="data">
      <caption>Ingestas</caption>
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Ingerido</th>
          <th>Cantidad</th>
          <th>Liquido</th>
        </tr>
      </thead>
      <tbody>
        {% for ingesta in admision.ingestas.all %}
        <tr>
          <td>{{ ingesta.fecha_hora }}</td>
          <td>{{ ingesta.ingerido }}</td>
          <td>{{ ingesta.cantidad }}</td>
          <td>{{ ingesta.liquido }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-ingesta-agregar admision.id %}" class="button">Agregar Ingesta</a>
  </article>
  <article id="excretas" class="grid_9">
    <table class="data">
      <caption>Excretas</caption>
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Medio</th>
          <th>Cantidad</th>
          <th>Descripci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        {% for excretas in admision.excretas.all %}
        <tr>
          <td>{{ excretas.fecha_hora }}</td>
          <td>{{ excretas.medio }}</td>
          <td>{{ excretas.cantidad }}</td>
          <td>{{ excretas.descripcion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-excreta-agregar admision.id %}" class="button">Agregar Ingesta</a>
  </article>
</section>
</div>
{% endblock %}
