{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
{% include "snippets/aside.html" with admision=admision %}
<section id="ingestas-excretas">
  <h1>{{ admision.paciente.nombre_completo }} en {{ admision.habitacion }}</h1>
  <article id="ingestas" class="grid_9">
    {% include "snippets/ingesta_table.html" %}
    <a href="{% url "enfermeria-ingesta-agregar" admision.id %}" class="button">Agregar Ingesta</a>
  </article>
  <article id="excretas" class="grid_9">
    {% include "snippets/excreta_table.html" %}
    <a href="{% url "enfermeria-excreta-agregar" admision.id %}" class="button">Agregar Excreta</a>
  </article>
</section>
</div>
{% endblock %}
