{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row">
  <hgroup class="page-header">
    <h1>Enfermer&iacute;a</h1>
  </hgroup>
  <div class="row">
    <section id="estadisticas" class="span12">
      <article id="tiempo-espera">
        <hgroup class="page-header">
          <h2>Tiempo en Espera de Ingreso</h2>
        </hgroup>
        <div id="grafico"></div>
        <h3>Promedio: {{ promedio }} minutos</h3>
      </article>
    </section>
  </div>
  <div class="row">
    <section class="span12">
      {% include "snippets/enfermeria_list.html" with admisiones=hospitalizados %}
    </section>
  </div>
  <div class="row">
    <section class="span12">
      {% include "snippets/admitidos_list.html" with admisiones=admitidos %}
    </section>
  </div>
</div>
{% endblock %}
{% block scripts %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{% static "js/excanvas.js" %}"></script><![endif]-->
<script type="text/javascript" src="{% static 'js/jquery.jqplot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot.canvasTextRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqplot.canvasAxisLabelRenderer.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.jqplot.css' %}" />
<script type="text/javascript" src="{% static 'js/medicamento.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    data_source = new Medicamento("{% url 'home' %}", "{% url 'nightingale-index' %}");
    data_source.notificar();
  }); 
</script>
{% endblock %}
