{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% block header %}
    {{ form.media.css }}
{% endblock %}
<div class="row">
    <aside class="span3">
        <nav class="sidebar-nav">
            <ul class="nav nav-stacked nav-tabs">
            </ul>
        </nav>
    </aside>
    <section class="span9">
        {% crispy form %}
    </section>
</div>
<div class="row">
    <section id="cargos" class="span9 offset3">
        {% include 'snippets/cargo_table.html' with admision=medicamento.admision %}
    </section>
</div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
