{% extends 'base.html' %}
{% block content %}
{% include "snippets/aside.html" %}
<div class="content">
  <section id="medicamentos" class="grid_9">
    <h1>Medicamentos de {{ admision.paciente.nombre_completo }} en {{ admision.habitacion }}</h1>
    {% if admision.medicamentos.count == 0 %}
      <p>No hay medicamentos indicados</p>
    {% endif %}
    {% for medicamento in admision.medicamentos.all %}
      {% include "snippets/medicamento.html" with editable=1 %}
      <a href="{% url "enfermeria-medicamento-suspender" medicamento.id 2 %}" class="button">Suspender {{ medicamento.nombre }}</a>
      <a href="{% url "enfermeria-medicamento-suspender" medicamento.id 3 %}" class="button">Terminar {{ medicamento.nombre }}</a>
    {% endfor %}
    <div class="clearfix">&nbsp;</div>
    <a href="{% url "enfermeria-medicamento-agregar" admision.id %}" class="button">Agregar Medicamento</a>
  </section>
</div>
{% endblock %}
