{% extends 'base.html' %}
{% block content %}
<div class="content">
  {% include "enfermeria/admision_aside.html" with admision=admision %}
  <section id="medicamentos" class="grid_9">
    <h1>{{ admision.paciente.full_name }} en {{ admision.habitacion }}</h1>
    <table class="data">
      <caption>Medicamentos</caption>
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Ingerido</th>
        </tr>
      </thead>
      <tbody>
        {% for ingesta in admision.ingestas.all %}
        <tr>
          <td>{{ ingesta.fecha_hora }}</td>
          <td>{{ signos.liquidos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-medicamento-agregar admision.paciente.id %}" class="button">Agregar Medicamento</a>
  </section>
</div>
{% endblock %}