{% extends 'base.html' %}
{% block content %}
{% include "snippets/aside.html" %}
<div id="informacion" class="grid_9">
  <hgroup>
    <h1>Hospitalizaci&oacute;n de {{ admision.paciente.nombre_completo }} en {{ admision.habitacion }}</h1>
  </hgroup>
  <span>Hora de Registro: {{ admision.momento|date:"d/m/Y P" }}</span>
  <span>{{ admision.get_estado_display }}</span>
  {% include "snippets/persona_fotografia.html" with persona=admision.paciente %}
  <div class="info">
    {% include "snippets/lectura.html" with lectura=admision.frecuencia_lectura %} <a href="{% url persona-fisico-editar admision.paciente.id %}" class="button">Editar Frecuencia de Lectura</a>
  </div>
  <div class="info">
    {% include "snippets/persona.html" with persona=admision.paciente %} <a href="{% url persona-editar admision.paciente.id %}" class="button">Editar Datos del Paciente</a>
  </div>
  <div class="info">
    {% include "snippets/fisico.html" with fisico=admision.paciente.fisico %} <a href="{% url persona-fisico-editar admision.paciente.id %}" class="button">Editar F&iacute;sico</a>
  </div>
  <img src="{{ admision.codigo.url }}" width="{{ im.width }}" height="{{ im.height }}">
  <img src="{{ admision.qr.url }}" width="{{ im.width }}" height="{{ im.height }}">
</div>
{% endblock %}
