{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <section class="span12">
            <div class="page-header">
                <h1>{{ admision.paciente.nombre_completo }} <br/>
                    <small>
                        {{ admision.habitacion }},
                        Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                    </small>
                </h1>
            </div>
        </section>
    </div>
    <div class="row action-nav-normal">
        <section class="span4 action-nav-button">
            <a href="{% url 'nightingale-resume' admision.uuid %}"><span>Resumen</span></a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-cuenta' admision.id %}"><span>Estado de Cuenta</span></a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-cargos' admision.id %}"><span>Cargos y Medicamentos</span></a>
        </section>
    </div>
    <div class="row action-nav-normal">
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-oxigeno' admision.id %}">Ox&iacute;geno-Terapia</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-honorarios' admision.id %}">Honorarios y
                Examenes</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-signos' admision.id %}">Signos
                Vitales</a>
        </section>
    </div>
    <div class="row action-nav-normal">
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-ordenes' admision.id %}">Ordenes M&eacute;dicas</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-evolucion' admision.id %}">Evoluci&oacute;n</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-ingestas-excretas' admision.id %}">Ingestas
                y Excretas</a>
        </section>
    </div>
    <div class="row action-nav-normal">
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-devoluciones' admision.uuid %}">Devoluciones</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-dar-alta' admision.id %}">Dar de
                Alta</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'examen-programar' admision.paciente.id %}">Programar
                Estudio</a>
        </section>
    </div>
    <div class="row action-nav-normal">
        <section class="span4 action-nav-button">
            <a href="{% url 'persona-view-id' admision.paciente.id %}">Personal</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'enfermeria-dar-alta' admision.id %}">Dar de
                Alta</a>
        </section>
        <section class="span4 action-nav-button">
            <a href="{% url 'examen-programar' admision.paciente.id %}">Programar
                Estudio</a>
        </section>
    </div>
{% endblock %}
