{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="main-content col-md-12">
                <div class="page-header">
                    <h1>{{ admision.paciente.nombre_completo }} <br/>
                        <small>
                            {{ admision.habitacion }}, Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                        </small>
                    </h1>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="evolucion" class="col-md-9">
            <div class="main-content col-md-12">
                <div class="page-header">
                    <h2>Notas de Enfermer&iacute;a</h2>
                </div>
                {% include 'snippets/nota_table.html' with editable=1 %}
                <a href="{% url 'enfermeria-nota-agregar' admision.id %}" class="btn btn-primary">Agregar Nota</a>
            </div>
        </section>
        {% include 'snippets/aside.html' %}
    </div>
{% endblock %}
