{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
  {% include "snippets/aside.html" with admision=admision %}
  <section id="evolucion" class="span9">
    <hgroup>
      <h1>Notas de Enfermer&iacute;a para {{ admision.paciente.nombre_completo }} en {{ admision.habitacion }}</h1>
    </hgroup>
    {% include "snippets/nota_table.html" with editable=1 %}
    <a href="{% url "enfermeria-nota-agregar" admision.id %}" class="btn btn-primary">Agregar Nota</a>
  </section>
</div>
{% endblock %}
