{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
  {% include "snippets/aside.html" with admision=admision %}
  <section id="ordenes-medicas" class="grid_9">
    <hgroup>
      <h1>Ordenes M&eacute;dicas de {{ admision.paciente.full_name }} en {{ admision.habitacion }}</h1>
    </hgroup>
    <table class="data">
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Doctor</th>
          <th>Descripci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        {% for orden in admision.ordenes_medicas.all %}
        <tr>
          <th>{{ orden.fecha_y_hora }}</th>
          <th>{{ orden.doctor }}</th>
          <th>{{ orden.orden }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url enfermeria-orden-agregar admision.paciente.id %}" class="button">Agregar Orden M&eacute;dica</a>
  </section>
</div>
{% endblock %}