{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <section class="span12">
            <div class="page-header">
                <h1>{{ admision.paciente.nombre_completo }} <br />
                    <small>
                        {{ admision.habitacion }},  Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                    </small></h1>
            </div>
        </section>
    </div>
<div class="row">
{% include 'snippets/aside.html' %}<section id="ordenes-medicas" class="span9">
    <div class="page-header">
      <h2>Evoluci&oacute;n y Ordenes M&eacute;dicas</h2>
    </div>
    {% include 'snippets/orden_table.html' %}
    <a href="{% url 'enfermeria-orden-agregar' admision.id %}" class="btn btn-primary">Agregar Orden M&eacute;dica</a>
  </section>
</div>
{% endblock %}
