{% extends 'base.html' %}
{% block content %}
<div class="content clearfix">
  {% include "snippets/aside.html" with admision=admision %}
  <section id="ordenes-medicas" class="grid_9">
    <hgroup>
      <h1>Ordenes M&eacute;dicas de {{ admision.paciente.nombre_completo }} en {{ admision.habitacion }}</h1>
    </hgroup>
    {% include "snippets/orden_table.html" %}
    <a href="{% url enfermeria-orden-agregar admision.id %}" class="button">Agregar Orden M&eacute;dica</a>
  </section>
</div>
{% endblock %}
