{% extends 'base.html' %}
{% load l10n %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="main-content col-md-12">
                <div class="page-header">
                    <h1>{{ admision.paciente.nombre_completo }} <br/>
                        <small>
                            {{ admision.habitacion }}, Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                        </small>
                    </h1>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="signos-vitales" class="col-md-9">
            <div class="main-content col-md-12">
                <div class="page-header">
                    <h2>Signos Vitales</h2>
                </div>
                <p>Frecuencia de Lectura: {{ admision.lectura.signos_vitales }} minutos</p>
                <a href="{% url 'nightingale-signos-grafico' admision.id %}" class="btn btn-primary">Mostrar
                    Gr&aacute;fico</a>
                {% include 'snippets/signo_table.html' %}
                <a href="{% url 'enfermeria-signo-agregar' admision.id %}" class="btn btn-primary">Agregar Lectura</a>
            </div>
        </section>
        {% include 'snippets/aside.html' with admision=admision %}
    </div>
{% endblock %}
