{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% include "snippets/signos_js.html" %}
{% endblock %}
{% block content %}
{% include "snippets/aside.html" with admision=admision %}
<div id="admision" class="grid_9">
    <hgroup class="top title">
      <h1>Gr&aacute;fica de Lecturas de {{ admision.paciente.nombre_completo }}</h1>
    </hgroup>
    <div id="signos_vitales" class="bloque-superior">
      <article id="temperatura-article">
        <section>
            <div id="temperatura" class="grafica"></div>
        </section>
        <p>&nbsp;</p>
        <h3>Promedio: {{ temp_promedio|floatformat:2 }} grados</h3>
      </article>
      <article id="presion-article">
        <div id="presion" class="grafica"></div>
        <p>&nbsp;</p>
        <h3>Promedio: {{ presion_sistolica_promedio|floatformat:2 }} / {{ presion_diastolica_promedio|floatformat:2 }}</h3>
      </article>
      <article id="pulso-article">  
        <div id="pulso" class="grafica"></div>
        <p>&nbsp;</p>
        <h3>Promedio: {{ pulso_promedio|floatformat:2 }}</h3>
      </article>
    </div>
</div>
{% endblock %}
