.dicom { text-align: center; clear: both; }
.frame { padding: 5px; border: 1px solid #aaa; }
.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }
aside.links { float: right; padding-top: 10px; }
.examen .main { float: left; }
.examen
{
  clear: both; 
  background-color: #e4f5fc;
  padding-left: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 0.4em #888;
  box-shadow: 0 0 0.4em #888;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
