{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <section class="span12">
            <div class="page-header">
                <h1>{{ admision.paciente.nombre_completo }} <br />
                    <small>
                        {{ admision.habitacion }},  Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                    </small></h1>
            </div>
        </section>
    </div>
<div class="row">
  {% include 'snippets/aside.html' with admision=admision %}
  <section class="span9">
    <a class="btn btn-primary" href="{% url 'enfermeria-oxigeno-iniciar' admision.id %}">Iniciar Oxigeno Terapia</a>
    <div class="row">
      <section class="span9">
        <div class="page-header">
          <h2>Oxigeno Terapia</h2>
        </div>
        {% include 'snippets/oxigeno.html' %}
      </section>
    </div>
  </section>
</div>

{% endblock %}
