{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<link rel="stylesheet" href="{% static "css/examen.css" %}" />
{% endblock %}
{% block content %}
<aside class="toolbox span3">
{% include 'snippets/examen_aside.html' %}
</aside>
<article id="examen" class="span9">
  <hgroup>
    <h1>{{ estudio.tipo_de_examen.nombre }} de {{ estudio.persona.nombre_completo }}</h1>
  </hgroup>
  {% include "snippets/examen.html" with examen=estudio %}
<a href="{% url "examen-efectuar" estudio.id %}" class="btn btn-primary">Efectuar Estudio</a>
<a href="{% url "invoice-create" estudio.persona.id %}" class="btn btn-primary">Crear Recibo</a>
</article>
{% endblock %}
