{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<aside class="toolbox grid_3">
  <nav>
    <ul>
      <li>
        <a href="{% url haystack_search %}"><img src="{% static "images/busqueda.png" %}" /> Buscar</a>
      </li>
      <li class="clearfix">
        <a href="{% url persona-create %}"><img src="{% static "images/agregar.png" %}" /> Agregar Examen</a>
      </li>
    </ul>
  </nav>
</aside>
<div id="personas" class="grid_9">
  <hgroup>
    <h1>Estudios Programados</h1>
  </hgroup>
  <table class="data">
      <thead class="gradient">
        <tr>
          <th>Fecha</th>
          <th>Paciente</th>
          <th>Examen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for estudio in estudios_programados %}
        <tr>
          <td>{{ estudio.fecha }}</td>
          <td>{{ estudio.persona.nombre_completo }}</td>
          <td>{{ estudio.examen }}</td>
          <td><a href="{% url examen-efectuar estudio.id %}">Efectuar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
