{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<aside class="toolbox span3">
{% include 'snippets/examen_aside.html' %}
</aside>
<div id="personas" class="span9">
  <hgroup>
    <h1>Estudios Programados</h1>
  </hgroup>
  <table class="table table-striped">
      <thead class="gradient">
        <tr>
          <th>Fecha</th>
          <th>Paciente</th>
          <th>Examen</th>
          <th>Remiti&oacute;</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for estudio in estudios_programados %}
        <tr>
          <td>{{ estudio.fecha }}</td>
          <td>{{ estudio.persona.nombre_completo }}</td>
          <td>{{ estudio.tipo_de_examen.nombre }}</td>
          <td>{{ estudio.remitio }}</td>
          <td><a href="{% url "examen-efectuar" estudio.id %}">Efectuar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hgroup>
    <h1>&Uacute;ltimos Examenes Efectuados</h1>
    </hgroup>
    {% include "snippets/examen_list.html" with examenes=examenes %}
</div>
{% endblock %}
