{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="page-header">
    <h1>{{ examen.persona.nombre_completo }} <small>ID: {{ examen.persona.id }} &bull; {{ examen.tipo_de_examen.nombre }}</small></h1>
  </div>
</div>
<div class="row">
  <aside class="span3">
    {% include 'snippets/examen_aside.html' %}
    <nav class="sidebar-nav">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <a href="{% url 'examen-adjuntar-imagen' examen.id %}">Adjuntar una Fotograf&Iacute;a o Escaneo</a>
        </li>
        <li>
          <a href="{% url 'examen-adjuntar-archivo' examen.id %}">Adjuntar un Documento</a>
        </li>
        <li>
          <a href="{% url 'examen-adjuntar-dicom' examen.id %}">Adjuntar Imagen DICOM</a>
        </li>
       <li>
           <a href="{% url 'examen-notificar' examen.id %}" >Notificar por correo</a>
       </li>
          <li>
              <a href="{% url 'invoice-create' examen.persona.id %}" >Crear Recibo</a>
          </li>
      </ul>
    </nav>
  </aside>
  <article id="examen" class="span9">
    {% include 'snippets/persona.html' with persona=examen.persona %}
    {% include 'snippets/examen.html' with examen=examen %}
    <section id="imagenes">
      {% for imagen in examen.imagenes.all %}
      {% include 'snippets/imagen.html' with imagen=imagen %}
      {% endfor %}
    </section>
    <section id="adjuntos">
      {% for adjunto in examen.adjuntos.all %}
      {% include 'snippets/adjunto.html' with adjunto=adjunto %}
      {% endfor %}
    </section>
    <section id="dicoms">
      {% if examen.dicoms.all.count > 0 %} <h2>DICOMs Agregados</h2>{% endif %}
      {% for dicom in examen.dicoms.all %}
      {% include 'snippets/dicom.html' with dicom=dicom %}
      {% endfor %}
    </section>
  </article>
</div>
{% endblock %}
