{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<link rel="stylesheet" href="{% static "css/examen.css" %}" />
{% endblock %}
{% block content %}
<aside class="grid_3 toolbox">
  <nav>
    <ul>
      <li>
        <a href="{% url examen-adjuntar-imagen examen.id %}">Adjuntar una Fotograf&Iacute;a o Escaneo</a>
      </li>
      <li>
        <a href="{% url examen-adjuntar-archivo examen.id %}">Adjuntar un Documento</a>
      </li>
      <li>
        <a href="{% url examen-adjuntar-dicom examen.id %}">Adjuntar Imagen DICOM</a>
      </li>
    </ul>
  </nav>
</aside>
<article id="examen" class="grid_9">
  <hgroup>
    <h1>{{ examen.nombre }} de {{ examen.persona.nombre_completo }}</h1>
  </hgroup>
  {% include "snippets/examen.html" with examen=examen %}
  <section id="imagenes">
    {% for imagen in examen.imagenes.all %}
    {% include "snippets/imagen.html" with imagen=imagen %}
    {% endfor %}
  </section>
  <section id="adjuntos">
    {% for adjunto in examen.adjuntos.all %}
    {% include "snippets/adjunto.html" with adjunto=adjunto %}
    {% endfor %}
  </section>
  <section id="dicoms">
    {% if examen.dicoms.all.count > 0 %} <h2>DICOMs Agregados</h2>{% endif %}
    {% for dicom in examen.dicoms.all %}
    {% include "snippets/dicom.html" with dicom=dicom %}
    {% endfor %}
  </section>
  <section id="notificaciones">
    <form action="{% url examen-notificar examen.id %}" class="styled" method="post">
    {% csrf_token %} <h1>Agregar un Examen</h1>
      <div id="messages"></div>{% include "snippets/form.html" with form=form %}
      <p>
        <input type="submit" value="Guardar" />
      </p>
    </form>
  </section>
</article>
{% endblock %}