{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<aside class="toolbox grid_3">
  <nav>
    <ul>
      <li>
        <a href="{% url haystack_search %}"><img src="{% static "images/busqueda.png" %}" /> Buscar</a>
      </li>
      <li>
        <a href="{% url examen-list%}"></a>
      </li>
      <li class="clearfix">
        <a href="{% url persona-create %}"><img src="{% static "images/agregar.png" %}" /> Nuevo Paciente</a>
      </li>
    </ul>
  </nav>
</aside>
<div id="personas" class="grid_9">
  <hgroup>
    <h1>Examenes</h1>
  </hgroup>
  {% include "snippets/examen_list.html" with examenes=examenes %}
</div>
{% endblock %}
