{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="hero-unit spa12">
    <hgroup>
      <h1>Centro de Im&aacute;genes</h1>
      <small></small>
    </hgroup>
  </div>
</div>
<div class="row">
  <div id="personas" class="span12">
    <table class="table table-striped table-bordered">
      <caption>Estudios Programados</caption>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Paciente</th>
          <th>Examen</th>
          <th>Remiti&oacute;</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for estudio in estudios_programados %}
        <tr>
          <td>{{ estudio.fecha }}</td>
          <td>{{ estudio.persona.nombre_completo }}</td>
          <td>{{ estudio.tipo_de_examen.nombre }}</td>
          <td>{{ estudio.remitio }}</td>
          <td><a class="btn btn-danger" href="{% url "examen-efectuar" estudio.id %}">Efectuar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" href="{% url "examen-nuevo" %}">Programar un Estudio Nuevo</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% include "snippets/examen_list.html" with examenes=examenes %}
  </div>
</div>
{% endblock %}
