<aside class="grid_3 toolbox">
  <nav>
  	<ul>
  		<li><a href="{% url consultorio-esperador-nuevo paciente.id %}">Historia Cl&iacute;nica</a></li>
  		<li><a href="{% url consultorio-consulta-nuevo paciente.id %}">Consultas Realizadas</a></li>
  		<li><a href="{% url consultorio-receta-nueva paciente.id %}">Recetas Suministradas</a></li>
  		<li><a href="{% url consultorio-optometria-nuevo paciente.id %}">Optometrias Realizadas</a></li>
  	</ul>
  </nav>
  <nav>
  	<ul>
  		<li><a href="{% url consultorio-esperador-nuevo paciente.id %}">Enviar a Sala de Espera</a></li>
  		<li><a href="{% url consultorio-consulta-nuevo paciente.id %}">Agregar una Consulta</a></li>
  		<li><a href="{% url consultorio-receta-nueva paciente.id %}">Agregar una Receta</a></li>
  		<li><a href="{% url consultorio-optometria-nuevo paciente.id %}">Agregar una Optometria</a></li>
  	</ul>
  </nav>
</aside>
