{% load staticfiles %}
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
        src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{% static 'js/jquery-ui-timepicker.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<script type="text/javascript" src="{% static 'assets/js/modernizr.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/detect.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/fastclick.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/waves.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/wow.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'assets/plugins/switchery/switchery.min.js' %}"></script>

<!-- Custom main Js -->
<script type="text/javascript" src="{% static 'assets/js/jquery.core.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.app.js' %}"></script>