{% load staticfiles %}
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
<link href="{% static 'css/application.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet"/>
<link href="{% static 'css/print.css' %}" rel="stylesheet" media="print"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css"
      rel="stylesheet"/>
<link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet"/>

<link href="{% static 'assets/plugins/sweetalert/dist/sweetalert.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/plugins/jquery-circliful/css/jquery.circliful.css' %}" rel="stylesheet"/>

<link href="{% static 'assets/css/core.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/components.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/pages.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/menu_light.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet"/>
