{% load i18n %}{% load l10n %}
<div class="table-responsive">
    <table class="table table-striped">
        <h4>{% trans 'Antecedentes Quir&uacute;rgicos' %}</h4>
        <thead>
        <tr>
            <th>{% trans 'Procedimiento' %}</th>
            <th>{% trans 'Efecuado' %}</th>
            <th>{% trans 'Acciones' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for antecedente in persona.antecedentes_quirurgicos.all %}
            <tr>
                <td>{{ antecedente.procedimiento }}</td>
                <td>{{ antecedente.fecha }}</td>
                <td>
                    <a class="btn btn-success"
                       href="{% url 'persona-antecedente-quirurgico-editar' antecedente.id %}">
                        {% trans 'Editar' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
