<table class="table table-striped table-responsive">
	<caption>Estilo de Vida</caption>
  <tbody>
    <tr>
      <td class="data-label">Consume Tabaco:</td>
      <td class="patient-data">{{ estilo_vida.consume_tabaco|yesno:"Sí,No" }}</td>
    {% if estilo_vida.consume_tabaco %}
      <td class="data-label">Inicio del Consumo de Tabaco:</td>
      <td class="patient-data">{{ estilo_vida.inicio_consumo_tabaco }}</td>
      <td class="data-label">Número de Cigarrillos Diarios:</td>
      <td class="patient-data">{{ estilo_vida.consumo_diario_tabaco }}</td>
    {% else %}
      <td colspan="4"></td>
    {% endif %}
    </tr>
    <tr>
    	<td colspan="6">Alcohol</td>
    </tr>
    <tr>
      <td class="data-label">Vino:</td>
      <td class="patient-data">{{ estilo_vida.vino|yesno:"Sí,No" }}</td>
      <td class="data-label">Cerveza:</td>
      <td class="patient-data">{{ estilo_vida.cerveza|yesno:"Sí,No" }}</td>
      <td class="data-label">Licores</td>
      <td class="patient-data">{{ estilo_vida.licor|yesno:"Sí,No" }}</td>
    </tr>
    <tr>
      <td colspan="6">Nutrición</td>
    </tr>
    <tr>
      <td class="data-label">Tipo de Dieta</td>
      <td class="patient-data">{{ estilo_vida.dieta }}</td>
      <td class="data-label">Cuantitativamente</td>
      <td class="patient-data">{{ estilo_vida.cantidad }}</td>
      <td class="data-label">Comidas:</td>
      <td class="patient-data">{{ estilo_vida.numero_comidas }}</td>
    </tr>
    <tr>
      <td class="data-label">Tipos de Comida</td>
      <td class="patient-data" colspan="5">{{ estilo_vida.tipo_de_comidas }}</td>
    </tr>
    <tr>
      <td class="data-label">Consume Drogas</td>
      <td class="patient-data">{{ estilo_vida.consume_drogas|yesno:"Sí,No" }}</td>
      <td class="data-label">Drogas</td>
      <td class="patient-data" colspan="3">{{ estilo_vida.drogas }}</td>
    </tr>
  </tbody>
</table>
