{% load i18n %}{% load l10n %}
<div class="table-responsive">
<table class="table table-striped">
	<caption>Caracter&iacute;sticas F&iacute;sicas</caption>
  <tbody>
    <tr>
      <th class="data-label">Estatura:</td>
      <td class="patient-data">{{ fisico.altura }}</td>
      <th class="data-label">Peso:</th>
      <td class="patient-data">{{ fisico.peso }}</td>
    </tr>
    <tr>
      <th class="data-label">Color de Ojos:</th>
      <td class="patient-data">{{ fisico.color_de_ojos }}</td>
      <th class="data-label">Color de Cabello:</th>
      <td class="patient-data">{{ fisico.color_de_cabello }}</td>
    </tr>
    <tr>
      <th class="data-label">Tipo de Sangre:</th>
      <td class="patient-data">{{ fisico.get_tipo_de_sangre_display }}</td>
      <th class="data-label">Factor RH:</th>
      <td class="patient-data">{{ fisico.get_factor_rh_display }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
    <caption>{% trans 'Histora F&iacute;sica' %}</caption>
    <thead>
        <tr>
            <th>{% trans 'Fecha' %}</th>
            <th>{% trans 'Altura' %}</th>
            <th>{% trans 'Peso' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for historia in fisico.persona.historiafisica_set.all %}
        <tr>
            <td>{{ historia.fecha }}</td>
            <td>{{ historia.altura }}</td>
            <td>{{ historia.peso }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
