{% load static %}
<aside class="span3">
<nav class="sidebar-nav">
  <ul class="nav nav-tabs nav-stacked">
      <li>
        <a href="{% url 'nightingale-view-id' admision.id %}">Paciente</a>
      </li>
      <li><a href="{% url 'nightingale-resume' admision.uuid %}">Resumen</a></li>
      <li><a href="{% url 'enfermeria-cargos' admision.id %}">Cargos y Medicamentos</a></li>
      <li><a href="{% url 'enfermeria-signos' admision.id %}">Signos Vitales</a></li>
      <li><a href="{% url 'enfermeria-ordenes' admision.id %}">Ordenes M&eacute;dicas</a></li>
      <li><a href="{% url 'enfermeria-evolucion' admision.id %}">Evoluci&oacute;n</a></li>
      <li><a href="{% url 'enfermeria-ingestas-excretas' admision.id %}">Ingestas y Excretas</a></li>
      <li><a href="{% url 'enfermeria-glucometria' admision.id %}">Glucometr&iacute;a</a></li>
      <li><a href="{% url 'enfermeria-notas' admision.id %}">Notas de Enfermer&iacute;a</a></li>
      <li><a href="{% url 'enfermeria-devoluciones' admision.uuid %}">Devoluciones</a></li>
      <li><a href="{% url 'enfermeria-dar-alta' admision.id %}">Dar de Alta</a></li>
    </ul>
  </nav>
<nav class="sidebar-nav">
  {% include "snippets/persona_menu.html" with persona=admision.paciente %}
</nav>
</aside>
