<table class="table table-striped table-bordered no-more-tables">
  <thead>
    <tr>
      <th>Fecha y Hora</th>
      <th>C&oacute;digo</th>
      <th>Cargo</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if admision.cargos.count == 0%}
    <tr>
      <td colspan="5">No hay cargos registrados</td>
    </tr>
    {% endif%}
    {% for cargo in admision.cargos.all %}
    <tr>
      <td data-title="Fecha y Hora">{{ cargo.created|date:"d/m/Y P" }}</td>
      <td data-title="Código">{{ cargo.cargo.id }}</td>
      <td data-title="Cargo">{{ cargo.cargo }}</td>
      <td data-title="Cantidad">{{ cargo.cantidad }}</td>
      <td data-title="Acciones">
        <a class="btn btn-danger" href="{% url 'enfermeria-cargo-eliminar' cargo.id %}"><i class="icon-trash"></i> Eliminar</a>
          <a class="btn btn-info" href="{% url 'enfermeria-cargo-editar' cargo.id %}"><i class="icon-trash"></i> Editar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul>
    {% for cargo, lista in admision.agrupar_cargos %}
        <li>
            {{ cargo.descripcion }} 1
            <ul>
                {% for detalle in lista %}
                    <li>{{ detalle.created }}
                    1</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
