    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>C&oacute;digo</th>
          <th>Cargo</th>
          <th>Cantidad</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if admision.cargos.count == 0%}
        <tr>
            <td colspan="5">No hay cargos registrados</td>
        </tr>
        {% endif%}
        {% for cargo in admision.cargos.all %}
        <tr>
          <td>{{ cargo.created|date:"d/m/Y P" }}</td>
          <td>{{ cargo.cargo.id }}</td>
          <td>{{ cargo.cargo }}</td>
          <td>{{ cargo.cantidad }}</td>
          <td>{{ cargo.inicio|date:"d/m/Y P" }}</td>
          <td>{{ cargo.fin|date:"d/m/Y P" }}</td>
          <td><a class="btn btn-danger" href="{% url "enfermeria-cargo-eliminar" cargo.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
