<table class="table table-striped table-responsive">
  <thead>
    <tr>
        <th>Fecha y Hora</th>
        <th>Descripci&oacute;n</th>
    </tr>
  </thead>
  <tbody>
    {% if admision.devoluciones.count == 0%}
    <tr>
        <td colspan="2">No hay devoluciones registradas</td>
    </tr>
    {% endif%}
    {% for devolucion in admision.devoluciones.all %}
    <tr class="{{ devolucion.get_turno }}">
        <th>{{ devolucion.fecha_y_hora|date:"d/m/Y P" }}</th>
        <th>{{ devolucion.descripcion }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
