<table class="table table-striped no-more-tables">
  <caption>Hospitalizaciones</caption>
  <thead>
    <tr>
      <th>Habitaci&oacute;n</th>
      <th>Identificaci&oacute;n</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Diagn&oacute;stico</th>
      <th>M&eacute;dico Tratante</th>
      <th>Sexo</th>
      <th>Hora de Ingreso</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for admision in admisiones %}
    <tr>
      <td>{{ admision.habitacion }}</td>
      <td>{{ admision.paciente.identificacion }}</td>
      <td>{{ admision.paciente.nombre_completo }}</td>
      <td>{{ admision.paciente.obtener_edad }}</td>
      <td>{{ admision.diagnostico }}</td>
      <td>{{ admision.doctor }}</td>
      <td>{{ admision.paciente.get_sexo_display }}</td>
      <td>{{ admision.momento|date:"d/m/Y H:i" }}</td>
      <td><a class="btn btn-primary btn-block" href="{% url 'nightingale-view-id' admision.id %}">Ver</a></td>
    </tr>
    {% endfor %}
    <tfoot>
      <tr>
        <th colspan="5">Total de Hospitalizaciones:</th>
        <th colspan="4">{{ admisiones.count }}</th>
      </tr>
    </tfoot>
  </tbody>
</table>
