<table class="table table-striped table-responsive">
  <thead>
    <tr>
        <th>Fecha y Hora</th>
        <th>Autor</th>
        <th>Descripci&oacute;n</th>
    </tr>
  </thead>
  <tbody>
    {% if admision.evoluciones.count == 0%}
    <tr>
        <td colspan="3">No hay evoluciones registradas</td>
    </tr>
    {% endif%}
    {% for evolucion in admision.evoluciones.all %}
    <tr>
        <td>{{ evolucion.fecha_y_hora|date:"d/m/Y P" }}</td>
        <td>{{ evolucion.nota }}</td>
        <td>{{ evolucion.usuario }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
