    <table class="table table-striped table-responsive">
      <caption>Registros de Glucosuria</caption>
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Control</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        {% if admision.glucosurias.count == 0%}
        <tr>
          <td colspan="3">No hay glucosurias registradas</td>
        </tr>
        {% endif%}
        {% for glucosuria in admision.glucosuria.all %}
        <tr class="{{ glucosuria.get_turno }}">
          <td>{{ glucosuria.fecha_y_hora }}</td>
          <td>{{ glucosuria.control }}</td>
          <td>{{ glucosuria.observacion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
