<table class="table table-striped table-bordered no-more-tables">
  <thead>
    <tr>
      <th>Fecha y Hora</th>
      <th>C&oacute;digo</th>
      <th>Cargo</th>
      <th>Valor</th>
      <th>Médico</th>
      <th>Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if admision.honorarios.count == 0%}
    <tr>
      <td colspan="5">No hay otros cargos registrados</td>
    </tr>
    {% endif%}
    {% for honorario in admision.honorarios.all %}
        <tr>
            <td data-title="Fecha y Hora">{{ honorario.created }}</td>
            <td data-title="Código">{{ honorario.item.id }}</td>
            <td data-title="Cargo">{{ honorario.item }}</td>
            <td data-title="Precio Unitario">{{ honorario.monto }}</td>
            <td data-title="Médico">{{ honorario.medico }}</td>
            <td data-title="Usuario">{{ honorario.usuario.full_name }}</td>
            <td data-title="Acciones">
                <a class="btn btn-danger" href="{% url 'enfermeria-honorario-eliminar' honorario.id %}"><i class="icon-trash"></i> Eliminar</a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
