<article class="medicamento">
  <hgroup>
    <h2>{{ medicamento.nombre }} {{ medicamento.control }}</h2>
    <h3>Iniciado el {{ medicamento.inicio }} {{ medicamento.intervalo }} por {{ medicamento.dias }}</h3>
    <h3>Recetado por {{ medicamento.usuario.username }} el {{ medicamento.fecha_y_hora }}</h3>
  </hgroup>
  <table class="data">
    <caption>Dosificaci&oacute;n</caption>
    <thead class="gradient">
      <tr>
        <th>Estado</th>
        <th>Recomendaci&oacute;n</th>
        <th>Fecha y Hora</th>
        {% if editable == 1 %}
        <th>Acciones</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if medicamento.dosis.count == 0 %}
      <tr>
        <td colspan="{% if editable == 1 %} 4 {% else %} 3 {% endif %}">No existen dosis programadas o suministradas</td>
      </tr>
      {% endif %}
      {% for dosis in medicamento.dosis.all%}
      <tr class="{{ dosis.get_estado_display }}">
        <th>{{ dosis.get_estado_display }}</th>
        <th>{{ dosis.recomendacion }}</th>
        <th>{{ dosis.fecha_y_hora }}</th>
        {% if editable %}
        <th>
        {% if dosis.estado == 1 %}
          <a href="{% url enfermeria-dosis-suministrar dosis.id 3 %}">Administrar</a>
          <a href="{% url enfermeria-dosis-suministrar dosis.id 2 %}">Reusar</a>
        {% endif %}
        </th>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if editable == 1 %}
  <a href="{% url enfermeria-dosis-agregar medicamento.id %}"  class="button">Agregar Dosis</a>
  {% endif %}
</article>
