  <section class="col-md-9">
    <a class="btn btn-primary" href="{% url 'enfermeria-cargo-agregar' admision.id %}">Agregar Cargo</a>
    <a class="btn btn-primary" href="{% url 'enfermeria-medicamento-agregar' admision.id %}">Recetar Medicamento</a>
    <div class="page-header">
      <h2>Medicamentos Preescritos</h2>
    </div>
    <table class="table table-striped table-bordered no-more-tables">
      <thead>
        <tr>
          <th>Medicamento</th>
          <th>Intervalo</th>
          <th>Unidades</th>
          <th>Repeticiones</th>
          <th>Estado</th>
          <th>&Uacute;ltima Dosis</th>
          <th>Suministrado</th>
          <th>Pr&oacute;xima Dosis</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for medicamento in admision.medicamentos.all %}
        <tr>
          <td data-title="Medicamento">{{ medicamento.cargo.descripcion }}</td>
          <td data-title="Intervalo">{{ medicamento.get_intervalo_display }}</td>
          <td data-title="Unidades">{{ medicamento.unidades }}</td>
          <td data-title="Repeticiones">{{ medicamento.repeticiones }} Veces</td>
          <td data-title="Estado">{{ medicamento.get_estado_display }}</td>
          <td data-title="Última Dosis">{{ medicamento.ultima_dosis|date:"P" }}</td>
          <td data-title="Suministrado">{{ medicamento.suministrado }} Veces</td>
          <td data-title="Próxima Dosis">{{ medicamento.proxima_dosis|date:"P" }}</td>
          <td data-title="Acciones">
            <a class="btn btn-primary btn-block" href="{% url 'enfermeria-dosificar-medicamento' medicamento.id %}">Suministrar Dosis</a>
            <a class="btn btn-success btn-block" href="{% url 'enfermeria-editar-medicamento' medicamento.id %}">Editar Posolog&iacute;a</a>
            <a href="{% url 'enfermeria-medicamento-suspender' medicamento.id 2 %}" class="btn btn-primary">Suspender {{ medicamento.nombre }}</a>
            <a href="{% url 'enfermeria-medicamento-suspender' medicamento.id 3 %}" class="btn btn-primary">Terminar {{ medicamento.nombre }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
