    <table class="data">
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Autor</th>
          <th>Descripci&oacute;n</th>
          {% if editable == 1 %}
          <th>Acciones</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if admision.notas_enfermeria.count == 0%}
        <tr>
          <td colspan="5">No hay notas de enfermer&iacute;a registradas</td>
        </tr>
        {% endif%}
        {% for nota in admision.notas_enfermeria.all %}
        <tr class="{{ nota.get_turno }}">
          <td>{{ nota.fecha_y_hora }}</td>
          <td>{{ nota.usuario.username }}</td>
          <td>{{ nota.nota }}</td>
          {% if editable == 1%}
          <td>
            {% if not nota.cerrada and nota.usuario == user %}
            <a href="{% url "enfermeria-nota-editar" nota.id %}">Editar</a>
            <a href="{% url "enfermeria-nota-cerrar" nota.id %}">Cerrar</a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
