    <table class="table table-striped table-responsive">
      <thead class="gradient">
        <tr>
          <th>Fecha y Hora</th>
          <th>Doctor</th>
          <th>Usuario</th>
          <th>Evoluci&oacute;n</th>
          <th>Orden M&eacute;dica</th>
        </tr>
      </thead>
      <tbody>
        {% if admision.ordenes_medicas.count == 0%}
        <tr>
          <td colspan="3">No hay ordenes m&eacute;dicas registradas</td>
        </tr>
        {% endif%}
        {% for orden in admision.ordenes_medicas.all %}
        <tr>
          <td>{{ orden.fecha_y_hora }}</td>
          <td>{{ orden.doctor }}</td>
          <td>{{ orden.usuario.username }}</td>
          <td>{{ orden.evolucion }}</td>
          <td>{{ orden.orden }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
