{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
<form id="persona-form">
  <div>
    <h1>Buscar un Paciente</h1>
    <label>Nombre o Identidad:</label>
    <input id="persona-search" />
    <input type="submit" value="Buscar" />
  </div>
</form>
<div id="resultados"></div>
<form enctype="multipart/form-data" action="{% url "emergency-persona-create" %}" class="styled" method="post">
  {% csrf_token %} <h1>Ingresar un nuevo Paciente</h1>
  <div id="messages"></div>
  {% crispy persona_form %}
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "js/persona.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
    data_source = new Persona("{% url "home" %}", "{% url "emergency-index" %}");
    var resultados = $('#resultados');
    $('#persona-form').submit(function()
    {
      resultados.empty();
      var personas = data_source.search_person($('#persona-search').val(), resultados);
      return false;
    });
  });
</script>
{% endblock %}
