{% extends 'base.html' %}
{% block content %}
<aside class="toolbox grid_3">
<nav>
  <ul>
    <li class="clearfix"><a href="{% url emergencia-hallazgo-agregar emergencia.id %}">Agregar Hallazgos</a></li>
    <li class="clearfix"><a href="{% url emergencia-examen-fisico-agregar emergencia.id %}">Agregar Examen F&iacute;sico</a></li>
    <li class="clearfix"><a href="{% url emergencia-diagnostico-agregar emergencia.id %}">Agregar Examen Diagnostico</a></li>
    <li class="clearfix"><a href="{% url emergencia-tratamiento-agregar emergencia.id %}">Agregar Tratamiento</a></li>
    <li class="clearfix"><a href="{% url emergencia-cobro-agregar emergencia.id %}">Agregar Materiales y Medicamentos</a></li>
    <li class="clearfix"><a href="{% url emergencia-remision-interna-agregar emergencia.id %}">Remitir a un M&eacute;dico</a></li>
    <li class="clearfix"><a href="{% url emergencia-remision-externa-agregar emergencia.id %}">Remitir otro Centro M&eacute;dico</a></li>
  </ul>
</nav>
</aside>
<section id="emergencia" class="informacion grid_9">
  <hgroup>
    <h1>Emergencia de {{ emergencia.persona.nombre_completo }}</h1>
  </hgroup>
  <span>Hora de Registro: {{ emergencia.created|date:"d/m/Y P" }}</span>
  {% include "snippets/persona_fotografia.html" with persona=emergencia.persona %}
  <section id="personales" class="info">
    {% include "snippets/persona.html" with persona=emergencia.persona %} <a href="{% url persona-editar emergencia.persona.id %}" class="button">Editar Datos del Paciente</a>
  </section>
  <section id="fisico" class="antecedentes info">
    {% include "snippets/fisico.html" with fisico=emergencia.persona.fisico %} <a href="{% url emergencia-fisico-editar emergencia.persona.id emergencia.id %}" class="button">Editar Fisiolog&iacute;a</a>
  </section>
  <section id="patologico" class="antecedentes info">
    {% include "snippets/antecedente.html" with antecedente=emergencia.persona.antecedente %} <a href="{% url emergencia-antecedente-editar emergencia.persona.id emergencia.id %}" class="button">Editar Antecedentes Patol&oacute;gicos Personales</a>
  </section>
  <section id="familiar" class="antecedente info">
    {% include "snippets/antecedente_familiar.html" with antecedente=emergencia.persona.antecedente_familiar %} <a href="{% url emergencia-antecedente-familiar-editar emergencia.persona.id emergencia.id %}" class="button">Editar Antecedentes Familiares</a>
  </section>
  <section id="quirurgico" class="antecedente info">
    <hgroup>
      <h4>Antecedentes Quir&uacutergicos<h4>
    </hgroup>
    {% for antecedente in emergencia.persona.antecedentes_quirurgicos.all %}
    {% include "snippets/antecedente_quirurgico.html" with antecedente=emergencia.persona.antecedente_quirurgico %}
    {% endfor %}
    <a href="{% url emergencia-antecedente-quirurgico-agregar emergencia.persona.id emergencia.id %}" class="button">Agregar Antecedentes Quir&uacute;rgico</a>
  </section>
  {% ifequal emergencia.persona.sexo 'F' %}
  <section id="obstetrico" class="antecedente info">
      {% include "snippets/antecedente_obstetrico.html" with antecedente=emergencia.persona.antecedente_obstetrico %} <a href="{% url emergencia-antecedente-obstetrico-editar emergencia.persona.id emergencia.id %}" class="button">Editar Antecedentes Obstetricos</a>
  </section>
  {% endifequal %}
  <section id="hallazgos">
  <h2>Examen F&iacute;sico</h2>
  {% for hallazgo in emergencia.hallazgos.all %}
  <article class="hallazgo">
    <p>{{ hallazgo.hallazgo }}</p>
  </article>
  {% endfor %}
  </section>
  <section id="tratamientos">
  <h2>Tratamientos</h2>
  {% for tratamiento in emergencia.er_tratamientos.all %}
  <article class="tratamiento">
    <p>Indicaciones: {{ tratamiento.indicaciones }}</p>
  </article>
  {% endfor %}
  </section>
  <section id="Remisiones">
  {% for remision_interna in emergencia.er_rinternas.all %}
  <article>
    <h3>Remisi&oacute;n a Especialista</h3>
    <p>M&eacute;dico: {{ remision_interna.doctor }}</p>
  </article>
  {% endfor %}
  {% for remision_externa in emergencia.er_rexternas.all %}
  <article>
    <h3>Remisi&oacute;n a otro Centro</h3>
    <p>Destino: {{ remision_externa.destino }}</p>
    <p>Diagn&oacute;stico: {{ remision_externa.diagnostico }}</p>
    <p>Notas: {{ remision_externa.notas }}</p>
  </article>
  {% endfor %}
  </section>
  <section id="cargos">
  <h3>Materiales y Medicamentos Utilizados</h3>
    <table class="data">
      <thead class="gradient">
        <tr>
          <th>C&oacute;digo</th>
          <th>Descripci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        {% for cobro in emergencia.cobros.all %}
        <tr>
          <td>{{ cobro.cargo.id }}</td>
          <td>{{ cobro.cargo.descripcion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>
{% endblock %}
