{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <div class="col-md-12 main-content">
            <div class="page-header">
                <h1>{{ persona.nombre_completo }}
                    <small>Descripcion de Emergencia</small>
                </h1>
            </div>
            <div class="row">
                <section class="col-md-6">
                    {% crispy form %}
                </section>
                <aside class="col-md-3">
                </aside>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
