{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row">
  <aside class="span3">
    <nav class="sidebar-nav">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <a href="{% url 'emergency-ingresar' %}">Admitir Paciente</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section id="admision" class="span9">
    <hgroup class="page-header">
      <h1>Emergencias <small>Admisi&oacute;n</small></h1>
    </hgroup>
    {% include "emergency/snippets/emergencia_list.html" with emergencias=emergencias %}
  </section>
</div>
{% endblock %}
