{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block content %}
<aside class="toolbox grid_3">
  <nav>
    <ul>
      <li>
        <a href="{% url emergency-ingresar %}">Admitir Paciente</a>
      </li>
    </ul>
  </nav>
</aside>
<div id="admision" class="grid_9">
  <hgroup class="top title">
    <h1>Admisi&oacute;n de Emergencias</h1>
  </hgroup>
  {% include "emergency/snippets/emergencia_list.html" with emergencias=emergencias %}
</div>
{% endblock %} 
