{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="hero span12">
            <img class="centered" src="{% static 'images/head.jpg' %}"/>
        </div>
    </div>
    <br/>
    <div class="row card">
        <article class="span4 offset1 index-link">
            <a href="{% url  'persona-index' %}">
            <div class="row">
                <div class="span1">
                    <img src="{% static 'images/pacientes.png' %}"/>
                </div>
                <div class="span3">Pacientes</div>
            </div>
            </a>
        </article>
        <article class="span4 offset1 index-link">
            <a href="{% url  'admision-index' %}">
            <div class="row">
                <div class="span1">
                    <img src="{% static 'images/admisiones.png' %}"/>
                </div>
                <div class="span3">Admisiones</div>
            </div>
            </a>
        </article>
    </div>
    <div class="row card">
        <article class="span4 offset1 index-link">
            <a href="{% url 'examen-index' %}">
                <div class="row">
                    <div class="span1">
                        <img src="{% static 'images/imagenes.png' %}"/>
                    </div>
                    <div class="span3">Centro de Im&aacute;genes</div>
                </div>
            </a>
        </article>
        <article class="span4 offset1 index-link">
            <a href="{% url 'nightingale-index' %}">
                <div class="row">
                    <div class="span1">
                        <img src="{% static 'images/enfermeria.png' %}"/>
                    </div>
                    <div class="span3">Hospitalizaci&oacute;n</div>
                </div>
            </a>
        </article>
    </div>
    <div class="row card">
        <article class="span4 offset1 index-link">
            <a href="{% url  'emergency-index' %}">
                <div class="row">
                    <div class="span1">
                        <img src="{% static 'images/emergencia.png' %}">
                    </div>
                    <div class="span3">Emergencia</div>
                </div>
            </a>
        </article>
        <article class="span4 offset1 index-link">
            <a href="{% url  'consultorio-index' %}">
                <div class="row">
                    <div class="span1">
                        <img src="{% static 'images/pacientes.png' %}"/>
                    </div>
                    <div class="span3">Consultorio</div>
                </div>
            </a>
        </article>
    </div>
    <div class="row card">
        <article class="span4 offset1 index-link">
            <a href="{% url 'invoice-index' %}">
                <div class="row">
                    <div class="span1">
                        <img src="{% static 'images/caja.png' %}"/>
                    </div>
                    <div class="span3">Caja</div>
                </div>
            </a>
        </article>
        <article class="span4 offset1 index-link">
            <a href="{% url  'inventario-index' %}">
                <div class="row">
                    <div class="span1">
                        <img src="{% static 'images/inventario.png' %}"/>
                    </div>
                    <div class="span3">Inventario</div>
                </div>
            </a>
        </article>
    </div>
{% endblock %}
