{% extends 'base.html' %}{% load thumbnail %}
{% block content %}
<nav class="toolbox span12">
  <ul class="span12 information">
    <li><a href="{% url "admision-view-id" admision.id %}">Regresar a la Admisi&oacute;n</a></li>
    <li><a href="{% url "admision-autorizacion" admision.id %}">Autorizaci&oacute;n</a></li>
    <li><a href="{% url "admision-referencias" admision.id %}">Referencias</a></li>
    <li><a href="{% url "admision-fiadores" admision.id %}">Fiadores</a></li>
    <li><a href="{% url "admision-index" %}">Regresar a Admisiones</a></li>
  </ul>
</nav>
<div id="informacion" class="span12">
  <hgroup>
    <h1>Admisi&oacute;n de {{ admision.paciente.nombre_completo }}</h1>
  </hgroup>
  {% thumbnail admision.paciente.fotografia "100x100" crop="center" as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}
  <h2>Fiadores</h2>
  {% for referencia in admision.referencias.all %}
    <hgroup>
      <h3>Referencia: {{ referencia.nombre_completo }}</h1>
    </hgroup>
    {% thumbnail referencia.fotografia "100x100" crop="center" as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}
    {% include "snippets/persona.html" with persona=referencia %}
    <a href="{% url persona-editar persona.id %}" class="btn btn-primary">Editar Datos</a>
  {% endfor %}
  <a href="{% url "admision-referencia" admision.id %}" class="btn btn-primary">Agregar Referencia</a>
</div>
{% endblock %}