{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="page-header">
                <h1>{{ admision.paciente.nombre_completo }}
                    <small>Admisi&oacute;n {{ admision.get_estado_display }}</small>
                </h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="col-md-12 main-content">
            <div class="row">

            </div>
            <span>Hora de Registro: {{ admision.momento|date:"d/m/Y P" }}</span>
            <span>{{ admision.get_estado_display }}</span>
            {% include 'snippets/persona_fotografia.html' with persona=admision.paciente %}
            <div class="info">
                {% include 'snippets/persona.html' with persona=admision.paciente %} <a
                    href="{% url 'persona-editar' admision.paciente.id %}" class="btn btn-primary">Editar Datos del
                Paciente</a>
            </div>
            <div class="info">
                {% include 'snippets/fisico.html' with fisico=admision.paciente.fisico %} <a
                    href="{% url 'persona-fisico-editar' admision.paciente.id %}" class="btn btn-primary">Editar F&iacute;sico</a>
            </div>
            {% include 'snippets/depositos_list.html' %}
                </div>
        </section>
        <aside class="col-md-3">
            <div class="col-md-12 toolbox">
            {% include 'snippets/admision_aside.html' %}
            </div>
        </aside>
    </div>
{% endblock %}
