{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %} Contrato {{ contrato.numero }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>
                Aseguradora {{ aseguradora }}
                <small>{{ aseguradora.rtn }}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">
                <p>Representante: {{ aseguradora.representante.nombre_completo }}</p>
                <ul>
                    {% for master in aseguradora.master_contracts.all %}
                        <li>
                            {{ master }}
                            <ul>
                                <li>Activos {{ master.active_contracts_count }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="{% url 'aseguradora-editar' aseguradora.id %}">Editar Aseguradora</a>
                        </li>
                        <li>
                            <a href="{% url 'aseguradora-invoice' aseguradora.id %}">Facturar Aseguradora</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
