{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="page-header">
                <h1>Contratos</h1>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 toolbox ">
                <a href="{% url 'contrato-index' %}"
                   class="btn btn-primary">Volver a Contratos</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 main-content">
                <ul>
                    <li>Contratos en mora {{ morosos }}, {{ percentage }}%
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="personas" class="col-md-12">
            <div class="main-content col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>N&uacute;mero</th>
                        <th>Titular</th>
                        <th>Plan</th>
                        <th>Vendedor</th>
                        <th>Vencimiento</th>
                        <th>D&iacute;as en Mora</th>
                        <th>Tel&eacute;fono</th>
                        <th>Mora</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contrato in contratos %}
                        <tr>
                            <td><a class="btn btn-success"
                                   href="{% url 'contrato' contrato.id %}">{{ contrato.numero }}</a>
                            </td>
                            <td>{{ contrato.persona }}</td>
                            <td>{{ contrato.plan }}</td>
                            <td>{{ contrato.vendedor }}</td>
                            <td>{{ contrato.vencimiento|date:"d/m/Y" }}</td>
                            <td>{{ contrato.dias_mora }}</td>
                            <td>{{ contrato.persona.telefono }}</td>
                            <td>{{ contrato.mora }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
