{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="page-header">
                <h1>Contratos Empresariales</h1>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">
                <a href="{% url 'contrato-index' %}" class="btn btn-primary">Volver a Contratos</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="personas" class="col-md-12">
            <div class="main-content col-md-12">
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>N&uacute;mero</th>
                        <th>Encargado</th>
                        <th>Plan</th>
                        <th>Vendedor</th>
                        <th>Vencimiento</th>
                        <th>Empleados</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contrato in contratos %}
                        <tr>
                            <td><a class="btn btn-success"
                                   href="{% url 'contrato' contrato.id %}">{{ contrato.numero }}</a>
                            </td>
                            <td>{{ contrato.persona }}</td>
                            <td>{{ contrato.plan }}</td>
                            <td>{{ contrato.vendedor }}</td>
                            <td>{{ contrato.vencimiento|date:"d/m/Y" }}</td>
                            <td>{{ contrato.beneficiarios.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
