{% extends 'base.html' %}
{% block title %}{{ emergencia.persona.nombre_completo }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>Contrato<small></h1>
            <h2>alexis emanuel flores manueles<small>titular</small></h2>
            <h2>Vendedor<small>Juan perez</small></h2>
        </div>
    </div>
    <div class="row">
        <aside class="col-md-3">
            <nav class="sidebar-nav">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="#">Agregar Beneficioiosar</a></li>
                    <li><a href="#">Agregar medicamentos</a></li>
                    <li><a href="#">Agregar Pago</a></li>
                    <li><a href="#">Agregar Eventos</a></li>

                </ul>
            </nav>
            <nav class="sidebar-nav">
                {% include 'snippets/persona_menu.html' with persona=emergencia.persona %}
            </nav>
        </aside>
        <section class="col-md-9">
            <p>Hora de Registro: {{ emergencia.created|date:"d/m/Y P" }}</p>
            <section>
                <div class="row">
                       <h1>Plan Platino</h1>
                </div>

                <div class="row">
                    <section id="Detalles_contrato">
                        <table class="table table-striped table-bordered">
                            <caption>Detalles del Contrato</caption>
                            <thead class="gradient">
                            <tr>
                                <th>Mensualidad</th>
                                <th>Eventos Minimos</th>
                                <th>Medicamentos</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </section>
                </div>
               <div class="row">
                   <section id="cargos">
                       <table class="table table-striped table-bordered">
                           <caption>Pagos</caption>
                           <thead class="gradient">
                           <tr>
                               <th>Fecha</th>
                               <th>Monto</th>
                           </tr>
                           </thead>
                           <tbody>
                           <th>1950 20:00</th>
                           <th>octasiaestilefct</th></tbody>
                       </table>
                   </section>
               </div>
                <div class="row">
                    <section id="cargos">
                        <table class="table table-striped table-bordered">
                            <caption>Eventos</caption>
                            <thead class="gradient">
                            <tr>
                                <th>Fecha</th>
                                <th>Descripcion</th>
                            </tr>
                            </thead>
                            <tbody> <tr>
                                <th>1950 20:00</th>
                                <th>Corte Brazo/th>
                            </tr></tbody>
                        </table>
                    </section>
                </div>
                <div class="row">
                    <section id="cargos">
                        <table class="table table-striped table-bordered">
                            <caption>Beneficiarioss</caption>
                            <thead class="gradient">
                            <tr>
                                <th>Fecha inscripcion</th>
                                <th>Nombre</th>
                                <th>Accione</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>1950 20:00</th>
                                <th>Juan Manueles ezequieles/th>
                                    <td>
                                        <a class="btn btn-danger" href="/emergencia/cobro/11275/eliminar">Editar</a>
                                    </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </section>
    </div>
{% endblock %}
