{% extends 'base.html' %}
{% block title %}Contratos{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Contratos
                    <small>P&aacute;gina Principal</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <aside class="col-md-3">
            <nav class="sidebar-nav">
                <ul class="nav nav-tabs nav-stacked">
                    <li>
                        <a href="{% url 'contrato-add' %}">Crear Contrato</a>
                    </li>
                    <li>
                        <a href="{% url 'vendedor-add' %}">Agregar Vendedor</a>
                    </li>
                    <li>
                        <a href="{% url 'contrato-tipoevento-add' %}">Agregar
                            Tipo de Evento</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <section class="col-md-9">
            <div class="row">
                <section class="col-md-4">
                    {% crispy contrato-search %}
                </section>
                <section class="col-md-4">
                    {% crispy contrato-periodo %}
                </section>
                <section class="col-md-4">
                    {% crispy vendedor-search %}
                </section>
            </div>
        </section>
    </div>
{% endblock %}
