{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %} Vendedor {{ vendedor }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{{ meta.fecha }}
                <small>Meta</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">
                <ul>
                    <li>Contratos: {{ meta.contratos }}</li>
                </ul>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
