{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %} Vendedor {{ vendedor }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{{ meta.fecha }}
                <small>Meta</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <aside class="col-md-3">
            <nav class="sidebar-nav">
                <ul class="nav nav-tabs nav-stacked">
                </ul>
            </nav>
        </aside>
        <section class="col-md-9">
            <ul>
                <li>Contratos: {{ meta.contratos }}</li>
            </ul>
        </section>
    </div>
{% endblock %}
