{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <section class="main-content col-md-12">
            <form method="post" class="form-horizontal">
            <div class="col-md-6">
                <div class="col-md-12">
                {{ form.management_form }}
                {% crispy form %}
                </div>
            </div>
                <div class="col-md-6">
                    <div class="row">
                        <section class="col-md-12">
                            <section class="page-header">
                                <h1>T&eacute;rminos y Condiciones</h1>
                            </section>
                            <p>Al completar los datos y presionar el bot&oacute;n guardar me
                                someto a las condiciones del contrato que puede descargar en los
                                siguientes v&iacute;nculos:
                            </p>
                            <ul>
                                {% for autorizacion in autorizaciones.all %}
                                    <li><a href="{{ autorizacion.imagen.url }}">{{ autorizacion.descripcion }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                {% for subform in inlines %}
                    <div class="col-md-12">
                    {{ subform.management_form }}
                    {% crispy subform %}
                    </div>
                {% endfor %}
                </div>
            </form>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
