{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <section class="page-header">
                    <h1>Autorizaci&oacute;n de Contrato
                        <small>{{ precontrato.persona }}</small>
                    </h1>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">‏
                <div class="row">
                    <section class="page-header">
                        <h2>Titular</h2>
                    </section>
                    <div class="col-md-2">
                        {% if contrato.persona.fotografia == None %}
                            {% thumbnail contrato.persona.fotografia "100x100" crop="center" as im %}
                            <img src="{{ im.url }}"
                                 width="{{ im.width }}"
                                 height="{{ im.height }}">
                        {% else %}
                            <img src="{% static 'images/face.jpg' %}"
                                 width="100"
                                 height="100"/>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <h3>{{ contrato.persona }}
                            <small>{{ contrato.persona.obtener_edad }}
                                a&ntilde;os
                            </small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Beneficiarios</h2>
                        {% for beneficiario in precontrato.prebeneficiarios.all %}
                            <div class="row">
                                <div class="col-md-2">
                                    {% if beneficiario.persona.fotografia == None %}
                                        {% thumbnail beneficiario.persona.fotografia "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}"
                                             width="{{ im.width }}"
                                             height="{{ im.height }}">
                                    {% else %}
                                        <img src="{% static 'images/face.jpg' %}"
                                             width="100"
                                             height="100"/>
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <h3>{{ beneficiario.persona }}
                                        <small>{{ beneficiario.persona.obtener_edad }}
                                            a&ntilde;os
                                        </small>
                                    </h3>
                                    <a class="btn btn-primary"
                                       href="{% url 'persona-view-id' beneficiario.persona.id %}">Ver
                                        <i class="fa fa-arrow-right"></i></a>
                                    <a class="btn btn-danger"
                                       href="{% url 'contrato-beneficiario-delete' beneficiario.id %}">
                                        <i class="fa fa-trash-o"></i> Eliminar
                                    </a>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{% url 'contrato-prebeneficiario-add' precontrato.id %}">Agregar Beneficiario</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
