{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load staticfiles %}{% load humanize %}
{% block header %}
    <style type="text/css">
        canvas {
            display: block;
            margin: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main-content">
            <section class="page-header">
                <h1>Estad&iacute;sticas de Ventas</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="row">
                <div class="main-content col-md-12">
                    <canvas width="600" height="400" id="ventas"></canvas>
                    <div id="legend" class="col-md-6"></div>

                </div>
            </div>
            <div class="row">
                <div class="main-content col-md-12">
                    <div id="graphs"></div>
                </div>
            </div>
            <div class="row">
                <div class="main-content col-md-12">‏
                    <ul>
                        {% for tipo, value2 in pagos.items %}
                            <li>{{ tipo }}
                                <ul>
                                    {% for fecha, monto in value2.items %}
                                        <li>
                                            {{ fecha|date:"E" }} {{ monto }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ tipos }}
                </div>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-stacked nav-tabs">
                        <li>
                            <a href="{% url 'invoice-index' %}">Regresar a Caja</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
    {% localize off %}
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        var data = {
            labels: [0 {% for month in months %}, "{{ month|date:"E" }}"{% endfor %}],
            datasets: [
                {
                    label: "Recibo",
                    fillColor:  "#89CFF0",
                    strokeColor: "#89CFF0",
                    pointColor: "#89CFF0",
                    data: [0 {% for recibo in recibos %}, {{ recibo }}{% endfor %}]
                }
            ]
        };
        var ctx = $("#ventas").get(0).getContext("2d");
        var chart = new Chart(ctx).Line(data, {
            legendTemplate : '<ul>'
            +'<% for (var i=0; i<datasets.length; i++) { %>'
            +'<li style=\"background-color:<%=datasets[i].fillColor%>;margin: 5px 0; color: white;\">'
            +'<span >'
            +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
            +'</li>'
            +'<% } %>'
            +'</ul>'
        });
        {% for mes, pairs in meses.items %}
        var data = [
            {% for pair in pairs %}
            {

                color: "{{ pair.0.color }}",
                label: "{{ pair.0.nombre }}",
                value: {{ pair.1 }},
            },
            {% endfor %}
            {
                value: 0,
                color: "black",
                label: "Ninguno"
            }
        ];
        var div = $('<div>');
        div.css({
            width: '240px',
            'text-align': "center",
            display: 'inline-block'
        });
        var canvas = $('<canvas>');
        canvas.css({
            width: '200px',
            height: '200px',
            display: 'inline-block',
            margin: '10px'
        });
        var head = $("<h3>");
        head.append('{{ mes|date:'E' }}');
        div.append(head);
        div.append(canvas);
        div.appendTo('#graphs');
        var ctx = canvas.get(0).getContext("2d");
        var chart = new Chart(ctx).Pie(data);
        {% endfor %}
    </script>
    {% endlocalize %}
{% endblock %}
