{% extends 'base.html' %}
{% load staticfiles %}{% load l10n %}{% load staticfiles %}{% load humanize %}
{% block header %}
    <style type="text/css">
        canvas {
            display: block;
            margin: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main-content">
            <section class="page-header">
                <h1>Estad&iacute;sticas de Ventas</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="row">
                <div class="main-content col-md-12">
                    <canvas width="600" height="400" id="pagos"></canvas>
                    <div id="legend" class="col-md-6"></div>
                </div>
            </div>
            <div class="row">
                <div class="main-content col-md-12">
                    <div id="graphs"></div>
                </div>
            </div>
            <div class="row">
                <div class="main-content col-md-12">‏
                    {{ pagos }}
                    {{ ventas }}
                </div>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-stacked nav-tabs">
                        <li>
                            <a href="{% url 'invoice-index' %}">Regresar a Caja</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
{% localize off %}
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    var data = [
        {% for pair in pagos %}
            {

                color: "{{ pair.0.color }}",
                label: "{{ pair.0.nombre }}",
                value: {{ pair.1 }}
            },
        {% endfor %}
        {
            value: 0,
            color: "black",
            label: "Ninguno"
        }
    ];
    var canvas = $('#pagos');
    var ctx = canvas.get(0).getContext("2d");
    var chart = new Chart(ctx).Pie(data);
</script>
{% endlocalize %}
{% endblock %}
