{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="span12">
    <section class="page-header">
      <h1>Caja</h1>
    </section>
  </div>
</div>
<div class="row">
  <div id="informacion" class="span12">
    <div class="row">
      <div class="span12">
        <nav class="navbar">
          <div class="navbar-inner">
            <a class="brand">Pendiente de Facturaci&oacute;n</a>

            <ul class="nav">
              <li>
                <a href="{% url 'invoice-dia-emergency' %}"><img src="{% static 'images/iconografic/emergenciasg.png' %}"></a>
              </li>
              <li>
                <a href="{% url 'invoice-dia-altas' %}"><img src="{% static 'images/iconografic/admisionesg.png' %}"></a>
              </li>
              <li>
                <a href="{% url 'invoice-imaging' %}"><img src="{% static 'images/iconografic/imagenesg.png' %}"></a>
              </li>
              <li>
                <a href="{% url 'invoice-new' %}"><img src="{% static 'images/iconografic/recibog.png' %}"></a>
              </li>
                <li>
                    <a href="{% url 'invoice-new' %}"><img src="{% static 'images/iconografic/reporteg.png' %}"></a>
                </li>
                <li>
                    <a href="{% url 'invoice-new' %}"><img src="{% static 'images/iconografic/abrir_turno.png' %}"></a>
                </li>
              </ul>
          </div>
        </nav>
      </div>
    </div>

    </div>
  </div>
</div>
{% endblock %}
