{% extends 'base.html' %}
{% block title %} Caja {% endblock %}
{% load crispy_forms_tags %}
{% block header %}
    {{ ventaperiodoform.media.css }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <section class="page-header">
                    <h1>Caja</h1>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="main-content col-md-12">‏
                <section class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#turno" data-toggle="tab">Turno</a>
                        </li>
                        <li><a href="#pendientes" data-toggle="tab">Recibo
                            Pendiente</a></li>
                        <li><a href="#consulta" data-toggle="tab">Consulta</a>
                        </li>
                        {% if config.HOSPITALIZACION_ENABLED %}
                            <li><a href="#admisiones"
                                   data-toggle="tab">Admisiones</a></li>
                        {% endif %}
                        <li><a href="#emergencias"
                               data-toggle="tab">Emergencias</a></li>
                        {% if config.IMAGENES_ENABLED %}
                            <li><a href="#imagenes" data-toggle="tab">Im&aacute;genes</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#pagos" data-toggle="tab">Estado de
                                Pagos</a>
                        </li>
                        <li><a href="#reporte" data-toggle="tab">Reportes</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <article id="turno" class="tab-pane active">
                            {% for turno in turnos %}
                                <h1>
                                    <a href="{% url 'invoice-turno' turno.id %}">{{ turno }}</a>
                                </h1>
                                <h3>Total de Ventas: {{ turno.venta }}</h3>
                                <table class="table table-striped table-bordered table-condensed">
                                    <caption>Reporte de Facturaci&oacute;n
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th>Tipo de Pago</th>
                                        <th>Monto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Apertura</td>
                                        <td>{{ turno.apertura }}</td>
                                    </tr>
                                    {% for metodo, monto in turno.pagos %}
                                        <tr>
                                            <td>{{ metodo }} Facturado</td>
                                            <td>{{ monto }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>Total de Ingresos</th>
                                        <th>{{ turno.ingresos }}</th>
                                    </tr>
                                    {% for cierre in turno.cierres.all %}
                                        <tr>
                                            <td>En Caja {{ cierre.pago }}</td>
                                            <td>{{ cierre.monto }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>Total en Caja</th>
                                        <th>{{ turno.total_cierres }}</th>
                                    </tr>
                                    {% for diferencia, monto in turno.diferencia %}
                                        <tr>
                                            <td>Diferencia {{ diferencia }}</td>
                                            <td>{{ monto }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Menos Apertura</td>
                                        <td>{{ turno.apertura }}</td>
                                    </tr>
                                    <tr>
                                        <th>Diferencia Total de Cierre</th>
                                        <th>{{ turno.diferencia_total }}</th>
                                    </tr>
                                    <tr>
                                        <th>Dep&oacute;sitos de Admisiones</th>
                                        <th>{{ turno.depositado }}</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            {% endfor %}
                        </article>
                        <article id="pendientes" class="tab-pane">
                            <table class="table table-striped">
                                <caption>Recibos Pendientes</caption>
                                <thead class="gradient">
                                <tr>
                                    <th>C&oacute;digo</th>
                                    <th>Nombre</th>
                                    <th>Cajero</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recibo in pendientes %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="{% url 'persona-view-id' recibo.cliente.id %}">
                                                {% if recibo.cliente.identificacion %}
                                                    {{ recibo.cliente.identificacion }}
                                                {% else %}
                                                    {{ recibo.cliente.id }}
                                                {% endif %}
                                            </a></td>
                                        <td>
                                            {{ recibo.cliente.nombre_completo }}
                                        </td>
                                        <td>{{ recibo.cajero }}</td>
                                        <td><a class="btn btn-success"
                                               href="{% url 'invoice-view-id' recibo.id %}">Ver
                                            Recibo</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </article>
                        {% if config.HOSPITALIZACION_ENABLED %}
                            <article id="admisiones" class="tab-pane">
                                <table class="table table-striped">
                                    <caption>Admisiones sin Facturar</caption>
                                    <thead class="gradient">
                                    <tr>
                                        <th>C&oacute;digo</th>
                                        <th>Nombre</th>
                                        <th>Edad</th>
                                        <th>Sexo</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for admision in admisiones %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'persona-view-id' admision.paciente.id %}">
                                                    {% if admision.paciente.identificacion %}
                                                        {{ admision.paciente.identificacion }}
                                                    {% else %}
                                                        {{ admision.paciente.id }}
                                                    {% endif %}
                                                </a></td>
                                            <td>
                                                {{ admision.paciente.nombre_completo }}
                                                <ul>
                                                    {% for deposito in admision.depositos.all %}
                                                        <li>
                                                            Dep&oacute;sito {{ deposito.fecha }} {{ deposito.monto }}
                                                            <a class="btn btn-primary"
                                                               href="{% url 'deposito-invoice' deposito.id %}">Facturar</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>{{ admision.paciente.obtener_edad }}</td>
                                            <td>{{ admision.paciente.get_sexo_display }}</td>
                                            <td>
                                                <a class="btn btn-block btn-primary"
                                                   href="{% url 'admision-invoice' admision.id %}">Facturar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </article>
                        {% endif %}
                        <article id="emergencias" class="tab-pane">
                            <table class="table table-striped no-more-tables">
                                <caption>Emergencias sin Facturar</caption>
                                <thead class="gradient">
                                <tr>
                                    <th>Identificaci&oacute;n</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Fecha</th>
                                    <th>Atendi&oacute;</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for emergencia in emergencias %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'persona-view-id' emergencia.persona.id %}">
                                                {% if emergencia.persona.identificacion %}
                                                    {{ emergencia.persona.identificacion }}
                                                {% else %}
                                                    {{ emergencia.persona.id }}
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>{{ emergencia.persona.nombre_completo }}</td>
                                        <td>{{ emergencia.persona.obtener_edad }}</td>
                                        <td>{{ emergencia.persona.get_sexo_display }}</td>
                                        <td>{{ emergencia.created|date:"d/m/Y H:i" }}</td>
                                        <td>{{ emergencia.usuario }}</td>
                                        <td>
                                            {% if not emergencia.facturada %}
                                                <a class="btn btn-block btn-primary"
                                                   href="{% url 'emergency-invoice' emergencia.id %}">Facturar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </article>
                        <article id="consulta" class="tab-pane">
                            <table class="table table-striped no-more-tables">
                                <caption>Consultas sin Facturar</caption>
                                <thead class="gradient">
                                <tr>
                                    <th>Identificaci&oacute;n</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Fecha</th>
                                    <th>Consultorio</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for consulta in consultas %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-info"
                                               href="{% url 'persona-view-id' consulta.persona.id %}">
                                                {% if consulta.persona.identificacion %}
                                                    {{ consulta.persona.identificacion }}
                                                {% else %}
                                                    {{ consulta.persona.id }}
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>{{ consulta.persona.nombre_completo }}</td>
                                        <td>{{ consulta.persona.obtener_edad }}</td>
                                        <td>{{ consulta.persona.get_sexo_display }}</td>
                                        <td>{{ consulta.created|date:"d/m/Y H:i" }}</td>
                                        <td>{{ consulta.consultorio }}</td>
                                        <td>
                                            {% if not consulta.facturada %}
                                                <a class="btn btn-block btn-primary"
                                                   href="{% url 'consulta-invoice' consulta.id %}">Facturar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </article>
                        {% if config.IMAGENES_ENABLED %}
                            <article id="imagenes" class="tab-pane">
                                <table class="table table-striped no-more-tables">
                                    <caption>Estudios de Im&aacute;genes sin
                                        Facturar
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th>Examen</th>
                                        <th>Identificaci&oacute;n</th>
                                        <th>Nacimiento</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for examen in examenes %}
                                        <tr>
                                            <td>{{ examen.fecha }}</td>
                                            <td>{{ examen.persona.nombre_completo }}</td>
                                            <td>{{ examen.tipo_de_examen.nombre }}</td>
                                            <td>{{ examen.persona.identificacion }}</td>
                                            <td>{{ examen.persona.nacimiento }}</td>
                                            <td>
                                                <a class="btn btn-block btn-primary"
                                                   href="{% url 'examen-invoice' examen.id %}">Facturar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </article>
                        {% endif %}
                        <article id="pagos" class="tab-pane">
                            {% for stat in status.all %}
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <h3>
                                            {{ stat }}
                                            <small>
                                                Total: {{ stat.total }}
                                            </small>
                                        </h3>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Recibo</th>
                                                <th>Fecha y Hora</th>
                                                <th>M&eacute;todo</th>
                                                <th>Monto</th>
                                                <th>Total Recibo</th>
                                                <th>Total Pagado</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for pago in stat.pagos.all %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'invoice-view-id' pago.recibo.id %}">{{ pago.recibo }}</a>
                                                    </td>
                                                    <td>{{ pago.created }}</td>
                                                    <td>{{ pago.tipo }}</td>
                                                    <td>{{ pago.monto }}</td>
                                                    <td>{{ pago.recibo.total }}</td>
                                                    <td>{{ pago.recibo.pagado }}</td>
                                                    <td>
                                                        <a class="btn btn-primary"
                                                           href="{% url 'invoice-pago-status-edit' pago.id %}">Cambiar
                                                            Estado</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </article>
                        <article id="reporte" class="tab-pane">
                            <div class="row">
                                <section class="col-md-4">
                                    {% crispy reciboperiodoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy productoperiodoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy emerperiodoform %}
                                </section>
                            </div>
                            <div class="row">
                                <section class="col-md-4">
                                    {% crispy tipopagoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy ventaperiodoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy corteform %}
                                </section>
                            </div>
                            <div class="row">
                                <section class="col-md-4">
                                    {% crispy recibodetailform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy tipoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy inventarioform %}
                                </section>
                            </div>
                            <div class="row">
                                <section class="col-md-4">
                                    {% crispy ventaareaperiodoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy pagoform %}
                                </section>
                                <section class="col-md-4">
                                    {% crispy estadisticasform %}
                                </section>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <aside class="col-md-3">
            <div class="toolbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="{% url 'invoice-new' %}">Crear
                                Recibo</a>
                        </li>
                        {% if not turno %}
                            <li><a href="{% url 'invoice-turno-nuevo' %}">Abrir
                                Turno</a></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'invoice-turno-activo' %}">Turnos
                                Activos</a>
                        </li>
                        <li>
                            <a href="{% url 'invoice-estadisticas' %}">Estad&iacute;sticas</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
{% block scripts %}
    {{ ventaperiodoform.media.js }}
{% endblock %}
