{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
  <aside class="col-md-3">
    <nav class="sidebar-nav">
      <ul class="nav nav-stacked nav-tabs">
        <li>
          <a href="{% url 'invoice-index' %}">Regresar a Caja</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="col-md-9">
    <form method="post" class="form-horizontal">
      {{ form.management_form }}
      {% crispy persona_form %}
      {% for subform in form %}
        {% crispy subform %}
      {% endfor %}
    </form>
  </section>
</div>
{% endblock %}
