{% extends 'base.html' %}
{% block title %} Recibo {{ recibo.numero }} {% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load humanize %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <section class="page-header">
                    <h1>{{ recibo.numero }} - {{ recibo }}
                        <small>{{ recibo.created|date:"d/m/Y P" }}</small>
                    </h1>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-inner">
                        <a href="#" class="navbar-brand">Acciones</a>
                        <ul class="nav navbar-nav">
                            {% if recibo.cerrado == False %}
                            <li>
                                <a href="{% url 'invoice-index' %}">Regresar a Caja</a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-nullify' recibo.id %}">Anular Recibo</a>
                            </li>
                            <li>
                                <a href="{% url 'venta-add' recibo.id %}">Agregar Venta</a>
                            </li>
                            <li>
                                <a href="{% url 'pago-add' recibo.id %}">Agregar Pago</a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-close' recibo.id %}">Cerrar Recibo</a>
                            </li>
                            {% endif %}
                            {% if recibo.credito %}
                                <li>
                                    <a href="{% url 'invoice-print-credito' recibo.id %}">Imprimir Recibo</a>
                                </li>
                            {% else %}
                            <li>
                                <a href="{% url 'invoice-print' recibo.id %}">Imprimir Recibo</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'invoice-index' %}">Volver a Caja</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <table class="table table-striped table-bordered">
                    <caption>Conceptos a Facturar</caption>
                    <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Concepto</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                        <th>Descuento {{ recibo.tipo_de_venta.descripcion }}</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for venta in recibo.ventas.all %}
                        <tr>
                            <td>{{ venta.cantidad }}</td>
                            <td><a href="{% url 'venta-delete' venta.id %}"><i
                                    class="glyphicon glyphicon-trash"></i></a>{{ venta.descripcion }} {{ venta.item }}</td>
                            <td>{{ venta.precio }}</td>
                            <td>{{ venta.total_vendido }}</td>
                            <td>{{ venta.descuento }}</td>
                            <td>{{ venta.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>Subtotal:</th>
                        <th>{{ recibo.subtotal }}</th>
                    </tr>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>Impuestos:</th>
                        <th>{{ recibo.impuesto }}</th>
                    </tr>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>Descuento:</th>
                        <th>{{ recibo.descuento }}</th>
                    </tr>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                        <th>Total:</th>
                        <th>{{ recibo.total }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-content col-md-12">‏
                <table class="table table-striped table-bordered">
                    <caption>Pagos</caption>
                    <thead>
                    <tr>
                        <th>M&eacute;todo</th>
                        <th>Monto</th>
                        <th>Comprobante</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pago in recibo.pagos.all %}
                        <tr>
                            <td>{{ pago.tipo }}</td>
                            <td>{{ pago.monto }}</td>
                            <td>{{ pago.comprobante }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Total Pagado</th>
                        <th>{{ recibo.pagado }}</th>
                    </tr>
                    <tr>
                        <th>Monto Debido</th>
                        <th>{{ recibo.debido }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
