{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}
<div class="row">
  <div class="span12">
    <section class="page-header">
      <h1>{{ recibo.numero }} - {{ recibo }} <small>{{ recibo.created|date:"d/m/Y P" }}</small></h1>
    </section>
  </div>
</div>
<div class="row">
  <div id="informacion" class="span12">
      <nav class="navbar no-print">
        <div class="navbar-inner">
            <a href="#" class="brand">Acciones</a>
          <ul class="nav">
              <li>
                  <a href="{% url 'invoice-index' %}">Regresar a Caja</a>
              </li>
              <li>
                  <a href="{% url 'invoice-nullify' recibo.id %}">Anular Recibo</a>
              </li>
              <li>
                  <a href="{% url 'invoice-print' recibo.id %}">Imprimir Recibo</a>
              </li>
              <li>
                  <a href="{% url 'invoice-close' recibo.id %}">Cerrar Recibo</a>
              </li>
          </ul>
        </div>
      </nav>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Concepto</th>
          <th>Descripci&oacute;n</th>
          <th>Precio unitario</th>
          <th>Descuento {{ recibo.tipo_de_venta.descripcion }}</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for venta in recibo.ventas.all %}
        <tr>
          <td>{{ venta.cantidad }}</td>
          <td>{{ venta.item.descripcion }}</td>
          <td>{{ venta.descripcion }}</td>
          <td>{{ venta.precio_previo }}</td>
            <td>{{ venta.descuento_tipo }}</td>
          <td>{{ venta.monto }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">&nbsp;</th>
          <th>Subtotal:</th>
          <th>{{ recibo.subtotal }}</th>
        </tr>
        <tr>
          <th colspan="4">&nbsp;</th>
          <th>Impuestos:</th>
          <th>{{ recibo.impuesto }}</th>
        </tr>
        <tr>
          <th colspan="4">&nbsp;</th>
          <th>Descuento:</th>
          <th>{{ recibo.descuento }}</th>
        </tr>
        <tr>
          <th colspan="4">&nbsp;</th>
          <th>Total:</th>
          <th>{{ recibo.total }}</th>
        </tr>
      </tfoot>
    </table>
    {% ifequal recibo.cerrado False %}
    {% crispy form %}
    {% endifequal %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ form.media }}
<script type="text/javascript">
  $(document).ready(function(){
    $(".chzn-select").chosen();
  });
</script>
{% endblock %}
