{% extends 'base.html' %}
{% block content %}
<aside class="grid_3 toolbox">
  <nav>
    <ul>
      <li>
        <a href="{% url invoice-index %}">Inicio Recibo</a>
      </li>
      <li>
        <a href="{% url examen-index %}">Inicio Estudios</a>
      </li>
    </ul>
  </nav>
</aside>
<div id="informacion" class="grid_9">
<table>
    <thead>
        <tr>
            <th>N&uacute;mero</th>
            <th>Paciente</th>
            <th>Total<th>
        </tr>
    </thead>
    <tbody>
        {% for recibo in recibos %}
        <tr>
            <td>{{ recibo.id }}<td>
            <td>{{ recibo.cliente.nombre_completo }}<td>
            <td>{{ recibo.total }}<td>
        </tr>
        {% endfor %}
    </tbody>
<table>
</div>
{% endblock %}
