{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <aside class="span3">
            <nav class="well sidebar-nav">
                <ul class="nav nav-list">
                </ul>
            </nav>
        </aside>
        <section class="span6">
            {% crispy form %}
            {% include 'snippets/cargo_table.html' %}
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
