{% extends 'base.html' %}
{% block title %} Turno de Caja {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main-content">
            <section class="page-header">
                <h1>Reporte {{ turno.id }} de Cajero {{ turno.usuario }}
                    <small>del {{ turno.inicio }} al {{ turno.fin }}</small>
                </h1>
            </section>
        </div>
    </div>
    {% if turno.finalizado %}
        <section class="row no-print">
            <div class="col-md-12 main-content">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-inner">
                        <a href="#" class="navbar-brand">Acciones</a>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="javascript:print();">Imprimir
                                    Reporte</a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-index' %}">Volver a
                                    Caja</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    {% endif %}
    <section class="row">
        {% ifnotequal turno.finalizado True %}
            <div class="col-md-3 no-print">
                <div class="toolbox col-md-12">
                    <nav class="sidebar-nav">
                        <ul class="nav nav-stacked nav-tabs">
                            <li>
                                <a href="{% url 'invoice-new' %}">Crear
                                    Recibo</a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-cierre-nuevo' turno.id %}">
                                    Agregar Pago de Cierre
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-turno-edit' turno.id %}">
                                    Editar Turno
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-turno-cerrar' turno.id %}">
                                    Cerrar Turno
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'invoice-index' %}">
                                    Regresar a Caja
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-9 main-content">
        {% else %}
            <div class="col-md-12 main-content">
        {% endifnotequal %}
        <h3>Total de Ventas: {{ turno.venta }}</h3>
        <table class="table table-striped table-bordered table-condensed">
            <caption>Reporte de Facturaci&oacute;n</caption>
            <thead>
            <tr>
                <th>Tipo de Pago</th>
                <th>Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Apertura</td>
                <td>{{ turno.apertura }}</td>
            </tr>
            {% for metodo, monto in turno.pagos %}
                <tr>
                    <td>{{ metodo }} Facturado</td>
                    <td>{{ monto }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>Total de Ingresos</th>
                <th>{{ turno.ingresos }}</th>
            </tr>
            {% for cierre in turno.cierres.all %}
                <tr>
                    <td>En Caja {{ cierre.pago }}</td>
                    <td>{{ cierre.monto }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>Total en Caja</th>
                <th>{{ turno.total_cierres }}</th>
            </tr>
            {% for diferencia, monto in turno.diferencia %}
                <tr>
                    <td>Diferencia {{ diferencia }}</td>
                    <td>{{ monto }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Menos Apertura</td>
                <td>{{ turno.apertura }}</td>
            </tr>
            <tr>
                <th>Diferencia Total de Cierre</th>
                <th>{{ turno.diferencia_total }}</th>
            </tr>
            <tr>
                <th>Dep&oacute;sitos de Admisiones</th>
                <th>{{ turno.depositado }}</th>
            </tr>
            </tfoot>
        </table>
        </div>
    </section>
{% endblock %}
