{% extends 'base.html' %}
{% block title %} Turno de Caja {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main-content">
            <section class="page-header">
                <h1>Reporte {{ turno.id }} de Cajero {{ turno.usuario }}
                    <small>del {{ turno.inicio }} al {{ turno.fin }}</small>
                </h1>
            </section>
        </div>
    </div>
    <section class="row">
        <div class="main-content col-md-12 table-responsive">‏
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>N&uacute;mero</th>
                    <th>Fecha</th>
                    <th>Paciente</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for recibo in turno.recibos %}
                    <tr>
                        <td>
                            <a href="{{ recibo.get_absolute_url }}">{{ recibo.numero }}</a>
                        </td>
                        <td>{{ recibo.created }}</td>
                        <td>{{ recibo }}</td>
                        <td>{{ recibo.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="3">Total:</th>
                    <th>{{ total }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
{% endblock %}
