{% extends 'base.html' %}
{% block content %}
{% include 'snippets/consultorio_aside.html' with consultorio=consultorio %}
<article id="consultorio">
  <div>
    <h1>Consultorio {{ consultorio.nombre }}</h1>
    <h2>{{ consultorio.doctor.user.get_full_name }}</h2>
  </div>
  <p>Secretaria: {{ consultorio.secretaria.user.get_full_name }}</p>
</article>
<form class="styled" method="get" action="{% url 'consultorio-pago-diario' consultorio.uuid %}">
    <h1>Reporte de Pagos Diarios</h1>
    {% include 'snippets/form.html' with form=formulario_diario %}
    <p>
      <input type="submit" value="Guardar" />
    </p>
  </form>
{% endblock %}
