{% extends 'base.html' %}
{% load fieldtags %}
{% block content %}
<form class="styled" method="post">
  {% csrf_token %} <h1>Agregar una Optometria</h1>
  <div id="messages"></div>
    {{ form.paciente }}
    <div>
    <table class="table table-striped table-bordered">
      <thead class="gradient">
        <tr>
          <th>&nbsp;</th>
          <th>Esfera</th>
          <th>Cilindro</th>
          <th>Eje</th>
          <th>Prisma</th>
          <th>Adici&oacute;n</th>
          <th>D.P.</th>
          <th>Altura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ojo Derecho</td>
          <td>{{ form.esfera_ojo_derecho.errors }}{{ form.esfera_ojo_derecho }}</td>
          <td>{{ form.cilindro_ojo_derecho.errors }}{{ form.cilindro_ojo_derecho }}</td>
          <td>{{ form.eje_ojo_derecho.errors }}{{ form.eje_ojo_derecho }}</td>
          <td>{{ form.prisma_ojo_derecho.errors }}{{ form.prisma_ojo_derecho }}</td>
          <td>{{ form.adicion_ojo_derecho.errors }}{{ form.adicion_ojo_derecho }}</td>
          <td>{{ form.d_p_ojo_derecho.errors }}{{ form.d_p_ojo_derecho }}</td>
          <td>{{ form.altura_ojo_derecho.errors }}{{ form.altura_ojo_derecho }}</td>
        </tr>
        <tr>
          <td>Ojo Izquierdo</td>
          <td>{{ form.esfera_ojo_izquierdo.errors }}{{ form.esfera_ojo_izquierdo }}</td>
          <td>{{ form.cilindro_ojo_izquierdo.errors }}{{ form.cilindro_ojo_izquierdo }}</td>
          <td>{{ form.eje_ojo_izquierdo.errors }}{{ form.eje_ojo_izquierdo }}</td>
          <td>{{ form.prisma_ojo_izquierdo.errors }}{{ form.prisma_ojo_izquierdo }}</td>
          <td>{{ form.adicion_ojo_izquierdo.errors }}{{ form.adicion_ojo_izquierdo }}</td>
          <td>{{ form.d_p_ojo_izquierdo.errors }}{{ form.d_p_ojo_izquierdo }}</td>
          <td>{{ form.altura_ojo_izquierdo.errors }}{{ form.altura_ojo_izquierdo }}</td>
        </tr>
    </tbody>
  </table>
  <p>{{ form.notas.label }}{{ form.notas }}</p>
  </div>
  <p>
    <input type="submit" value="Guardar" />
  </p> </form>
  {% endblock %}
