{% extends 'base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block content %}
<div id="informacion" class="col-md-9">
    <div class="main-content col-md-12">‏
      <h1>Optometrias de {{ paciente.persona.nombre_completo }}</h1>
      <table class="table table-striped table-bordered">
          <thead class="gradient">
            <tr>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for optometria in paciente.optometrias.all %}
            <tr>
              <td>{{ optometria.fecha_y_hora|date:"d/m/Y H:i" }}</td>
              <td>
                <a href="{% url 'consultorio-optometria-view' optometria.id %}">Ver</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
