{% extends 'base.html' %}
{% load l10n %}
{% load staticfiles %}{% load thumbnail %}
{% block content %}
{% include 'snippets/consultorio_aside.html' with consultorio=consultorio %}
<div id="informacion" class="col-md-9">
    <div class="main-content col-md-12">‏
        <h1>Pagos del {{ dia|date:"d/m/Y" }}</h1>
          <table class="table table-striped table-bordered">
          <thead class="gradient">
            <tr>
              <th>Fecha y Hora</th>
              <th>Nombre</th>
              <th>Concepto</th>
              <th>Monto</th>
            </tr>
          </thead>
          {% localize off %}
          <tbody>
            {% for pago in pagos.all %}
            <tr>
              <td>{{ pago.fecha_y_hora|date:"d/m/Y H:i" }}</td>
              <td>{{ pago.paciente.persona.nombre_completo }}</td>
              <td>{{ pago.concepto }}</td>
              <td>{{ pago.monto }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot class="gradient">
            <tr>
              <th>Total:</th>
              <th>{{ total }}</th>
            </tr>
          </tfoot>
          {% endlocalize %}
        </table>
    </div>
</div>
{% endblock %}
