Django>=1.6
Pillow
South
django-bootstrap-pagination
-e git://github.com/comoga/django-constance#egg=django-constance
django-constance[database]
django-countries
django-crispy-forms
django-extensions
-e git://github.com/SpectralAngel/django-select2-forms.git#egg=django-select2-forms-master
django-tastypie
django-templated-email
django-userena
simplejson
six
