django>=1.5
django_countries
django-treemenus
sorl.thumbnail
python-whoosh
haystack>=2.0.0-beta
django-tastypie
django-extensions
south
django-audit-log
django-templated-email
django-userena
django-chosen
