<aside class="col-md-3">
    <div class="toolbox col-md-12">
          <nav>
            <ul>
              <li>
                <a href="{% url 'consultorio-index' %}">Mis Consultorios</a>
              </li>
              <li>
                <a href="{% url 'consultorio-pacientes' consultorio.uuid %}">Mis Pacientes</a>
              </li>
              <li>
                <a href="{% url 'consultorio-citas' consultorio.uuid %}">Mostrar Citas</a>
              </li>
              <li>
                <a href="{% url 'consultorio-espera' consultorio.id %}">Sala de Espera</a>
              </li>
            </ul>
          </nav><nav>
            <ul>
              <li>
                <a href="{% url 'consultorio-paciente-nuevo' consultorio.id %}">Agregar Paciente</a>
              </li>
              <li>
                <a href="{% url 'consultorio-cita-nueva' %}">Agregar Cita</a>
              </li>
              {% if request.user.id == consultorio.doctor.user.id %}
              <li>
                <a href="{% url 'consultorio-secretaria-agregar' consultorio.id %}">Agregar Secretaria</a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>
</aside>
