{% extends 'base.html' %}
{% block content %}
<section class="col-md-9 lista" id="emergencias">
  <div class="page-header"><h1>Emergencias del D&iacute;a de Hoy</h1></div>
  {% ifequal emergencias.count 0 %}
    <p>No hay emergencias atendidas el d&iacute;a de hoy</p>
  {% endifequal %}
  {% for emergencia in emergencias %}
    <article class="emergencia cobros">
      <div class="page-header">
        <h2>{{ emergencia.persona.nombre_completo }}</h2>
        <small>Hora de Registro: {{ emergencia.created|date:"d/m/Y P" }}</small>
      </div>
      {% include 'emergency/snippets/cargos.html' with emergencia=emergencia %}
    </article>
  {% endfor %}
</section>
<aside class="col-md-3">
    <nav class="well sidebar-nav">
        <ul class="nav nav-list">
            <li><a href="{% url 'invoice-index' %}">Regresar a caja</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
