{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% block header %}
        {{ form.media.css }}
    {% endblock %}
    <div class="row">
        <section class="col-md-9 main-content">
            {% crispy form %}
        </section>
        <aside class="col-md-3">
            <nav class="toolbox sidebar-nav">
                <ul class="nav nav-stacked nav-tabs">
                    <li><a href="{% url 'emergency-view-id' emergencia.id %}">Regresar
                        a emergencia</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div class="row">
        <section id="cargos" class="col-md-12 main-content">
            {% include 'emergency/snippets/cargos.html' with emergencia=emergencia %}
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}
