{% extends 'base.html' %}
{% block title %}{{ emergencia.persona.nombre_completo }}{% endblock %}
{% block menu %}
    {% include "snippets/navbar.html" with active_tab='tab12' %}
{% endblock %}
{% block content %}
    <div class="row main-header">
        <div class="col-md-12">
            <div class="page-title-box">‏
                <h4 class="page-title">{{ emergencia.persona.nombre_completo }} <small>Emergencia</small></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="row">
              <div class="main-content col-md-12 panel panel-default">‏
                <div class="panel-heading m-0" style="padding: 0px; margin-bottom: 10px !important;">
                  <h4 class="title-heading">M&eacute;dico Tratante: Dr. {{ emergencia.usuario.get_full_name }}</h4>
                </div>
                <p>Hora de Registro: {{ emergencia.created|date:"d/m/Y P" }}</p>
                <section class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab"><a href="#paciente" data-toggle="tab">Datos Personales</a></li>
                        <li><a href="#emergencia" data-toggle="tab">Datos Emergencia</a></li>
                    </ul>
                    <div class="tab-content">
                        <article id="paciente" class="tab-pane active">
                            {% include 'persona/antecedentes.html' with persona=emergencia.persona %}
                        </article>
                        <article id="emergencia" class="tab-pane">
                            {% include 'emergency/snippets/emergencia.html' with emergencia=emergencia %}
                        </article>
                    </div>
                </section>
              </div>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="toolbox panel panel-cardbox col-md-12">
                <nav class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{% url 'emergencia-update' emergencia.id %}">Editar Emergencia</a></li>
                        <li><a href="{% url 'emergencia-hallazgo-agregar' emergencia.id %}">Agregar Hallazgos</a></li>
                        <li><a href="{% url 'emergencia-examen-fisico-agregar' emergencia.id %}">Agregar Examen F&iacute;sico</a>
                        </li>
                        <li><a href="{% url 'emergencia-diagnostico-agregar' emergencia.id %}">Agregar Examen
                            Diagnostico</a></li>
                        <li><a href="{% url 'emergencia-tratamiento-agregar' emergencia.id %}">Agregar Tratamiento</a></li>
                        <li><a href="{% url 'emergencia-cobro-agregar' emergencia.id %}">Agregar Materiales y
                            Medicamentos</a></li>
                        <li><a href="{% url 'emergencia-remision-interna-agregar' emergencia.id %}">Remitir a un M&eacute;dico</a>
                        </li>
                        <li><a href="{% url 'emergencia-remision-externa-agregar' emergencia.id %}">Remitir otro Centro M&eacute;dico</a>
                        </li>
                        <li><a href="{% url 'preadmitir' emergencia.id %}">Remitir a Admisiones</a></li>
                    </ul>
                </nav>
                <nav class="sidebar-nav">
                    {% include 'snippets/persona_menu.html' with persona=emergencia.persona %}
                </nav>
            </div>
        </aside>
    </div>
{% endblock %}
