{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="page-header">
                <h1>{{ admision.paciente.nombre_completo }} <br/>
                    <small>
                        {{ admision.habitacion }}, Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                    </small>
                </h1>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12 table-responsive">
                <div class="row">
                    {% include 'snippets/medicamentos.html' %}
                </div>
                <div class="row">
                    <section class="col-md-9">
                        <div class="page-header">
                            <h2>Materiales y Medicamentos Utilizados</h2>
                        </div>
                        {% include 'snippets/cargo_table.html' %}
                    </section>
                </div>
            </div>
        </section>
        {% include 'snippets/aside.html' with admision=admision %}
    </div>
{% endblock %}
