{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="page-header">
                <h1>{{ admision.paciente.nombre_completo }} <br/>
                    <small>
                        {{ admision.habitacion }}, Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                    </small>
                </h1>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col-md-9">
            <div class="main-content col-md-12">
                <div class="row">
                    <article id="ingestas" class="col-md-9">
                        {% include 'snippets/ingesta_table.html' %}
                        <a href="{% url 'enfermeria-ingesta-agregar' admision.id %}" class="btn btn-primary">Agregar
                            Ingesta</a>
                    </article>
                    <article id="excretas" class="col-md-9">
                        {% include 'snippets/excreta_table.html' %}
                        <a href="{% url 'enfermeria-excreta-agregar' admision.id %}" class="btn btn-primary">Agregar
                            Excreta</a>
                    </article>
                </div>
            </div>
        </section>
        {% include 'snippets/aside.html' with admision=admision %}
    </div>
{% endblock %}
