{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <section class="col-md-12">
            <div class="main-content col-md-12">
                <div class="page-header">
                    <h1>{{ admision.paciente.nombre_completo }} <br/>
                        <small>
                            {{ admision.habitacion }},
                            Dr. {{ admision.doctor }}, {{ admision.diagnostico }}
                        </small>
                    </h1>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div id="admision" class="col-md-9">
            <div class="main-content col-md-12">
                <div id="signos_vitales" class="bloque-superior">
                    <article id="temperatura-article">
                        <section>
                            <div id="temperatura" class="grafica"></div>
                        </section>
                        <p>&nbsp;</p>

                        <h3>Promedio: {{ temp_promedio|floatformat:2 }} grados</h3>
                    </article>
                    <article id="presion-article">
                        <div id="presion" class="grafica"></div>
                        <p>&nbsp;</p>

                        <h3>Promedio: {{ presion_sistolica_promedio|floatformat:2 }}
                            / {{ presion_diastolica_promedio|floatformat:2 }}</h3>
                    </article>
                    <article id="pulso-article">
                        <div id="pulso" class="grafica"></div>
                        <p>&nbsp;</p>

                        <h3>Promedio: {{ pulso_promedio|floatformat:2 }}</h3>
                    </article>
                </div>
            </div>
        </div>
        {% include 'snippets/aside.html' with admision=admision %}
    </div>
{% endblock %}
{% block scripts %}
    {% include 'snippets/signos_js.html' %}
{% endblock %}
